<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/Masa.Blazor/css/masa-blazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Masa.Blazor.SsrPlayground.styles.css" />
    <link href="https://cdn.masastack.com/npm/@("@mdi")/font@7.1.96/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <MSsrThemeProvider @rendermode="@InteractiveServer"/>
</head>

<body>
    <Routes />
    <MSsrAppProvider @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BlazorComponent/js/blazor-component.js"></script>
</body>

</html>
