<div>
    <MCard>
        <MResponsive AspectRatio="16/9D">
            <MCardText>
                This card will always be 16:9 (unless you put more stuff in it)
            </MCardText>
        </MResponsive>
    </MCard>
</div>