<div class="text-center">
    @if (!_chip1 && !_chip2 && !_chip3 && !_chip4)
    {
        <MButton Color="primary"
                 Dark
                 OnClick="() => { _chip1 = true; _chip2 = true; _chip3 = true; _chip4 = true; }">
            Reset Chips
        </MButton>
    }

    @if (_chip1)
    {
        <MChip Class="ma-2"
               Close
               OnCloseClick="()=> _chip1 = false">
            Closable
        </MChip>
    }

    @if (_chip2)
    {
        <MChip Class="ma-2"
               Close
               Color="red"
               TextColor="white"
               OnCloseClick="()=>_chip2 = false">
            Remove
        </MChip>
    }

    @if (_chip3)
    {
        <MChip Class="ma-2"
               Close
               Color="green"
               Outlined
               OnCloseClick="()=>_chip3 = false">
            Success
        </MChip>
    }

    @if (_chip4)
    {
        <MChip Class="ma-2"
               Close
               Color="orange"
               Label
               Outlined
               OnCloseClick="()=>_chip4 = false">
            Complete
        </MChip>
    }
</div>

@code{
    private bool _chip1 = true;
    private bool _chip2 = true;
    private bool _chip3 = true;
    private bool _chip4 = true;
}