<div class="ma-12 pa-12">
    <MCard>
        <MNavigationDrawer Permanent ExpandOnHover>
            <MList>
                <MListItem Class="px-2">
                    <MListItemAvatar Size="40">
                        <MImage Src="https://randomuser.me/api/portraits/women/85.jpg"></MImage>
                    </MListItemAvatar>
                </MListItem>

                <MListItem Link>
                    <MListItemContent>
                        <MListItemTitle Class="text-h6">
                            Sandra Adams
                        </MListItemTitle>
                        <MListItemSubtitle>andra_a88@gmail.com</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            </MList>

            <MDivider></MDivider>

            <MList Nav Dense>
                <MListItem Link>
                    <MListItemIcon>
                        <MIcon>mdi-folder</MIcon>
                    </MListItemIcon>
                    <MListItemTitle>My Files</MListItemTitle>
                </MListItem>
                <MListItem Link>
                    <MListItemIcon>
                        <MIcon>mdi-account-multiple</MIcon>
                    </MListItemIcon>
                    <MListItemTitle>Shared with me</MListItemTitle>
                </MListItem>
                <MListItem Link>
                    <MListItemIcon>
                        <MIcon>mdi-star</MIcon>
                    </MListItemIcon>
                    <MListItemTitle>Starred</MListItemTitle>
                </MListItem>
            </MList>
        </MNavigationDrawer>
    </MCard>
</div>