<div style=" height: 40px; display: flex; align-items: center; }">
    <MButton Text>
        News
    </MButton>

    <MDivider Vertical></MDivider>

    <MButton Text>
        Blog
    </MButton>

    <MDivider Vertical></MDivider>

    <MButton Text>
        Music
    </MButton>

    <MDivider Vertical></MDivider>
</div>
