.masa-table__toolbar .masa-table__toolbar-tabs .view-tab.active {
  background-color: var(--m-theme-surface-container);
}

.masa-table__toolbar .masa-table__toolbar-tabs .view-tab {
  text-transform: none;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.masa-table__toolbar .masa-table__toolbar-tabs .view-tab .m-text-field input {
  font-size: .875rem;
  letter-spacing: .0892857143em;
}

.masa-table__toolbar-actions {
  padding: 8px;
  background-color: var(--m-theme-surface-container);
}

.masa-table-viewer {
  font-size: 14px;
  overflow:auto;
}

.masa-table-viewer--low {
  --mt-line-clamp: 1;
  --mt-row-height: 41px;
}

.masa-table-viewer--medium {
  --mt-line-clamp: 2;
  --mt-row-height: 62px;
}

.masa-table-viewer--high {
  --mt-line-clamp: 4;
  --mt-row-height: 104px;
}

.masa-table-viewer > table {
  border-collapse: collapse;
}

.masa-table-viewer__header {
  display: flex;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.masa-table-viewer__header-column {
  width: 180px;
  padding: 0 8px;
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.masa-table-viewer__header-column:last-child {
  border-right: none;
}

.masa-table-viewer__header-column-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.masa-table-viewer__header-column-content .menu {
  display: none;
}

.masa-table-viewer__header-column-content:hover .menu {
  display: block;
}

.masa-table-viewer__row {
  display: flex;
  width: 100%;
  /*min-width: -webkit-max-content;*/
  /*min-width: -moz-max-content;*/
  /*min-width: max-content;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  transition: all .3s ease;
  height: var(--mt-row-height);
}

.masa-table-viewer__row:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.masa-table-viewer__cell {
  width: 180px;
  padding: 6px 8px;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.masa-table-viewer__cell:last-child {
  border-right: none;
}

.masa-table-viewer__cell.checkbox {
  justify-content: center;
}

.masa-table-viewer__cell.number .masa-table-viewer__cell-content {
  text-align: right;
}

.masa-table-viewer__cell-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.masa-table-viewer__cell.text .masa-table-viewer__cell-content,
.masa-table-viewer__cell.date .masa-table-viewer__cell-content{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--mt-line-clamp);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.7;
}

.m-application--is-ltr .masa-table__menu-list .m-list-item__action:first-child,
.m-application--is-ltr .masa-table__menu-list .m-list-item__icon:first-child {
  margin-right: 16px;
}

.masa-table-viewer__cell.multiselect .m-chip, .masa-table-viewer__cell.multiselect .option {
  margin-right: 4px;
}

.masa-table-viewer__cell.multiselect .m-chip:last-child, .masa-table-viewer__cell.multiselect .option:last-child {
  margin-right: 0;
}

.masa-table-viewer__cell.multiselect .option:not(:last-child):after {
  content: ',';
}

.masa-table-viewer__cell.rating .m-rating .m-icon {
  padding: 4px;
}

.masa-table-viewer__cell.image .image-list {
  display: contents;
  cursor: zoom-in;
}

.masa-table-viewer__cell.image img {
  height: 100%;
}

.m-dialog.image-viewer {
  box-shadow: none;
  outline: none;
  cursor: zoom-out;
  background-color: transparent !important;
  border-color: transparent !important;
}

.m-dialog.image-viewer .m-image__image--cover {
  background-size: contain;
}

.masa-table-dropdown .masa-table-dropdown-item .m-list-item__icon {
  margin-right: 12px;
}