<MCheckbox @bind-Value="checkbox">
    <LabelContent>
        <div>
            I agree that icon <MIcon>home</MIcon> is awesome
        </div>
    </LabelContent>
</MCheckbox>

@code {
    bool checkbox = false;
}