<MRow Justify=JustifyTypes.Center>

    <MMenu Transition="slide-x-transition">

        <ActivatorContent>
            <MButton Class="ma-2" Color="primary" @attributes="context.Attrs">
               Slide X Transition
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MList>
                @for (var i = 0; i < 5; i++)
                {
                    <MListItem>
                        <MListItemTitle>
                            @("Item"+i)
                        </MListItemTitle>
                    </MListItem>
                }
            </MList>
        </ChildContent>

    </MMenu>

    <div class="mx-4 hidden-sm-and-down"></div>

     <MMenu Transition="slide-x-reverse-transition">

        <ActivatorContent>
            <MButton Class="ma-2" Color="secondary" @attributes="context.Attrs">
               Slide X Reverse Transition
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MList>
                @for (var i = 0; i < 5; i++)
                {
                    <MListItem>
                        <MListItemTitle>
                            @("Item"+i)
                        </MListItemTitle>
                    </MListItem>
                }
            </MList>
        </ChildContent>

    </MMenu>

</MRow>