@keyframes metronome-example {
    from {
        transform: scale(.5);
    }

    to {
        transform: scale(1);
    }
}

.m-avatar--metronome {
    animation-name: metronome-example;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.e4 {
    width: 400px;
    margin: auto;
}

.m-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}




/*my css*/

p {
    margin-bottom: 0 !important;
    font-family: HarmonyOS Sans SC !important;
}

.group .mdi-chevron-left {
    font-size: 120px !important;
}

.group .mdi-chevron-right {
    font-size: 120px !important;
}

.banner-btn button {
    border-radius: 52px;
}

.why-use-blazor .m-card {
    border-radius: 15px !important;
}

.slide-group-box .m-slide-group__content {
    display: flex !important;
    align-items: center !important;
}

.slide-group-box .mdi-chevron-left {
    font-size: 120px !important;
}

.slide-group-box .mdi-chevron-right {
    font-size: 120px !important;
}

.slide-group-box .m-slide-group__prev {
    min-width: 103px !important;
}

.slide-group-box .m-slide-group__next {
    min-width: 103px !important;
}


.text-hos-20 {
    font-family: HarmonyOS Sans SC !important;
    text-transform: capitalize !important;
    font-size: 20px !important;
    line-height: 20px !important;
}

.group2 .m-slide-group__content {
    display: flex !important;
    align-items: center !important;
}

.group2 .mdi-chevron-left {
    font-size: 120px !important;
}

.group2 .mdi-chevron-right {
    font-size: 120px !important;
}

.group2 .m-slide-group__prev {
    min-width: 270px !important;
}

.group2 .m-slide-group__next {
    min-width: 270px !important;
}

.banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 867px;
    left: 1px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 24px;
}

.banner-logo-font {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 133.333px 0px 0px;
    position: static;
    width: 868px;
    height: 227.33px;
    /* Inside Auto Layout */
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 2px;
    color: #000000;
}

.banner-detail-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0px;
    position: static;
    width: 868px;
    height: 176px;
}

.banner-detail-font {
    position: static;
    width: 868px;
    height: 128px;
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    color: #4E5969;
}

.banner-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 868px;
    height: 64px;
}

.banner-img {
    position: absolute;
    width: 462px;
    height: 462px;
    left: 166px;
    top: 0px;
}

.content {
    margin: 0 80px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0px 60px;
    position: static;
    height: 208px;
}

.vedio {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1760px;
    height: 490px;
    left: 80px;
    top: 208px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.vedio-p {
    position: static;
    width: 718px;
    height: 77.33px;
    left: 0px;
    top: 0px;
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    letter-spacing: 1px;
    /* text-5强调 正文标题 */

    color: #1D2129;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.vedio-span {
    position: static;
    width: 718px;
    height: 412px;
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #1D2129;
}

.group {
    justify-content: center;
    align-items: center;
    padding: 125px 40px 0px 40px;
    width: 1760px;
}

.group1 {
    justify-content: center;
    align-items: center;
    padding: 100px 40px 0px 40px;
    width: 1760px;
}

.why-use-blazor {
    margin: 0 149px;
}

.why-img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 66.6667px 296px 26.6667px;
    position: static;
    width: 548px;
    height: 226.67px;
    left: calc(50% - 548px/2);
    top: 17.67px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.why-use-blazor-p {
    text-align: center;
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    /* text-5强调 正文标题 */
    color: #1D2129;
    opacity: 0.9;
    margin-top: 24px;
}

.why-use-blazor-span {
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #4E5969;
    margin: 20px 24px 0 24px;
}

.slide-group-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1760px;
    height: 570px;
    left: 80px;
    top: 2677px;
    /* Inside Auto Layout */

    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 0px 0px;
}

.user-name {
    text-align: center;
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #4E5969;
    margin: 32px 36px;
}

.user-name-active {
    text-align: center;
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #1D2129;
    margin: 43px 36px;
}

.user-description {
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    color: #4E5969;
    margin: 0px 16px;
}

.user-description-active {
    font-family: HarmonyOS Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 3px;
    color: #1D2129;
    margin: 0px 21px;
}

.avatar-img {
    width: 152px;
    height: 152px;
}

.comperation-company {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0px 80px;
    position: static;
    height: 442px;
    left: 0px;
    top: 3211.33px;
    /* Inside Auto Layout */

    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 0px 0px;
}

.comperation-company-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    position: static;
    width: 1920px;
    height: 186px;
    left: 0px;
    top: 168px;
    /* fill-2浅 禁用 */

    background: #F7F8FA;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

.contribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
    position: static;
    width: 1760px;
    height: 468px;
    left: 80px;
    top: 5065px;
    /* Inside Auto Layout */

    flex: none;
    order: 12;
    flex-grow: 0;
    margin: 0px 0px;
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
    position: static;
    width: 1760px;
    height: 460.39px;
    left: 80px;
    top: 5497.33px;
    /* Inside Auto Layout */

    flex: none;
    order: 13;
    flex-grow: 0;
    margin: 0px 0px;
}