@keyframes metronome-example {
    from {
        transform: scale(.5);
    }

    to {
        transform: scale(1);
    }
}

.m-avatar--metronome {
    animation-name: metronome-example;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.e4 {
    width: 400px;
    margin: auto;
}

.m-alert--doc .m-alert__content p:last-child {
    margin-bottom: 0 !important;
}

.app-link p {
    margin-bottom: 0;
}

/*scrollbar*/
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}

/*home css*/
body {
    font-family: Roboto,'Microsoft YaHei';
}

.text-20 {
    text-transform: capitalize !important;
    font-size: 20px !important;
    line-height: 20px !important;
}

.text-14 {
    text-transform: capitalize !important;
    font-size: 14px !important;
    line-height: 14px !important;
}

.fs-18 {
    font-size: 18px;
}

.mx-149 {
    margin: 0 149px;
}

.app-bar .m-toolbar__content {
    padding-top: 0;
    padding-bottom: 0;
}

.pc .app-bar {
    display: block;
}

.phone-bar {
    display: none;
}

.mtab-font .m-tab {
    font-size: 1rem !important;
}

.window-img {
    border-radius: 0 !important;
}

@media screen and (max-width: 1264px) {
    .app-bar {
        display: none !important;
    }

    .phone-bar {
        display: block !important;
    }

    .baselayout-m-app {
        background-color: #fff !important;
    }

    .mainlayout-m-main {
        margin: 80px 80px 0 80px !important;
    }

    .doc-nav-left {
        /*transform: translateX(-100%);*/
        top: 0px !important;
        width: 313px !important;
        margin-left: 0 !important;
    }

    .doc-nav-right {
        display: none;
    }
}

@media screen and (max-width: 641px) {
    .baselayout-m-app {
        background-color: #fff !important;
    }

    .app-bar {
        display: none !important;
    }

    .phone-bar {
        display: block !important;
    }

        .phone-bar .m-toolbar__content {
            padding: 4px;
        }

    .doc-nav-left {
        /*transform: translateX(-100%);*/
        top: 0px !important;
        width: 313px !important;
        margin-left: 0 !important;
    }

    .doc-nav-right {
        display: none;
    }

    .mainlayout-m-main {
        margin: 0 !important;
    }

    .app-banner {
        display: block !important;
        margin: 120px 16px 0 16px !important;
    }

    .banner {
        display: none !important;
    }

    .banner-logo-font {
        font-size: 25px !important;
        line-height: 29px !important;
        letter-spacing: 0.5px !important;
    }

    .banner-detail-box {
        margin-top: 12px !important;
    }

    .banner-detail-font {
        font-size: 12px !important;
        line-height: 16px !important;
    }

    .content {
        margin: 0 16px !important;
    }

    .information {
        padding: 40px 0 16px 0 !important;
    }

    .box-title {
        font-size: 15px !important;
        line-height: 18px !important;
    }

    .box-title-border {
        margin-top: 0 !important;
        height: 18px !important;
        border-width: 3px !important;
    }

    .box-title-more {
        font-size: 14px !important;
        line-height: 23px !important;
        letter-spacing: 1px !important;
    }

    .video video {
        height: 194px !important;
    }

    .video-description {
        margin: 16px 0px 8px 0px !important;
    }

    .video-p {
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: 0.5px !important;
        color: #4E5969 !important;
        margin: 8px 0px !important;
    }

    .video-span {
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: 1px !important;
        margin-top: 8px !important;
    }

    .video-group {
        padding-top: 18px !important;
        margin: 0 !important;
    }

        .video-group .col {
            display: flex !important;
            justify-content: center !important;
            padding: 8px 0 !important;
        }

        .video-group .m-card {
            margin: 0 !important;
            height: 247px !important;
        }

            .video-group .m-card .m-image {
                height: 204px !important;
            }

            .video-group .m-card .m-card__text {
                font-size: 14px !important;
            }

    .why-masa-blazor-card {
        margin: 0 !important;
    }

        .why-masa-blazor-card .col {
            padding: 8px 0 !important;
        }

        .why-masa-blazor-card .m-card {
            height: 91px !important;
        }

    .why-masa-blazor-card-content img {
        width: 50px !important;
        height: 50px !important;
        margin: 0 10px !important;
    }

    .why-masa-blazor-card-content {
        padding: 14px 10px !important;
        display: flex;
        flex-direction: row !important;
    }

        .why-masa-blazor-card-content.desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    .why-masa-blazor-p {
        text-align: start !important;
        font-size: 16px !important;
        line-height: 19px !important;
        margin: 0px !important;
    }

    .why-masa-blazor-span {
        text-align: start !important;
        font-size: 12px !important;
        line-height: 18px !important;
        margin: 8px 0px !important;
        -webkit-line-clamp: 2 !important;
    }

    .why-masa-blazor-card-content .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .why-masa-blazor-card .col:last-child {
        display: none !important;
    }

    .companies-box {
        margin: 0 !important;
    }

        .companies-box .col {
            display: flex !important;
            justify-content: center !important;
            padding: 8px 0 !important;
        }

        .companies-box .m-card {
            height: 241px !important;
        }

    .companies-content img {
        width: 50px !important;
        height: 50px !important;
    }

    .companies-content {
        margin: 0px !important;
        padding: 50px 0px !important;
    }

        .companies-content .user-name {
            font-size: 16px !important;
            line-height: 19px !important;
            margin-top: 8px !important;
        }

        .companies-content .user-description {
            font-size: 16px !important;
            line-height: 19px !important;
            letter-spacing: 0.5px !important;
            margin: 8px 16px !important;
            -webkit-line-clamp: 3 !important;
        }

    .cooperation-company {
        padding: 12px 0 !important;
        margin-top: 33px !important;
    }

        .cooperation-company img {
            zoom: 0.5;
        }

    .related-articles .card-box {
        margin: 0 !important;
    }

        .related-articles .card-box .col {
            padding: 8px 0 !important;
        }

        .related-articles .card-box .col {
            display: flex !important;
            justify-content: center !important;
        }

        .related-articles .card-box .m-card {
            margin: 0 !important;
            height: 247px !important;
        }

            .related-articles .card-box .m-card .m-card__text {
                font-size: 14px !important;
            }

            .related-articles .card-box .m-card .m-image {
                height: 204px !important;
            }

                .related-articles .card-box .m-card .m-image .m-image__image--cover {
                    background-position: initial !important;
                    background-size: contain;
                    background-repeat: round;
                }

    .contribution {
        padding: 30px 0px 16px 0px !important;
    }

        .contribution p {
            font-size: 12px !important;
            line-height: 14px !important;
        }

        .contribution .m-avatar {
            width: 30px !important;
            height: 30px !important;
            min-width: 30px !important;
            min-height: 30px !important;
        }

        .contribution .row:last-child {
            margin-top: 0 !important;
        }

    .thanks {
        margin-top: 60px !important;
        padding-bottom: 32px !important;
    }

        .thanks p {
            font-size: 12px !important;
            line-height: 14px !important;
        }

        .thanks .row:last-child {
            margin-top: 16px !important;
        }

        .thanks img {
            zoom: 0.4;
        }

    .footer {
        height: 556px !important;
    }

    .foot-box {
        flex-direction: column !important;
        justify-content: start !important;
        padding: 5px;
        text-align: center;
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }

        .foot-box a {
            font-size: 12px !important;
            line-height: 14px !important;
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            text-decoration: none;
            color: #fff !important;
            display: block;
        }

        .foot-box .foot-p {
            display: none;
        }
}

.home {
    background-color: #F2F3F5
}

    .home p {
        margin-bottom: 0 !important;
    }

.banner {
    margin: 106px 80px 0 80px !important;
}

.banner-detail-box {
    margin-top: 30px;
}

.banner-logo-font {
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 2px;
    color: #000000;
}

.banner-detail-font {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    color: #4E5969;
}

.content {
    margin: 0 80px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 160px 0px 60px;
}

.box-title {
    margin-left: 20px;
    font-weight: 900;
    font-size: 24px;
}

.box-title-border {
    margin-top: 5px;
    width: 6px;
    height: 28px;
}

.box-title-more {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
}

.video-description {
    margin: 0px 24px;
}

.video video {
    width: 100%;
}

.video-p {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1px;
    color: #1D2129;
}

.video-span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #1D2129;
    margin-top: 30px;
}

.video-group {
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    margin: 0 149px;
}

    .video-group .m-card {
        margin: 12px;
        width: 348px;
        height: 348px;
    }

.why-masa-blazor-card {
    margin: 0 149px;
}

    .why-masa-blazor-card .m-card {
        width: 470px;
        height: 470px;
    }

.why-masa-blazor-card-content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-masa-blazor-p {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    /* text-5强调 正文标题 */
    color: #1D2129;
    opacity: 0.9;
    margin-top: 24px;
}

.why-masa-blazor-span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #4E5969;
    margin: 20px 24px 0 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.companies-box {
    height: auto;
}

.companies-content {
    margin: 64px 24px;
    padding-top: 64px;
}

.user-name {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 31px;
    color: #1D2129;
    margin: 32px 36px;
}

.cooperation-company {
    width: 100%;
    margin-top: 160px;
    padding: 53px 0px;
}

.related-articles .card-box {
    margin: 100px 149px 0 149px;
}

.contribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 160px 0px;
}

    .contribution .row:last-child {
        margin-top: 40px;
    }

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 160px;
}

    .thanks .row:last-child {
        margin-top: 40px;
    }


.foot-box {
    padding: 0 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .foot-box a {
        padding: 24px 0;
        text-decoration: none;
        color: #fff !important;
        display: block;
    }
    
.m-list-item.m-list-item.m-list-item--default {
    min-height: 32px;
}

.m-list-group.m-list-group--default .m-list-group__header {
    min-height: 32px;
}

.m-list-group.m-list-group--default .m-list-group__header > .m-list-item__icon {
    margin-bottom: 0.594rem;
    margin-top: 0.594rem;
}

.m-application--is-ltr .m-list--dense.m-list--nav .m-list-group--no-action.m-list-group--sub-group > .m-list-group__items > .m-list-item {
    padding-left: 80px;
}


.default-toc ul {
    list-style-type: none;
}

.default-toc li.router-link-active {
    border-left-color: currentColor;
}

.default-toc li {
    border-left: 2px solid #e5e5e5;
}

.m-heading {
    display: inline-block;
    position: relative;
}

.m-heading > a:not(:hover):not(:focus) {
    opacity: 0;
}

.markdown-body a:not(:hover) {
    text-decoration: none;
}

.m-heading > a {
    bottom: 0;
    display: inline-block;
    left: 0;
    margin: 0 -.7em;
    position: absolute;
    right: 0;
    top: 0;
}

h1 + p {
    font-size: 1.25rem;
    font-weight: 300;
}


.markdown-body > section section {
    margin-bottom: 3rem;
}

.markdown-body > div section section {
    margin-bottom: 3rem;
}

ol, ul {
    margin-bottom: 16px;
}

.default-toc .m-toc-link {
    color: inherit;
}

.m-sheet.app-code {
    margin: 16px 0;
    position: relative;
    padding: 12px 50px 12px 16px;
}

.m-sheet.app-code:not(:hover) .m-btn--copy .m-icon {
    opacity: .4;
}

.m-sheet.app-code code[class*=language], .m-sheet.app-code pre[class*=language] {
    background: none;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1rem;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -moz-tab-size: 4;
    tab-size: 4;
    text-align: left;
    text-shadow: none;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

.m-example code[class*=language-], .m-example pre[class*=language-] {
    text-shadow: none;
}

.m-sheet.app-code > pre {
    border-radius: inherit;
}

.m-sheet.app-code code, .m-sheet.app-code pre {
    background: transparent;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 !important;
}

:not(pre) > code[class*=language-], pre[class*=language-] {
    background: #f5f2f0;
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

code[class*=language-], pre[class*=language-] {
    color: #000;
    background: none;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.token.constant, .token.deleted, .token.property, .token.symbol {
    color: #905;
}

.token.boolean {
    color: blue;
}

.token.tag {
    color: rgb(128, 0, 128);
}

.token.tag > .token.punctuation {
    color: black;
    opacity: 0.75;
}

.token.number {
    color: black;
}

.token {
    background: none !important;
}

.token.punctuation {
    color: rgb(0, 0, 0, 0.75);
}

.token.builtin, .token.char, .token.inserted, .token.selector {
    color: #690;
}

.token.attr-name {
    color: rgb(128, 0, 128);
}

.token.string {
    color: rgb(163, 21, 21)
}

.token.atrule {
    color: #07a;
}

.token.attr-value {
    color: black;
}

.token.attr-value > .token.punctuation {
    color: black;
    opacity: 0.75;
}

.token.keyword {
    color: blue;
}

.token.comment {
    color: rgb(0, 100, 0);
}

.m-sheet.app-code pre[class*=language]::after {
    bottom: .75rem;
    color: rgba(48, 48, 48, .5);
    font-family: inherit;
    font-size: .7rem;
    font-weight: 700;
    position: absolute;
    right: 1rem;
    text-transform: uppercase;
}

.m-example pre.language-html::after {
    content: "razor";
}

.m-example pre.language-csharp::after {
    content: "c#";
}

.m-example pre.language-css::after {
    content: "css";
}

.token.class-name {
    color: rgb(43, 145, 175)
}

.token.function {
    color: rgb(116, 83, 31)
}

.text-mono {
    font-family: monospace;
}

.api-table .m-markdown p {
    margin-bottom: 0;
}

.api-table td.regular-row {
    padding: 8px 16px !important;
}
