<div class="d-flex align-center">
    Items:
    <MBreadcrumbs Items="items"></MBreadcrumbs>
</div>

<div class="d-flex align-center">
    Markup:
    <MBreadcrumbs>
        <MBreadcrumbsItem Href="/components/breadcrumbs">Dashboard</MBreadcrumbsItem>
        <MBreadcrumbsItem Href="/components/breadcrumbs" Text="Link 1"></MBreadcrumbsItem>
        <MBreadcrumbsItem Href="/components/breadcrumbs" Disabled>Link 2</MBreadcrumbsItem>
    </MBreadcrumbs>
</div>

    @code {

    List<BreadcrumbItem> items = new()
        {
            new BreadcrumbItem() { Text = "Dashboard", Disabled = false, Href = "/components/breadcrumbs" },
            new BreadcrumbItem() { Text = "Link 1", Disabled = false, Href = "/components/breadcrumbs" },
            new BreadcrumbItem() { Text = "Link 2", Disabled = true, Href = "/components/breadcrumbs" }
        };
    }
