<div class="text-center">
    <MChip Class="ma-2"
           XSmall>
        x-small chip
    </MChip>

    <MChip Class="ma-2"
           Small>
        small chip
    </MChip>

    <MChip Class="ma-2">
        Default
    </MChip>

    <MChip Class="ma-2"
           Large>
        large chip
    </MChip>

    <MChip Class="ma-2"
           XLarge>
        x-large chip
    </MChip>
</div>