<MContainer Fluid>
    <MRow Justify="@JustifyTypes.SpaceAround">
        <MCol Cols="5">
            <div>
                Default (cover)
            </div>
            <div>
                Matching
            </div>
            <MImage Src="_content/Masa.Blazor.Docs/img/524-510x300.jpg"
                    AspectRatio="1.7">
            </MImage>
            <div>
                Too high
            </div>
            <MImage Src="_content/Masa.Blazor.Docs/img/524-510x300.jpg"
                    AspectRatio="2">
            </MImage>
            <div>
                Too low
            </div>
            <MImage Src="_content/Masa.Blazor.Docs/img/524-510x300.jpg"
                    AspectRatio="1.4">
            </MImage>
        </MCol>

        <MCol Cols="5">
            <div>
                Contain
            </div>
            <div>
                Matching
            </div>
            <MImage Src="_content/Masa.Blazor.Docs/img/524-510x300.jpg"
                    AspectRatio="1.7"
                    contain>
            </MImage>
            <div>
                Too high
            </div>
            <MImage Src="_content/Masa.Blazor.Docs/img/524-510x300.jpg"
                    AspectRatio="2"
                    contain>
            </MImage>
            <div>
                Too low
            </div>
            <MImage Src="_content/Masa.Blazor.Docs/img/524-510x300.jpg"
                    AspectRatio="1.4"
                    contain>
            </MImage>
        </MCol>
    </MRow>
</MContainer>