<MContainer Fluid>
    <p>@radios</p>
    <MRadioGroup
        @bind-Value="radios"
        Mandatory>
        <MRadio
            Label="Radio 1"
            Value="@("radio-1")">
        </MRadio>
        <MRadio
            Label="Radio 2"
            Value="@("radio-2")">
        </MRadio>
    </MRadioGroup>
</MContainer>

@code {

    string radios;

}