:root {
  --md-source: #4F33FF;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #090041;
  --md-ref-palette-primary5: #0b0049;
  --md-ref-palette-primary6: #0d0050;
  --md-ref-palette-primary10: #130067;
  --md-ref-palette-primary12: #170073;
  --md-ref-palette-primary17: #1f0090;
  --md-ref-palette-primary20: #2400a2;
  --md-ref-palette-primary22: #2800ae;
  --md-ref-palette-primary24: #2b00bb;
  --md-ref-palette-primary25: #2d00c1;
  --md-ref-palette-primary30: #3600e1;
  --md-ref-palette-primary35: #421cf4;
  --md-ref-palette-primary40: #4f33ff;
  --md-ref-palette-primary50: #6c5eff;
  --md-ref-palette-primary60: #8980ff;
  --md-ref-palette-primary70: #a7a1ff;
  --md-ref-palette-primary80: #c5c0ff;
  --md-ref-palette-primary87: #dad6ff;
  --md-ref-palette-primary90: #e3dfff;
  --md-ref-palette-primary92: #e9e5ff;
  --md-ref-palette-primary94: #f0ebff;
  --md-ref-palette-primary95: #f3eeff;
  --md-ref-palette-primary96: #f6f2ff;
  --md-ref-palette-primary98: #fcf8ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #080042;
  --md-ref-palette-secondary5: #0a004a;
  --md-ref-palette-secondary6: #0c0050;
  --md-ref-palette-secondary10: #130463;
  --md-ref-palette-secondary12: #180b66;
  --md-ref-palette-secondary17: #231b70;
  --md-ref-palette-secondary20: #2a2377;
  --md-ref-palette-secondary22: #2e287b;
  --md-ref-palette-secondary24: #332d80;
  --md-ref-palette-secondary25: #352f82;
  --md-ref-palette-secondary30: #413b8e;
  --md-ref-palette-secondary35: #4d479b;
  --md-ref-palette-secondary40: #5954a8;
  --md-ref-palette-secondary50: #726dc3;
  --md-ref-palette-secondary60: #8c87df;
  --md-ref-palette-secondary70: #a7a1fc;
  --md-ref-palette-secondary80: #c4c0ff;
  --md-ref-palette-secondary87: #dad6ff;
  --md-ref-palette-secondary90: #e3dfff;
  --md-ref-palette-secondary92: #e9e5ff;
  --md-ref-palette-secondary94: #f0ebff;
  --md-ref-palette-secondary95: #f3eeff;
  --md-ref-palette-secondary96: #f6f2ff;
  --md-ref-palette-secondary98: #fcf8ff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #00120a;
  --md-ref-palette-tertiary5: #00150c;
  --md-ref-palette-tertiary6: #00170f;
  --md-ref-palette-tertiary10: #002116;
  --md-ref-palette-tertiary12: #002519;
  --md-ref-palette-tertiary17: #003122;
  --md-ref-palette-tertiary20: #003827;
  --md-ref-palette-tertiary22: #003d2b;
  --md-ref-palette-tertiary24: #00422f;
  --md-ref-palette-tertiary25: #004431;
  --md-ref-palette-tertiary30: #00513b;
  --md-ref-palette-tertiary35: #005e45;
  --md-ref-palette-tertiary40: #006c4f;
  --md-ref-palette-tertiary50: #008864;
  --md-ref-palette-tertiary60: #26a37c;
  --md-ref-palette-tertiary70: #4abf95;
  --md-ref-palette-tertiary80: #68dbaf;
  --md-ref-palette-tertiary87: #7defc2;
  --md-ref-palette-tertiary90: #86f8ca;
  --md-ref-palette-tertiary92: #8bfed0;
  --md-ref-palette-tertiary94: #abffda;
  --md-ref-palette-tertiary95: #bcffe0;
  --md-ref-palette-tertiary96: #ccffe6;
  --md-ref-palette-tertiary98: #e7fff1;
  --md-ref-palette-tertiary99: #f4fff7;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0e0e11;
  --md-ref-palette-neutral5: #111114;
  --md-ref-palette-neutral6: #131316;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral12: #1f1f23;
  --md-ref-palette-neutral17: #2a2a2d;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral22: #353438;
  --md-ref-palette-neutral24: #39393c;
  --md-ref-palette-neutral25: #3c3b3f;
  --md-ref-palette-neutral30: #47464a;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral40: #5f5e62;
  --md-ref-palette-neutral50: #78767a;
  --md-ref-palette-neutral60: #929094;
  --md-ref-palette-neutral70: #adaaaf;
  --md-ref-palette-neutral80: #c8c5ca;
  --md-ref-palette-neutral87: #dcd9de;
  --md-ref-palette-neutral90: #e5e1e6;
  --md-ref-palette-neutral92: #eae7ec;
  --md-ref-palette-neutral94: #f0edf1;
  --md-ref-palette-neutral95: #f3f0f4;
  --md-ref-palette-neutral96: #f6f2f7;
  --md-ref-palette-neutral98: #fcf8fd;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0e0d15;
  --md-ref-palette-neutral-variant5: #111018;
  --md-ref-palette-neutral-variant6: #13121a;
  --md-ref-palette-neutral-variant10: #1c1b23;
  --md-ref-palette-neutral-variant12: #201f27;
  --md-ref-palette-neutral-variant17: #2a2931;
  --md-ref-palette-neutral-variant20: #312f38;
  --md-ref-palette-neutral-variant22: #35343c;
  --md-ref-palette-neutral-variant24: #3a3841;
  --md-ref-palette-neutral-variant25: #3c3a43;
  --md-ref-palette-neutral-variant30: #47464f;
  --md-ref-palette-neutral-variant35: #53515a;
  --md-ref-palette-neutral-variant40: #5f5d67;
  --md-ref-palette-neutral-variant50: #787680;
  --md-ref-palette-neutral-variant60: #928f99;
  --md-ref-palette-neutral-variant70: #adaab4;
  --md-ref-palette-neutral-variant80: #c9c5d0;
  --md-ref-palette-neutral-variant87: #dcd8e3;
  --md-ref-palette-neutral-variant90: #e5e1ec;
  --md-ref-palette-neutral-variant92: #ebe6f2;
  --md-ref-palette-neutral-variant94: #f0ecf7;
  --md-ref-palette-neutral-variant95: #f3effa;
  --md-ref-palette-neutral-variant96: #f6f2fd;
  --md-ref-palette-neutral-variant98: #fcf8ff;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0003;
  --md-ref-palette-error20: #690004;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #930009;
  --md-ref-palette-error35: #a8060f;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de372f;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad5;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #4f33ff;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #e3dfff;
  --md-sys-color-on-primary-container-light: #130067;
  --md-sys-color-primary-fixed-light: #e3dfff;
  --md-sys-color-on-primary-fixed-light: #130067;
  --md-sys-color-primary-fixed-dim-light: #c5c0ff;
  --md-sys-color-on-primary-fixed-variant-light: #3600e1;
  --md-sys-color-secondary-light: #5954a8;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e3dfff;
  --md-sys-color-on-secondary-container-light: #130463;
  --md-sys-color-secondary-fixed-light: #e3dfff;
  --md-sys-color-on-secondary-fixed-light: #130463;
  --md-sys-color-secondary-fixed-dim-light: #c4c0ff;
  --md-sys-color-on-secondary-fixed-variant-light: #413b8e;
  --md-sys-color-tertiary-light: #006c4f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #86f8ca;
  --md-sys-color-on-tertiary-container-light: #002116;
  --md-sys-color-tertiary-fixed-light: #86f8ca;
  --md-sys-color-on-tertiary-fixed-light: #002116;
  --md-sys-color-tertiary-fixed-dim-light: #68dbaf;
  --md-sys-color-on-tertiary-fixed-variant-light: #00513b;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad5;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1b1b1f;
  --md-sys-color-outline-light: #787680;
  --md-sys-color-inverse-on-surface-light: #f3f0f4;
  --md-sys-color-inverse-surface-light: #303034;
  --md-sys-color-inverse-primary-light: #c5c0ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #4f33ff;
  --md-sys-color-outline-variant-light: #c9c5d0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fcf8fd;
  --md-sys-color-on-surface-light: #1b1b1f;
  --md-sys-color-surface-variant-light: #e5e1ec;
  --md-sys-color-on-surface-variant-light: #47464f;
  --md-sys-color-surface-container-highest-light: #e5e1e6;
  --md-sys-color-surface-container-high-light: #eae7ec;
  --md-sys-color-surface-container-light: #f0edf1;
  --md-sys-color-surface-container-low-light: #f6f2f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dcd9de;
  --md-sys-color-surface-bright-light: #fcf8fd;
  /* dark */
  --md-sys-color-primary-dark: #c5c0ff;
  --md-sys-color-on-primary-dark: #2400a2;
  --md-sys-color-primary-container-dark: #3600e1;
  --md-sys-color-on-primary-container-dark: #e3dfff;
  --md-sys-color-primary-fixed-dark: #e3dfff;
  --md-sys-color-on-primary-fixed-dark: #130067;
  --md-sys-color-primary-fixed-dim-dark: #c5c0ff;
  --md-sys-color-on-primary-fixed-variant-dark: #3600e1;
  --md-sys-color-secondary-dark: #C7C4DC;
  --md-sys-color-on-secondary-dark: #302E42;
  --md-sys-color-secondary-container-dark: #464559;
  --md-sys-color-on-secondary-container-dark: #E4DFF9;
  --md-sys-color-secondary-fixed-dark: #E4DFF9;
  --md-sys-color-on-secondary-fixed-dark: #1B1A2C;
  --md-sys-color-secondary-fixed-dim-dark: #C7C4DC;
  --md-sys-color-on-secondary-fixed-variant-dark: #464559;
  --md-sys-color-tertiary-dark: #68dbaf;
  --md-sys-color-on-tertiary-dark: #003827;
  --md-sys-color-tertiary-container-dark: #00513b;
  --md-sys-color-on-tertiary-container-dark: #86f8ca;
  --md-sys-color-tertiary-fixed-dark: #86f8ca;
  --md-sys-color-on-tertiary-fixed-dark: #002116;
  --md-sys-color-tertiary-fixed-dim-dark: #68dbaf;
  --md-sys-color-on-tertiary-fixed-variant-dark: #00513b;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #930009;
  --md-sys-color-on-error-dark: #690004;
  --md-sys-color-on-error-container-dark: #ffdad5;
  --md-sys-color-background-dark: #1b1b1f;
  --md-sys-color-on-background-dark: #e5e1e6;
  --md-sys-color-outline-dark: #928f99;
  --md-sys-color-inverse-on-surface-dark: #1b1b1f;
  --md-sys-color-inverse-surface-dark: #e5e1e6;
  --md-sys-color-inverse-primary-dark: #4f33ff;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #c5c0ff;
  --md-sys-color-outline-variant-dark: #47464f;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #131316;
  --md-sys-color-on-surface-dark: #c8c5ca;
  --md-sys-color-surface-variant-dark: #47464f;
  --md-sys-color-on-surface-variant-dark: #c9c5d0;
  --md-sys-color-surface-container-highest-dark: #353438;
  --md-sys-color-surface-container-high-dark: #2a2a2d;
  --md-sys-color-surface-container-dark: #1f1f23;
  --md-sys-color-surface-container-low-dark: #1b1b1f;
  --md-sys-color-surface-container-lowest-dark: #0e0e11;
  --md-sys-color-surface-dim-dark: #131316;
  --md-sys-color-surface-bright-dark: #39393c;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
