<MSwitch @bind-Value="autoScrollToTop" Label="AutoScrollToTop"></MSwitch>

<PModal @bind-Value="value"
        AutoScrollToTop="autoScrollToTop"
        Title="Title"
        Width="500"
        BodyStyle="height: 250px"
        OnCancel="() => value = false">
    <ActivatorContent>
        <MButton @attributes="@context.Attrs">Activator</MButton>
    </ActivatorContent>
    <ChildContent>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
        <div>Content</div>
    </ChildContent>
</PModal>

@code {

    private bool value;
    private bool autoScrollToTop;

}