@namespace MASA.Blazor.Presets

<div class="m-presets-ph--body">
    <div class="m-presets-ph--header">
        @if (OnBack.HasDelegate)
        {
            <MButton Icon Style="margin-right: 8px" OnClick="HandleOnBack"><MIcon>mdi-arrow-left</MIcon></MButton>
        }

        <span class="m-presets--title" style="margin-right: 8px">
            @if (TitleFragment != default)
            {
                @TitleFragment
            }
            else
            {
                @Title
            }
        </span>

        <span class="m-presets--subtitle">
            @if (SubtitleFragment != default)
            {
                @SubtitleFragment
            }
            else if (!string.IsNullOrEmpty(Subtitle))
            {
                @Subtitle
            }
        </span>

        <MSpacer />

        <div class="m-presets-ph--actions">
            @LeftActions

            @if (LeftActions != null && Filters != null)
            {
                <MDivider Vertical Style="margin: 0 8px" />
            }

            @if (Filters != null)
            {
                @RightActions

                @if (ShowFilters)
                {
                    <MTooltip Top>
                        <ActivatorContent>
                            <MButton @attributes="context.Attrs" Icon OnClick="HandleOnSearch" Loading="_loading"><MIcon>mdi-magnify</MIcon></MButton>
                        </ActivatorContent>
                        <ChildContent>
                            <span>搜索</span>
                        </ChildContent>
                    </MTooltip>
                }

                @if (ShowFilters)
                {
                    <MTooltip Top>
                        <ActivatorContent>
                            <MButton @attributes="context.Attrs" Icon OnClick="() => ShowFilters = !ShowFilters">
                                <MIcon>mdi-filter-off-outline</MIcon>
                            </MButton>
                        </ActivatorContent>
                        <ChildContent>
                            <span>隐藏搜索框</span>
                        </ChildContent>
                    </MTooltip>
                }
                else
                {
                    <MTooltip Top>
                        <ActivatorContent>
                            <MButton @attributes="context.Attrs" Icon OnClick="() => ShowFilters = !ShowFilters">
                                <MIcon>mdi-filter-outline</MIcon>
                            </MButton>
                        </ActivatorContent>
                        <ChildContent>
                            <span>显示搜索框</span>
                        </ChildContent>
                    </MTooltip>
                }

            }
        </div>
    </div>

    <MDivider Style="margin: 10px 0 16px 0;" />

    @if (ShowFilters)
    {
        <div>
            @Filters
        </div>
    }
</div>

<style>
    .m-presets-ph--body {
        margin-bottom: 16px;
    }

    .m-presets-ph--header {
        display: flex;
        align-items: center;
    }

    .m-presets--title {
        font-size: 24px;
    }

    .m-presets--subtitle {
        color: #757575;
    }

    .m-presets-ph--actions {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
    }

        .m-presets-ph--actions > * {
            margin: 0 4px;
        }

            .m-presets-ph--actions > *:last-child {
                margin-right: 0px;
            }
</style>