<MContainer Fluid>
    <MSelect @bind-Value="_value"
             Items="_items"
             Label="Select Item"
             ItemValue="r=>r"
             ItemText="r=>r"
             Multiple>
        <SelectionContent Context="data">
            @if (data.Index == 0)
            {
                <MChip>
                    <span>@data.Item</span>
                </MChip>
            }
            else if (data.Index == 1)
            {
                <span class="grey--text text-caption">
                    (+@(_value.Count - 1) others)
                </span>
            }
        </SelectionContent>
    </MSelect>
</MContainer>

@code {
    private List<string> _items = new List<string>{
    "foo", "bar", "fizz", "buzz", "fizzbuzz", "foobar"
    };
    private List<string> _value = new List<string>{
    "foo", "bar", "fizz"
    };
    }
