<div class="sticky-demo-scroll-target overflow-y-auto" style="height: 500px">
    <div style="height: 300px"></div>
    <MSticky OffsetTop="100" ScrollTarget=".sticky-demo-scroll-target">
        <MButton Class="text-none">Sticky with custom scroll target</MButton>
    </MSticky>
    <div style="height: 500px;"></div>
</div>