<div>
    <MSwitch @bind-Value="_show" Label="Switch 1"></MSwitch>
    <MButton OnClick="Test">Test</MButton>
</div>

@code{
    private bool _show = true;

    public void Test()
    {
        _show = !_show;
    }
}
