<MRow Justify="JustifyTypes.SpaceAround">
    <MAvatar Color="indigo"
             Size="36">
        <span class="white--text text-h5">36</span>
    </MAvatar>

    <MAvatar Color="teal"
             Size="48">
        <span class="white--text text-h5">48</span>
    </MAvatar>

    <MAvatar Color="orange"
             Size="62">
        <span class="white--text text-h5">62</span>
    </MAvatar>
</MRow>
