<MRow Justify="JustifyTypes.SpaceAround">
	<MAvatar Color="indigo">
		<MIcon Dark>mdi-account-circle</MIcon>
	</MAvatar>

	<MAvatar>
		<MImage Src="https://cdn.vuetifyjs.com/images/john.jpg" Alt="John"></MImage>
	</MAvatar>

	<MAvatar Color="red">
		<span class="white--text text-h5">CJ</span>
	</MAvatar>
</MRow>