<MRow>
    <MCol
        Cols="12"
        Sm="6"
        OffsetSm="3">
        <MCard Height="200">
            <MCardTitle Class="blue white--text">
                <span class="text-h5">Menu</span>

                <MSpacer></MSpacer>

                <MMenu
                    Bottom
                    Left>
                    <ActivatorContent>
                        <MButton
                            Dark
                            Icon
                            @attributes="@context.Attrs">
                            <MIcon>mdi-dots-vertical</MIcon>
                        </MButton>
                    </ActivatorContent>

                    <ChildContent>
                        <MList>
                            @foreach (var item in items)
                            {
                                <MListItem>
                                    <MListItemContent>
                                        <MListItemTitle>
                                            @item
                                        </MListItemTitle>
                                    </MListItemContent>
                                </MListItem>
                            }
                        </MList>
                    </ChildContent>
                </MMenu>
            </MCardTitle>

            <MCardText>Lorem Ipsum</MCardText>
        </MCard>
    </MCol>
</MRow>

@code {

    string[] items =
    {
        "Click Me",
        "Click Me",
        "Click Me",
        "Click Me 2"
    };

}