@using AlertTypes = BlazorComponent.AlertTypes

<div>
    <MAlert Outlined
            Color="purple">
        <div class="text-h6">
            Lorem Ipsum
        </div>
        <div>Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Duis vel nibh at velit scelerisque suscipit. Praesent blandit laoreet nibh. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros.</div>
    </MAlert>
    <MAlert Outlined
            Type="AlertTypes.Success"
            Text>
        Praesent venenatis metus at tortor pulvinar varius. Aenean commodo ligula eget dolor. Praesent ac massa at ligula laoreet iaculis. Vestibulum ullamcorper mauris at ligula.
    </MAlert>
    <MAlert Outlined
            Type="AlertTypes.Warning"
            Prominent
            Border="Borders.Left">
        Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Suspendisse non nisl sit amet velit hendrerit rutrum. Nullam vel sem. Pellentesque dapibus hendrerit tortor.
    </MAlert>
</div>