@using AlertType = Blazor.AlertType

<div>
	<MAlert Type="AlertType.Success">
		I'm a success alert.
	</MAlert>

	<MAlert Type="AlertType.Info">
		I'm an info alert.
	</MAlert>

	<MAlert Type="AlertType.Warning">
		I'm a warning alert.
	</MAlert>

	<MAlert Type="AlertType.Error">
		I'm an error alert.
	</MAlert>
</div>