[submodule "src/BlazorComponent"]
	path = src/BlazorComponent
	url = https://github.com/BlazorComponent/BlazorComponent.git
	branch = main
[submodule "src/MASA.Docs"]
	path = src/MASA.Docs
	url = https://github.com/masastack/MASA.Docs.git
	branch = main
[submodule "src/Docs/Masa.Stack.Docs/MASA.Docs"]
	path = src/Docs/Masa.Stack.Docs/MASA.Docs
	url = git@github.com:masastack/MASA.Docs.git
