[submodule "src/BlazorComponent"]
	path = src/BlazorComponent
	url =   https://github.com/1521967161/BlazorComponent
	branch = main
[submodule "docs/MASA.Docs"]
	path = docs/MASA.Docs
	url = https://github.com/masastack/MASA.Docs
	branch = main
