stages:
  - packer
  - docker
  - deploy-dev
  - deploy-test
  - packer-prd
  - docker-prd
  - deploy-prd
  - tag

variables:
  IMAGE: registry.cn-hangzhou.aliyuncs.com/masa/masa-blazor-docs:0.2.$CI_PIPELINE_ID
  IMAGE_PRD: registry.cn-hangzhou.aliyuncs.com/masa/masa-blazor-docs:$CI_COMMIT_TAG

packer:
  stage: packer
  tags:
    - linux-shell
  only:
    - main 
  script: 
    - ls src/
    - rm -rf ./src/BlazorComponent
    - git clone -b main https://github.com/BlazorComponent/BlazorComponent.git ./src/BlazorComponent
    - dotnet build src
    - dotnet pack src --include-symbols -p:PackageVersion=0.2.$CI_PIPELINE_ID
    - dotnet nuget push "**/*.symbols.nupkg" -k $nugetkey -s https://api.nuget.org/v3/index.json
  artifacts:
    expire_in: 1 day
    paths:
      - ./src/BlazorComponent
  retry: 2


docker:
  stage: docker
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
  only:
    - main
  script:
    - docker build -t $IMAGE .
    - docker push $IMAGE
    - docker rmi  $IMAGE
  retry: 2

deploy-dev:
  image: portainer/kubectl-shell
  stage: deploy-dev
  only:
    - main
  script:
    - echo $KUBE_CONFIG_DEV | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-blazor-docs masa-blazor-docs=$IMAGE -n masa-blazor
  retry: 2
  
deploy-test:
  image: portainer/kubectl-shell
  stage: deploy-test
  only:
    - main
  script:
    - echo $KUBE_CONFIG_DEV | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-blazor-docs masa-blazor-docs=$IMAGE -n test-masa-blazor
  retry: 2
  when: manual

packer-prd:
  stage: packer-prd
  tags:
    - linux-shell
  only:
    - tags 
  script:
    - rm -rf ./src/BlazorComponent
    - git clone -b main https://github.com/BlazorComponent/BlazorComponent.git ./src/BlazorComponent
    - dotnet build src
    - dotnet pack src --include-symbols -p:PackageVersion=$CI_COMMIT_TAG
    - dotnet nuget push "**/*.symbols.nupkg" -k $nugetkey -s https://api.nuget.org/v3/index.json
  artifacts:
    expire_in: 1 day
    paths:
      - ./src/BlazorComponent
  retry: 2

docker-prd:
  stage: docker-prd
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
  only:
    - tags
  script:
    - docker build -t $IMAGE_PRD .
    - docker push $IMAGE_PRD
  retry: 2

deploy-prd:
  image: portainer/kubectl-shell
  stage: deploy-prd
  only:
    - tags
  script:
    - echo $KUBE_CONFIG_BLAZOR_PRD | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-blazor masa-blazor=$IMAGE_PRD -n masa-blazor
  retry: 2
  when: manual  

tag-push:
  stage: tag
  tags:
    - linux-shell
  only:
    - tags
  script:
    - cd ./src/BlazorComponent
    - echo $CI_COMMIT_TAG
    - git tag $CI_COMMIT_TAG
    - git push origin $CI_COMMIT_TAG
  when: manual
