# include:
#   - project: 'louzhijian/devops'
#     ref: master
#     file: 'devops/sonar-scanner.yml'

stages:
  - packer
  - docker
  - deploy-dev
  - deploy-test
  - packer-prd
  - docker-prd
  - deploy-prd
  - tag


variables:
  IMAGE: registry.cn-hangzhou.aliyuncs.com/masa/masa-blazor:0.2.$CI_PIPELINE_ID
  IMAGE_PRD: registry.cn-hangzhou.aliyuncs.com/masa/masa-blazor-docs:$CI_COMMIT_TAG

packer:
#   image:  registry.cn-hangzhou.aliyuncs.com/masa/dotnet_sdk:6.0.201_wasm
  image: registry.cn-hangzhou.aliyuncs.com/masa/dotnet_sdk:7.0.100_wasm_v2
#   tags:
#     - 51-132
  stage: packer
  only:
    - main
  script:
    - id
    - ls src/
    - rm -rf ./src/BlazorComponent
    - rm -rf ./src/MASA.Docs
    - git config --global https.proxy $PROXY_GATEWAY
    - git config --global http.proxy $PROXY_GATEWAY
    - git clone -b main https://github.com/BlazorComponent/BlazorComponent.git ./src/BlazorComponent
    - git clone -b main https://github.com/masastack/MASA.Docs.git ./src/MASA.Docs
#     - dotnet workload install wasm-tools-net6 --temp-dir "/home/gitlab-runner/work/_temp" &&
#     - dotnet workload install wasm-tools
    - dotnet workload list  &&  dotnet build src/Masa.Blazor.NewDocs.sln
#     - dotnet pack pack src --include-symbols -p:PackageVersion=0.3.0-alpha.$CI_PIPELINE_ID
    - dotnet pack src/Masa.Blazor/Masa.Blazor.csproj --no-build  --include-symbols -p:PackageVersion=0.7.0-alpha.$CI_PIPELINE_ID
    - dotnet pack src/BlazorComponent/src/Component/BlazorComponent/BlazorComponent.csproj --no-build --include-symbols -p:PackageVersion=0.7.0-alpha.$CI_PIPELINE_ID
    - dotnet nuget push "**/*.symbols.nupkg" -k $nugetkey -s https://api.nuget.org/v3/index.json --skip-duplicate
  after_script:
    - git config --global --unset https.proxy
    - git config --global --unset http.proxy
    - echo "" >/home/gitlab-runner/.gitconfig
  artifacts:
    expire_in: 1 day
    paths:
      - ./src/BlazorComponent
  retry: 2

docker:
  stage: docker
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
  only:
    - main
  script:
    - rm -rf ./src/BlazorComponent
    - rm -rf ./src/MASA.Docs
    - git config --global https.proxy $PROXY_GATEWAY
    - git config --global http.proxy $PROXY_GATEWAY
    - git clone -b main https://github.com/BlazorComponent/BlazorComponent.git ./src/BlazorComponent
    - git clone -b main https://github.com/masastack/MASA.Docs.git ./src/MASA.Docs
    - docker build -t $IMAGE .
    - docker push $IMAGE
    - docker rmi  $IMAGE
  after_script:
    - git config --global --unset https.proxy
    - git config --global --unset http.proxy
    - echo "" >/home/gitlab-runner/.gitconfig
  retry: 2

# deploy-dev:
#   image: portainer/kubectl-shell
#   stage: deploy-dev
#   only:
#     - main
#   script:
#     - echo $KUBE_CONFIG_DEV | base64 -d > ./config
#     - kubectl --kubeconfig ./config set image deployment/masa-blazor-docs masa-blazor-docs=$IMAGE -n masa-blazor
#   retry: 2
#   when: manual

deploy-dev-ydy:
  image: portainer/kubectl-shell
  stage: deploy-dev
  only:
    - main
  script:
    - echo $KUBE_CONFIG_DEV_YDY | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/blazor-dev blazor-dev=$IMAGE -n masastack-dev
  retry: 2


# deploy-test:
#   image: portainer/kubectl-shell
#   stage: deploy-test
#   only:
#     - main
#   script:
#     - echo $KUBE_CONFIG_DEV | base64 -d > ./config
#     - kubectl --kubeconfig ./config set image deployment/masa-blazor-docs masa-blazor-docs=$IMAGE -n test-masa-blazor
#   retry: 2
#   when: manual

# deploy-test-ydy:
#   image: portainer/kubectl-shell
#   stage: deploy-test
#   only:
#     - main
#   script:
#     - echo $KUBE_CONFIG_DEV_YDY | base64 -d > ./config
#     - kubectl --kubeconfig ./config set image deployment/masa-blazor-docs masa-blazor-docs=$IMAGE -n masa-blazor-test
#   retry: 2
#   when: manual

packer-prd:
  stage: packer-prd
  tags:
    - linux-shell
  only:
    - tags
  script:
    - rm -rf ./src/BlazorComponent
    - rm -rf ./src/MASA.Docs
    - git config --global https.proxy $PROXY_GATEWAY
    - git config --global http.proxy $PROXY_GATEWAY
    - git clone -b main https://github.com/BlazorComponent/BlazorComponent.git ./src/BlazorComponent
    - git clone -b main https://github.com/masastack/MASA.Docs.git ./src/MASA.Docs
    - dotnet build src/Masa.Blazor.sln
    - dotnet pack src --include-symbols -p:PackageVersion=$CI_COMMIT_TAG
    - dotnet nuget push "**/*.symbols.nupkg" -k $nugetkey -s https://api.nuget.org/v3/index.json
  after_script:
    - git config --global --unset https.proxy
    - git config --global --unset http.proxy
    - echo "" >/home/gitlab-runner/.gitconfig
  artifacts:
    expire_in: 1 day
    paths:
      - ./src/BlazorComponent
  retry: 2

docker-prd:
  stage: docker-prd
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
  only:
    - tags
  script:
    - docker build -t $IMAGE_PRD .
    - docker push $IMAGE_PRD
  retry: 2

deploy-prd:
  image: portainer/kubectl-shell
  stage: deploy-prd
  only:
    - tags
  script:
    - echo $KUBE_CONFIG_BLAZOR_PRD | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-blazor masa-blazor=$IMAGE_PRD -n masa-blazor
  retry: 2
  when: manual

tag-push:
  stage: tag
  tags:
    - linux-shell
  only:
    - tags
  script:
    - cd ./src/BlazorComponent
    - echo $CI_COMMIT_TAG
    - git tag $CI_COMMIT_TAG
    - git push origin $CI_COMMIT_TAG
  when: manual
