[submodule "src/BlazorComponent"]
	path = src/BlazorComponent
	url = git@github.com:BlazorComponent/BlazorComponent.git
	update = merge
[submodule "src/MASA.Docs"]
	path = src/MASA.Docs
	url = git@github.com:masastack/MASA.Docs.git
	update = merge
