<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <add key="gitlab" value="http://gitlab-hz.lonsid.cn/api/v4/groups/5/-/packages/nuget/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <gitlab>
         <add key="Username" value="gitlab+deploy-token-5" />
         <add key="ClearTextPassword" value="M5QQueodxUXYQ2Br8ZgR" />
     </gitlab>
 </packageSourceCredentials>
</configuration>
