<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <add key="gitlab" value="http://gitlab-hz.lonsid.cn/api/v4/projects/29/packages/nuget/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <gitlab>
         <add key="Username" value="masa" />
         <add key="ClearTextPassword" value="2oVCQ7KBG5AsB2s_mFhd" />
     </gitlab>
 </packageSourceCredentials>
</configuration>

