@using Microsoft.Extensions.Logging

<MErrorHandler OnHandle="OnHandle" OnAfterHandle="OnAfterHandle">
    <MButton OnClick="OnClick" Class="@_colorClass">Turn red when error occured</MButton>
    <MButton OnClick="OnBtnReset">Reset</MButton>
</MErrorHandler>

<MDivider Class="my-2"></MDivider>

<div>
    @foreach (var log in _logs.TakeLast(5))
    {
        <div>@log</div>
    }
</div>

@code
{
    private string _colorClass = "white black--text";

    private readonly List<string> _logs = new();

    private void OnClick()
    {
        throw new Exception("The error was caught by MErrorHandler");
    }

    private void OnBtnReset()
    {
        _colorClass = "white black--text";
    }

    private void OnHandle(Exception exception)
    {
        _colorClass = "red white--text";
    }

    private void OnAfterHandle(Exception exception)
    {
        _logs.Add($"UTC {DateTime.UtcNow} > {exception.Message}");
    }
}
