::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 12px 0 0 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #E4E8F3), color-stop(0.72, #E4E8F3), color-stop(0.86, #E4E8F3));
}


.flex-1-1-auto {
    flex: 1 1 auto !important;
}

.m-bar--underline {
    border-width: 0 0 thin 0;
    border-style: solid;
}

    .m-bar--underline.theme--light {
        border-bottom-color: #E4E8F3 !important;
    }

    .m-bar--underline.theme--dark {
        border-bottom-color: #FFFFFF1F !important;
    }

.m-application code {
    background-color: unset !important;
}

.text-mono {
    font-family: Roboto Mono, monospace;
}

.m-heading {
    display: inline-block;
    position: relative;
}

.app-code {
    margin: 16px 0;
    position: relative;
    padding: 12px 50px 12px 16px;
}

h1 + p {
    font-size: 1.25rem;
}

#default-toc ul {
    list-style-type: none;
}

#default-toc li {
    border-left: 2px solid #E5E5E5;
}

    #default-toc li.primary--text {
        border-left-color: currentColor;
    }

#default-toc .m-toc-link {
    color: inherit;
}

.m-heading {
    display: inline-block;
    position: relative;
    color: black;
}

    .m-heading > a {
        bottom: 0;
        display: inline-block;
        left: 0;
        margin: 0 -.7em;
        position: absolute;
        right: 0;
        top: 0;
    }

        .m-heading > a:not(:hover):not(:focus) {
            opacity: 0;
        }

h1.m-heading {
    font-weight: 900 !important;
}

h2.m-heading {
    font-weight: 700 !important;
}

h3.m-heading {
    font-weight: 700 !important;
}

h4.m-heading {
    font-weight: 700 !important;
}

h5.m-heading {
    font-weight: 700 !important;
}

h6.m-heading {
    font-weight: 700 !important;
}

h7.m-heading {
    font-weight: 700 !important;
}

.emphasize1-color {
    color: #1B2559 !important;
    caret-color: #1B2559 !important;
}

.emphasize2-color {
    color: #323D6F !important;
    caret-color: #323D6F !important;
}

.secondary-emphasis-text {
    font-weight: 400 !important;
    font-size: 1rem !important;
    color: #424649 !important;
}

.ordinary-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #485585;
}

.subordinary-color {
    color: #7681AB !important;
    caret-color: #7681AB !important;
}

.black-text {
    color: black !important;
}

.m-application--is-ltr .m-list-group--default .m-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 0 !important;
}

.m-list-group.m-list-group--default .m-list-item__title {
    font-weight: 500;
    font-size: 1rem;
}

.m-list-item.m-list-item--default {
    margin-bottom: 0px !important;
}

.m-list-group.m-list-group--default .m-list-item {
    margin-bottom: 0px !important;
    height: 48px !important;
}

.m-list-group.m-list-group--default .m-list-item__icon {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    height: 100% !important;
    align-items: center;
}

#github-issuse {
    height: 32px;
    background: rgba(233, 237, 247, 0.5);
    line-height: 32px;
    font-size: 14px;
}

    #github-issuse a {
        text-decoration: none;
        color: #1B2559 !important;
    }

        #github-issuse a:hover {
            color: #4318FF !important;
        }

    #github-issuse > a > i {
        color: inherit !important;
    }


.toc-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #A3AED0;
    opacity: 0.5;
}

ul:not([class]), ol:not([class]) {
    margin-bottom: 16px;
}
