::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 12px 0 0 0;
    background-color: #F6F8FD;
}

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #A3AED0), color-stop(0.72, #A3AED0), color-stop(0.86, #A3AED0));
}

.flex-1-1-auto {
    flex: 1 1 auto !important;
}

.m-bar--underline {
    border-width: 0 0 thin 0;
    border-style: solid;
}

    .m-bar--underline.theme--light {
        border-bottom-color: #E4E8F3 !important;
    }

    .m-bar--underline.theme--dark {
        border-bottom-color: #FFFFFF1F !important;
    }

.m-application code {
    background-color: unset !important;
}

.text-mono {
    font-family: Roboto Mono, monospace;
}

.m-heading {
    display: inline-block;
    position: relative;
}

.app-code {
    margin: 16px 0;
    position: relative;
    padding: 12px 50px 12px 16px;
}

h1 + p {
    font-size: 1.25rem;
}

#default-toc ul {
    list-style-type: none;
}

#default-toc li {
    border-left: 2px solid #E5E5E5;
}

    #default-toc li.primary--text {
        border-left-color: currentColor;
    }

#default-toc .m-toc-link {
    color: inherit;
}

.m-heading {
    display: inline-block;
    position: relative;
    color: black;
}

    .m-heading > a {
        bottom: 0;
        display: inline-block;
        left: 0;
        margin: 0 -.7em;
        position: absolute;
        right: 0;
        top: 0;
    }

        .m-heading > a:not(:hover):not(:focus) {
            opacity: 0;
        }

h1.m-heading {
    font-weight: 900 !important;
}

h2.m-heading {
    font-weight: 700 !important;
}

h3.m-heading {
    font-weight: 700 !important;
}

h4.m-heading {
    font-weight: 700 !important;
}

h5.m-heading {
    font-weight: 700 !important;
}

h6.m-heading {
    font-weight: 700 !important;
}

h7.m-heading {
    font-weight: 700 !important;
}

.emphasize1-color {
    color: #1B2559 !important;
    caret-color: #1B2559 !important;
}

.emphasize2-color {
    color: #323D6F !important;
    caret-color: #323D6F !important;
}

.secondary-emphasis-text {
    font-weight: 400 !important;
    font-size: 1rem !important;
    color: #424649 !important;
}

.ordinary-text {
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    color: #485585 !important;
}

.subordinary-color {
    color: #7681AB !important;
    caret-color: #7681AB !important;
}

.black-text {
    color: black !important;
}

.m-application--is-ltr .m-list-group--default .m-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 0 !important;
}

#github-issuse {
    height: 32px;
    background: rgba(233, 237, 247, 0.5);
    line-height: 32px;
    font-size: 14px;
}

    #github-issuse a {
        text-decoration: none;
        color: #1B2559 !important;
    }

        #github-issuse a:hover {
            color: #4318FF !important;
        }

    #github-issuse > a > i {
        color: inherit !important;
    }


.toc-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #A3AED0;
    opacity: 0.5;
}

ul:not([class]), ol:not([class]) {
    margin-bottom: 16px;
}

.bottom-btn {
    z-index: 6;
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.m-application code:not(.m-code-highlight__code) {
    background-color: #f0f3f9 !important;
    color: #1B2559;
}

.m-code-highlight__pre .m-code-highlight__code {
    padding: 0 !important;
}

a.text-dec-none {
    text-decoration: none !important;
    color: inherit !important;
}

.heading-5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.overview {
    padding-top: 64px;
}

    .overview .project {
        margin-bottom: 48px;
    }

    .overview .project-content {
        margin-bottom: 24px;
    }

    .overview .project-content__title {
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 24px;
        color: #1B2559 !important;
        caret-color: #1B2559 !important;
    }

.m-card.m-card--doc {
    border-color: #E4E8F3;
}

.m-markdown-it img {
    max-width: 100%;
    border-radius: 0.75rem;
}

.m-example.theme--light.m-sheet--outlined {
    border: thin solid #E4E8F3;
}

.doc-list-nav {
    padding-left: 0 !important;
}

    .doc-list-nav .m-list-group.m-list-group--default .m-list-item__title {
        font-weight: 500;
        font-size: 1rem;
    }

    .doc-list-nav .m-list-item.m-list-item--default {
        margin-bottom: 0px !important;
    }

    .doc-list-nav .m-list-group.m-list-group--default .m-list-item {
        margin-bottom: 0px !important;
        height: 48px !important;
    }

    .doc-list-nav .m-list-group.m-list-group--default .m-list-item__icon {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        display: flex;
        height: 100% !important;
        align-items: center;
        min-width: 0 !important;
    }

    .doc-list-nav a.m-list-item--active .m-list-item__title {
        color: #fff;
    }

    .doc-list-nav a.m-list-item--active .m-list-item__subtitle {
        color: rgb(255 255 255 / 60%) !important;
    }

    .doc-list-nav a.m-list-item--active {
        background-color: #4318FF;
        color: #fff !important;
    }

    .doc-list-nav .m-list-item, .doc-list-nav .m-list-item:before {
        border-radius: 0 4px 4px 0 !important;
    }

.tag-chip {
    border-radius: 6px !important;
    height: 36px !important;
    font-size: 16px !important;
}

.fit-width {
    width: fit-content !important;
}

.fixed-slider .m-tabs-slider-wrapper {
    display: flex;
    justify-content: center;
}

    .fixed-slider .m-tabs-slider-wrapper .m-tabs-slider {
        width: 34px !important;
        border-radius: 4px !important;
    }

.default-tabs .m-tab {
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    color: #485585 !important;
}

.default-tabs .m-tab--active {
    color: #4318FF !important;
}

    .default-tabs .m-tab--active:focus::before {
        opacity: 0 !important;
    }

.m-tabs-l .m-tab {
    padding-left: 0 !important;
    justify-content: start !important;
}


.search-input .m-input__prepend-inner {
    height: 100% !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.search-input .m-input__slot {
    padding: 0 12px !important;
}

.search-input .m-icon.emphasize2-color {
    color: #1B2559 !important;
}

.search-input .m-icon {
    font-size: 20px !important;
}

.search-input .m-icon {
    color: #A3AED0 !important;
}

    .search-input .m-icon.primary--text {
        color: #4318FF !important;
    }

app-alert p {
    margin-bottom: 0 !important;
}

.custom-table table {
    width: 100%;
    overflow-x: auto;
    border-radius: 0.375rem;
    border-collapse: collapse;
}

    .custom-table table tr {
        border-width: 2px;
        border-style: solid;
        --tw-border-opacity: 1;
        border-color: rgba(234, 236, 239, var(--tw-border-opacity));
    }

    .custom-table table th {
        --tw-bg-opacity: 1;
        background-color: rgba(243, 244, 245, var(--tw-bg-opacity));
        text-align: left;
        font-weight: 600;
    }

    .custom-table table td, table th {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .custom-table table td:not(:last-child) {
        border-right-width: 2px;
        border-style: solid;
        --tw-border-opacity: 1;
        border-color: rgba(234, 236, 239, var(--tw-border-opacity));
    }

    .api-table table td p {
        margin-bottom: 0px !important;
    }

@media screen and (max-width: 600px) {
    .text-truncate.m-btn {
        max-width: 110px;
        width: auto;
    }

    .text-truncate .m-btn__content {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: inline !important;
        width: 100%;
    }
}

default-app-markup {
    margin-bottom: 16px;
}
