.flex-1-1-auto {
    flex: 1 1 auto !important;
}

.m-bar--underline {
    border-width: 0 0 thin 0;
    border-style: solid;
}

.m-bar--underline.theme--light {
    border-bottom-color: #E4E8F3 !important;
}

.m-bar--underline.theme--dark {
    border-bottom-color: #FFFFFF1F !important;
}

.m-application code {
    background-color: unset !important;
}

.text-mono {
    font-family: Roboto Mono, monospace;
}

.m-heading {
    display: inline-block;
    position: relative;
}

.app-code {
    margin: 16px 0;
    position: relative;
    padding: 12px 50px 12px 16px;
}

h1 + p {
    font-size: 1.25rem;
}

#default-toc ul {
    list-style-type: none;
}

#default-toc li {
    border-left: 2px solid #E5E5E5;
}

#default-toc li.primary--text {
    border-left-color: currentColor;
}

#default-toc .m-toc-link {
    color: inherit;
}

.m-heading {
    display: inline-block;
    position: relative;
}

.m-heading > a {
    bottom: 0;
    display: inline-block;
    left: 0;
    margin: 0 -.7em;
    position: absolute;
    right: 0;
    top: 0;
}

.m-heading > a:not(:hover):not(:focus) {
    opacity: 0;
}