@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="masa-table-viewer__header-column-resize" @ref="_ref"></div>

@code {

    private ElementReference _ref;
    private bool _firstRender = true;

    protected override bool ShouldRender() => _firstRender;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            _firstRender = false;
            _ = JSRuntime.InvokeVoidAsync(JsInteropConstants.AddStopPropagationEvent, _ref, "pointerdown");
        }
    }

}