@namespace Masa.Blazor
@inherits MItemGroup

<CascadingValue Value="this" IsFixed>
    <div class="@GetClass()"
         style="@GetStyle()"
         id="@Id"
         @ref="Ref"
         @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>