<div class="text-center" >
	<MProgressCircular Value="100" Size="40" Color="indigo"></MProgressCircular>
	<MProgressCircular Value="80" Size="40" Color="lime"></MProgressCircular>
	<MProgressCircular Value="60" Size="40" Color="brown"></MProgressCircular>
	<MProgressCircular Value="40" Size="40" Color="deep-orange"></MProgressCircular>
	<MProgressCircular Value="20" Size="40" Color="blue"></MProgressCircular>
</div>

<style>
	.m-progress-circular {
      margin: 1rem;
    }
</style>