<MTimeline>
    @for (var i= 0; i < 4; i++)
    {
        <MTimelineItem Color="red lighten-2" Large>
            <OppositeContent>
                <span>Tus eu perfecto</span>
            </OppositeContent>
            <ChildContent>
                <MCard Class="elevation-2">
                    <MCardTitle Class="text-h5">
                        Lorem ipsum
                    </MCardTitle>
                    <MCardText>
                        Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.
                    </MCardText>
                </MCard>
            </ChildContent>
        </MTimelineItem>
    }
</MTimeline>