<div class="d-flex flex-column align-center justify-center">
    <MECharts Option="option" Width="@("100%")" MinHeight="300" Dark></MECharts>
</div>

@code{

    private object option = new
    {
        Title = new
        {
            Left = "center",
            Text = "Getting started"
        },
        Tooltip = new { },
        Legend = new
        {
            Right = "20px",
            Data = new[] { "Sales" }
        },
        XAxis = new
        {
            Data = new[] { "Shirt", "Cardigan", "Chiffon shirt", "Pants", "High heel", "Sock" }
        },
        YAxis = new { },
        Series = new[]
        {
            new
            {
                Name = "sales",
                Type = "bar",
                Data = new[] { 5, 20, 36, 10, 10, 20 }
            }
        }
    };

}
