<div class="text-center d-flex align-center justify-space-around">
    <MTooltip Left Text="Left tooltip">
        <ActivatorContent>
            <MButton Color="primary" Dark @attributes="@context.Attrs">Left</MButton>
        </ActivatorContent>
    </MTooltip>

    <MTooltip Top Text="Top tooltip">
        <ActivatorContent>
            <MButton Color="primary" Dark @attributes="@context.Attrs">Top</MButton>
        </ActivatorContent>
    </MTooltip>

    <MTooltip Bottom Text="Bottom tooltip">
        <ActivatorContent>
            <MButton Color="primary" Dark @attributes="@context.Attrs">Bottom</MButton>
        </ActivatorContent>
    </MTooltip>

    <MTooltip Right Text="Right tooltip">
        <ActivatorContent>
            <MButton Color="primary" Dark @attributes="@context.Attrs">Right</MButton>
        </ActivatorContent>
    </MTooltip>
</div>