<div class="text-center d-flex align-center justify-space-around">
    <MTooltip Bottom Text="Tooltip">
        <ActivatorContent>
            <MButton Dark Color="primary" @attributes="@context.Attrs">Bottom</MButton>
        </ActivatorContent>
    </MTooltip>

    <MTooltip Bottom Text="Tooltip">
        <ActivatorContent>
            <MIcon Dark Color="primary" @attributes="@context.Attrs">mdi-home</MIcon>
        </ActivatorContent>
    </MTooltip>

    <MTooltip Bottom Text="Tooltip">
        <ActivatorContent>
            <span @attributes="@context.Attrs">This text has a tooltip</span>
        </ActivatorContent>
    </MTooltip>
</div>