<MCard Flat>
    <MCardText>
        <MContainer Fluid Class="pa-0">
            <MRow>
                <MCol Cols="12">
                    <p>Icon Name</p>
                </MCol>

                <MCol Cols="12" Sm="3">
                    <MButton IconName="mdi-heart" Class="white--text" Color="pink">
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton IconName="mdi-star" Class="white--text" Color="indigo">
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton IconName="mdi-cached" Class="white--text" Color="green">
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton IconName="mdi-thumb-up" Class="white--text" Color="deep-orange">
                    </MButton>
                </MCol>
            </MRow>
            <MRow class="mt-12">
                <MCol Cols="12">
                    <p>Left Icon Name</p>
                </MCol>

                <MCol Cols="12" Sm="3">
                    <MButton LeftIconName="mdi-heart" Class="white--text" Color="pink">
                        heart
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton LeftIconName="mdi-star" Class="white--text" Color="indigo">
                        star
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton LeftIconName="mdi-cached" Class="white--text" Color="green">
                        cached
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton LeftIconName="mdi-thumb-up" Class="white--text" Color="deep-orange">
                        thumb up
                    </MButton>
                </MCol>
            </MRow>
            <MRow class="mt-12">
                <MCol Cols="12">
                    <p>Right Icon Name</p>
                </MCol>

                <MCol Cols="12" Sm="3">
                    <MButton RightIconName="mdi-heart" Color="pink">
                        heart
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton RightIconName="mdi-star" Color="indigo">
                        star
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton RightIconName="mdi-cached" Color="green">
                        cached
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton RightIconName="mdi-thumb-up" Color="deep-orange">
                        thumb up
                    </MButton>
                </MCol>
            </MRow>
        </MContainer>
    </MCardText>
</MCard>