@page "/counter"

<MButtonGroup @bind-Value="btn">
    <MButton>button 1</MButton>
    <MButton>button 2</MButton>
    <MButton>button 3</MButton>
</MButtonGroup>

<button @onclick="() => btn = 1">button</button>

<a href="/new-counter">New counter</a>

<button @onclick="ondialog">dialog</button>

<MDialog @bind-Value="dialog" Fullscreen Transition="dialog-right-transition">
    <MSheet Height="@("100vh")">

        ssssssssssss
        <MIcon OnClick="() => dialog = false">mdi-close</MIcon>
    </MSheet>

</MDialog>

@code {

    private StringNumber btn;

    private bool dialog;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        Console.WriteLine("render at /counter");
    }

    private void ondialog()
    {
        dialog = true;
    }

}
