<div>
    Order: @(string.Join(", ", order))
</div>

<MList Dense>
    <MSortable Items="@_items"
               ItemKey="@(item => item.Name)"
               GhostClass="accent"
               @bind-Order="order">
        <MListItem>@context.Name</MListItem>
        <MDivider/>
    </MSortable>
</MList>

@code {

    private IEnumerable<string> order = new List<string>();

    private record Item(int Id, string Name);

    private List<Item> _items =
    [
        new Item(1, "John"),
        new Item(2, "Mary"),
        new Item(3, "Tom"),
        new Item(4, "Alice"),
        new Item(5, "Bob")
    ];

}