<div>
    Order: @(string.Join(", ", order))
</div>

<MSortable Items="@_items"
           ItemKey="@(item => item.Name)"
           Class="pl-0"
           Style="list-style: none"
           GhostClass="accent"
           @bind-Order="order"
           Tag="ul"
           ItemTag="li"
           Handle=".handle">
    <div class="d-flex align-center py-2">
        <MIcon Class="handle mr-1" Style="cursor: move;">mdi-cursor-move</MIcon>
        @context.Name
    </div>
    <MDivider/>
</MSortable>

@code {

    private IEnumerable<string> order = new List<string>();

    private record Item(int Id, string Name);

    private List<Item> _items =
    [
        new Item(1, "John"),
        new Item(2, "Mary"),
        new Item(3, "Tom"),
        new Item(4, "Alice"),
        new Item(5, "Bob")
    ];

}