@page "/"
@using System.Reflection.Emit

<h1>Test your code here!</h1>

<MDescriptions>
    @foreach (var item in Labels)
    {
        <MDescriptionsItem Label="@item">
            Content for @item
        </MDescriptionsItem>
    }
</MDescriptions>

<MButton OnClick="OnClick">Update</MButton>
<MButton OnClick="OnClick2">Remove</MButton>
<MButton OnClick="OnClick3">222222</MButton>

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        Console.Out.WriteLine("STATE HAS CHANGED");
    }

    private List<string> Labels = new List<string>() { "Label 1", "Label 2", "Label 3", "Label 4", "Label 5", "Label 6" };

    private string label2 = "label 2";


    private void OnClick()
    {
        Labels.Add(DateTime.Now.ToString());
    }


    private void OnClick2()
    {
        Labels.Remove(Labels.ElementAt(1));
    }

    private void OnClick3()
    {
        Labels[1] = "123123123";
        Console.Out.WriteLine("Set label 2 = 123123123");
    }
}
