@page "/"

<h1>Test your code here!</h1>

<MSwiper Style="height: 400px;">
    <MSwiperPagination Type="SwiperPaginationType.Progressbar" />
    <MSwiperNavigation />
    <MSwiperSlide>
        1
    </MSwiperSlide>
    <MSwiperSlide>
        2
    </MSwiperSlide>
    <MSwiperSlide>
        3
    </MSwiperSlide>
</MSwiper>
