@page "/"

<h1>Test your code here!</h1>

@* <Example1 /> *@
@* <Example2 /> *@
@* <Example3 /> *@
@* <Example3 /> *@
@* <Example4 /> *@
@* <Example5 /> *@
<Example6 />



@code
{
private int _message = 0;

private void Send() => _message++;

private void Clear() => _message = 0;
}
@* *@
@* <MList Dense> *@
@*     <MListItemGroup Color="primary"> *@
@*         <MDragZone Options=SetOptions> *@
@*             @if (Items != null) *@
@*             { *@
@*                 @foreach (var item in Items) *@
@*                 { *@
@*                     <MDragItem> *@
@*                         <MListItem Dense> *@
@*                             <div class="flexRow w100"> *@
@*                                 <div style="width:200px;">@item</div> *@
@* *@
@*                                 <MButton Icon OnClick="() => Delete(item)"> *@
@*                                     <MIcon Color="primary">mdi-delete</MIcon> *@
@*                                 </MButton> *@
@* *@
@*                                 <div class="sortArea"> *@
@*                                     <MIcon>mdi-arrow-up-down-bold</MIcon> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </MListItem> *@
@*                     </MDragItem> *@
@*                 } *@
@*             } *@
@*         </MDragZone> *@
@*     </MListItemGroup> *@
@* *@
@*     <div>Count:@(Items.Count)</div> *@
@* </MList> *@
@* *@
@* <style> *@
@*     .flexRow { *@
@*         display: flex; *@
@*         flex-direction: row; *@
@*         align-items: center; *@
@*     } *@
@* </style> *@
@* *@
@* @code { *@
@*     List<string> Items = new List<string>() { "petizers", "Entrees", "Deserts", "Cocktails" }; *@
@* *@
@*     private void SetOptions(SorttableOptions options) *@
@*     { *@
@*         options.Handle = ".sortArea"; *@
@*         options.InvertSwap = true; *@
@*         options.OnEnd = (se) => *@
@*         { *@
@*             var item = Items[se.OldIndex]; *@
@*             Items.RemoveAt(se.OldIndex); *@
@*             Items.Insert(se.NewIndex, item); *@
@*         }; *@
@*     } *@
@* *@
@*     void Delete(string e) *@
@*     { *@
@*         Items.Remove(e); *@
@*     } *@
@* *@
@* } *@