@page "/"

<h1>Test your code here!</h1>

<MDataTable Headers="_headers"
            Items="_desserts"
            ItemsPerPage="5"
            Class="elevation-1">
    <ItemColContent>
        @if (context.Header.Value == "Name")
        {
            <MTooltip Top>
                <ActivatorContent Context="tooltip">
                    <span @attributes="@tooltip.Attrs">@context.Value</span>
                </ActivatorContent>
                <ChildContent>
                    @context.Value
                </ChildContent>
            </MTooltip>
        }
        else
        {
            @context.Value
        }
    </ItemColContent>
</MDataTable>

@code {

    public class Dessert
    {
        public string Name { get; set; }

        public int Calories { get; set; }

        public double Fat { get; set; }

        public int Carbs { get; set; }

        public double Protein { get; set; }

        public int Sodium { get; set; }

        public string Calcium { get; set; }

        public string Iron { get; set; }
    }

    private List<DataTableHeader<Dessert>> _headers = new List<DataTableHeader<Dessert>>
    {
        new()
        {
            Text = "Dessert",
            Align = DataTableHeaderAlign.Start,
            Sortable = true,
            Value = nameof(Dessert.Name),
            Width = 200,
            Ellipsis = true
        },
        new() { Text = "Calories", Value = nameof(Dessert.Calories) },
        new() { Text = "Fat (g)", Value = nameof(Dessert.Fat) },
        new() { Text = "Carbs (g)", Value = nameof(Dessert.Carbs) },
        new() { Text = "Protein (g)", Value = nameof(Dessert.Protein) },
        new() { Text = "Iron (%)", Value = nameof(Dessert.Iron) }
    };

    private List<Dessert> _desserts = new List<Dessert>
    {
        new Dessert
        {
            Name = "Frozen Yogurt ABCDEFG 123qwe123qwe ",
            Calories = 159,
            Fat = 6.0,
            Carbs = 24,
            Protein = 4.0,
            Iron = "1%",
        },
        new Dessert
        {
            Name = "Ice cream sandwich ABCDEFG 123qwe123qwe ",
            Calories = 237,
            Fat = 9.0,
            Carbs = 37,
            Protein = 4.3,
            Iron = "1%",
        },
        new Dessert
        {
            Name = "Eclair ABCDEFG 123qwe123qwe ",
            Calories = 262,
            Fat = 16.0,
            Carbs = 23,
            Protein = 6.0,
            Iron = "7%",
        },
        new Dessert
        {
            Name = "Cupcake ABCDEFG 123qwe123qwe ",
            Calories = 305,
            Fat = 3.7,
            Carbs = 67,
            Protein = 4.3,
            Iron = "8%",
        },
        new Dessert
        {
            Name = "Gingerbread ABCDEFG 123qwe123qwe ",
            Calories = 356,
            Fat = 16.0,
            Carbs = 49,
            Protein = 3.9,
            Iron = "16%"
        },
        new Dessert
        {
            Name = "Jelly bean ABCDEFG 123qwe123qwe ",
            Calories = 375,
            Fat = 0.0,
            Carbs = 94,
            Protein = 0.0,
            Iron = "0%",
        },
        new Dessert
        {
            Name = "Lollipop ABCDEFG 123qwe123qwe ",
            Calories = 392,
            Fat = 0.2,
            Carbs = 98,
            Protein = 0,
            Iron = "2%",
        },
        new Dessert
        {
            Name = "Honeycomb ABCDEFG 123qwe123qwe ",
            Calories = 408,
            Fat = 3.2,
            Carbs = 87,
            Protein = 6.5,
            Iron = "45%",
        },
        new Dessert
        {
            Name = "Donut ABCDEFG 123qwe123qwe ",
            Calories = 452,
            Fat = 25.0,
            Carbs = 51,
            Protein = 4.9,
            Iron = "22%",
        },
        new Dessert
        {
            Name = "KitKat ABCDEFG 123qwe123qwe ",
            Calories = 518,
            Fat = 26.0,
            Carbs = 65,
            Protein = 7,
            Iron = "6%",
        }
    };

}