@page "/"
@using System.ComponentModel.DataAnnotations
@inject IPopupService Pop

<h1>Test your code here! @_date</h1>

time: @(time?.ToString("T"))
<MDigitalClock TValue="TimeOnly?" Disabled Color="primary" Ripple="false" @bind-Value="time"></MDigitalClock>

<PDateDigitalClockPickerView @bind-Value="_date" UseSeconds="false">
</PDateDigitalClockPickerView>

<MDivider Class="my-2"></MDivider>

<PDateDigitalClockCompactPickerView @bind-Value="_date" UseSeconds="false">
</PDateDigitalClockCompactPickerView>

<MDivider Class="my-2"></MDivider>

<PDateTimePickerView @bind-Value="_date">
</PDateTimePickerView>

<MDivider Class="my-2"></MDivider>

<PDateTimeCompactPickerView @bind-Value="_date">
</PDateTimeCompactPickerView>

@code {

    // private TimeOnly? time;
    private TimeOnly? time = TimeOnly.FromDateTime(DateTime.Now);

    private DateTime? _date = null;
    private DateTime? _date2 = null;

    private Model _model = new();

    class Model
    {
        [Required]
        public DateTime? Date { get; set; }
    }


}
