@page "/"

<h1>Test your code here!</h1>

<MDialog MaxWidth="400" Id="dialog1">
    <ActivatorContent>
        <MButton @attributes="@context.Attrs">CLICK ME</MButton>
    </ActivatorContent>
    <ChildContent>
        <MSheet>
            <MMenu Id="menu2">
                <ActivatorContent>
                    <MButton @attributes="@context.Attrs">CLICK ME 2</MButton>
                </ActivatorContent>
                <ChildContent>
                    <MSheet Width="200" Height="200">
                        <MMenu Id="menu3">
                            <ActivatorContent>
                                <MButton @attributes="@context.Attrs">CLICK ME 3</MButton>
                            </ActivatorContent>
                            <ChildContent>
                                CLICK CLICK CLICK
                            </ChildContent>
                        </MMenu>
                    </MSheet>
                </ChildContent>
            </MMenu>
        </MSheet>
    </ChildContent>
</MDialog>
