@page "/"
@page "/{value:int}"

<h1>Test your code here!</h1>

@if (Value == 0)
{
    <MTextField @bind-Value="text" Label="text"></MTextField>
}
else
{
    @Value

    <MButton Href="@($"/{NextValue}")">Go @NextValue</MButton>
}

@code {

    private StringNumber value;

    private string text;

    [Parameter]
    public int Value { get; set; }

    private int NextValue
    {
        get
        {
            if (Value > 7)
            {
                return 9 - Value + 1;
            }

            return Value + 2;
        }
    }



}
