@page "/"

<h1>Test your code here!</h1>

<MSwiper>
    <MSwiperSlide>
        1
    </MSwiperSlide>
    <MSwiperSlide>
        2
    </MSwiperSlide>
    <MSwiperSlide>
        3
    </MSwiperSlide>
</MSwiper>
