@inject I18n I18n
@inject MasaBlazor MasaBlazor

<div class="flex-1-1-auto d-flex align-center justify-end">
    @if (MasaBlazor.Breakpoint.LgAndUp)
    {
        <Tabs />
    }

    @if (MasaBlazor.Breakpoint.XsOnly)
    {
        <MSpacer />
    }

    @if (MasaBlazor.Breakpoint.SmAndUp)
    {
        <Search />
    }

    <LanguageMenu OnCultureChanged="@OnCultureChanged" />

    @if (MasaBlazor.Breakpoint.SmAndUp)
    {
        <ToolIcons />
    }
    else
    {
        <MobileToolIcons OnDotClick="OnDotClick" />
    }
</div>


@code {

    [Parameter]
    public EventCallback<string> OnCultureChanged { get; set; }

    [Parameter]
    public EventCallback OnDotClick { get; set; }

}
