<div class="text-center">
    <div>
        <MButton Class="ma-2"
                 Color="primary"
                 Dark>
            Accept
            <MIcon Dark
                   Right>
                mdi-checkbox-marked-circle
            </MIcon>
        </MButton>

        <MButton Class="ma-2"
                 Color="red"
                 Dark>
            Decline
            <MIcon Dark
                   Right>
                mdi-cancel
            </MIcon>
        </MButton>

        <MButton Class="ma-2"
                 Dark>
            <MIcon Dark
                   Left>
                mdi-minus-circle
            </MIcon>Cancel
        </MButton>
    </div>

    <div>
        <MButton Class="ma-2"
                 Color="orange darken-2"
                 Dark>
            <MIcon Dark
                   Left>
                mdi-arrow-left
            </MIcon>Back
        </MButton>

        <MButton Class="ma-2"
                 Color="purple"
                 Dark>
            <MIcon Dark>
                mdi-wrench
            </MIcon>
        </MButton>

        <MButton Class="ma-2"
                 Color="indigo"
                 Dark>
            <MIcon Dark>
                mdi-cloud-upload
            </MIcon>
        </MButton>
    </div>

    <div>
        <MButton Class="ma-2"
                 Text
                 Icon
                 Color="blue lighten-2">
            <MIcon>mdi-thumb-up</MIcon>
        </MButton>

        <MButton Class="ma-2"
                 Text
                 Icon
                 Color="red lighten-2">
            <MIcon>mdi-thumb-down</MIcon>
        </MButton>
    </div>
</div>