<MContainer Fluid>
    <MRow
        Justify="JustifyTypes.SpaceAround"
        Class="mb-2">
        <span class="group pa-2">
            <MIcon Small>home</MIcon>
            <MIcon Small>event</MIcon>
            <MIcon Small>info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon
                Dark
                Small>
                folder_open
            </MIcon>
            <MIcon
                Dark
                Small>
                widgets
            </MIcon>
            <MIcon
                Dark
                Small>
                gavel
            </MIcon>
        </span>
    </MRow>

    <MRow
        Justify="JustifyTypes.SpaceAround"
        Class="mb-2">
        <span class="group pa-2">
            <MIcon>home</MIcon>
            <MIcon>event</MIcon>
            <MIcon>info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon Dark>folder_open</MIcon>
            <MIcon Dark>widgets</MIcon>
            <MIcon Dark>gavel</MIcon>
        </span>
    </MRow>

    <MRow
        Justify="JustifyTypes.SpaceAround"
        Class="mb-2">
        <span class="group pa-2">
            <MIcon Large>home</MIcon>
            <MIcon Large>event</MIcon>
            <MIcon Large>info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon
                Large
                Dark>
                folder_open
            </MIcon>
            <MIcon
                Large
                Dark>
                widgets
            </MIcon>
            <MIcon
                Large
                Dark>
                gavel
            </MIcon>
        </span>
    </MRow>

    <MRow Justify="JustifyTypes.SpaceAround">
        <span class="group pa-2">
            <MIcon XLarge>home</MIcon>
            <MIcon XLarge>event</MIcon>
            <MIcon XLarge>info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon
                XLarge
                Dark>
                folder_open
            </MIcon>
            <MIcon
                XLarge
                Dark>
                widgets
            </MIcon>
            <MIcon
                XLarge
                Dark>
                gavel
            </MIcon>
        </span>
    </MRow>
</MContainer>

<style>
    .group {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }
</style>