<MContainer Fluid>
    <MRow
        Justify="JustifyTypes.SpaceAround"
        Class="mb-2">
        <span class="group pa-2">
            <MIcon Small>md:home</MIcon>
            <MIcon Small>md:event</MIcon>
            <MIcon Small>md:info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon Dark Small>
                md:folder_open
            </MIcon>
            <MIcon Dark Small>
                md:widgets
            </MIcon>
            <MIcon Dark Small>
                md:gavel
            </MIcon>
        </span>
    </MRow>

    <MRow
        Justify="JustifyTypes.SpaceAround"
        Class="mb-2">
        <span class="group pa-2">
            <MIcon>md:home</MIcon>
            <MIcon>md:event</MIcon>
            <MIcon>md:info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon Dark>md:folder_open</MIcon>
            <MIcon Dark>md:widgets</MIcon>
            <MIcon Dark>md:gavel</MIcon>
        </span>
    </MRow>

    <MRow
        Justify="JustifyTypes.SpaceAround"
        Class="mb-2">
        <span class="group pa-2">
            <MIcon Large>md:home</MIcon>
            <MIcon Large>md:event</MIcon>
            <MIcon Large>md:info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon Large Dark>
                md:folder_open
            </MIcon>
            <MIcon Large Dark>
                md:widgets
            </MIcon>
            <MIcon Large Dark>
                md:gavel
            </MIcon>
        </span>
    </MRow>

    <MRow Justify="JustifyTypes.SpaceAround">
        <span class="group pa-2">
            <MIcon XLarge>md:home</MIcon>
            <MIcon XLarge>md:event</MIcon>
            <MIcon XLarge>md:info</MIcon>
        </span>

        <span class="group pa-2 teal">
            <MIcon XLarge Dark>
                md:folder_open
            </MIcon>
            <MIcon XLarge Dark>
                md:widgets
            </MIcon>
            <MIcon XLarge Dark>
                md:gavel
            </MIcon>
        </span>
    </MRow>
</MContainer>

<style>
    .group {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }
</style>
