<div class="mx-auto" style="max-width: 500px;">
    <div>
        Order: @(string.Join(", ", _order))
    </div>

    <MList Dense>
        <MSortable Items="@_items"
                   ItemKey="@(item => item)"
                   GhostClass="accent"
                   Animation="200"
                   Easing="cubic-bezier(0, 0.55, 0.45, 1)"
                   @bind-Order="_order"
                   Context="name">
            <MListItem>@name</MListItem>
            <MDivider/>
        </MSortable>
    </MList>
</div>

@code {

    private List<string> _order = new();
    private string[] _items = ["John", "Mary", "David", "Lily", "Benjamin"];


}