<MTimeline>
    <MTimelineItem>
        <ChildContent>
            duang!duang!duang!
        </ChildContent>
    </MTimelineItem>
    <MTimelineItem Class="text-right">
        <ChildContent>
            duang!duang!duang!
        </ChildContent>
    </MTimelineItem>
    <MTimelineItem>
        <ChildContent>
            duang!duang!duang!
        </ChildContent>
    </MTimelineItem>
    <MTimelineItem>
        <ChildContent>
            <MCard>
                <MCardTitle>
                    Lorem ipsum
                </MCardTitle>
                <MCardText>
                    Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.
                </MCardText>
            </MCard>
        </ChildContent>
        <AvatarContent>
            <MAvatar>
                <MImage Src="https://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20190621/d940a528fbfb4ec8a443215ba4e8b888.jpeg"></MImage>
            </MAvatar>
        </AvatarContent>
        <OppositeContent>
            <span>Tus eu perfecto</span>
        </OppositeContent>
    </MTimelineItem>
</MTimeline>


