<MCard Class="mx-auto"
        MaxWidth="600">
    <MCardTitle Class="blue-grey white--text">
        <span class="text-h6">Logs</span>
        <MSpacer></MSpacer>
        <MButton Outlined
               Color="white"
               Dark
               Depressed>
            Realtime Logging
        </MButton>
    </MCardTitle>
    <MCardText Class="py-0">
        <MTimeline Dense>
            <MTimelineItem Color="info"
                             Small
                             FillDot>
                <MAlert Visible
                         Color="info"
                         Icon="@("mdi-information")"
                         Class="white--text">
                    Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.
                </MAlert>
            </MTimelineItem>
        </MTimeline>
    </MCardText>
</MCard>