<div>
    <MSystemBar Dark Window>
        <MIcon>mdi-message</MIcon>
        <span>10 unread messages</span>
        <MSpacer></MSpacer>
        <MIcon>mdi-minus</MIcon>
        <MIcon>mdi-checkbox-blank-outline</MIcon>
        <MIcon>mdi-close</MIcon>
    </MSystemBar>
</div>