<MRow Justify="JustifyTypes.Center">
    <MCol Cols="12"
          Sm="10"
          Md="8"
          Lg="6">
        <MCard>
            <MCardText>
                <MTextField @bind-Value="_name"
                            Rules="Rules.Name"
                            ErrorMessages="_errorMessages"
                            Label="Full Name"
                            Placeholder="John Doe"
                            required></MTextField>
                <MTextField @bind-Value="_address"
                            Rules="Rules.Address"
                            Label="Address Line"
                            Placeholder="Snowy Rock Pl"
                            Counter="25"
                            required>
                </MTextField>
                <MTextField @bind-Value="_city"
                            Rules="Rules.City"
                            Label="City"
                            Placeholder="El Paso"
                            required></MTextField>
                <MTextField @bind-Value="_state"
                            Rules="Rules.State"
                            Label="State/Province/Region"
                            required
                            Placeholder="TX"></MTextField>
                <MTextField @bind-Value="_zip"
                            Rules="Rules.Zip"
                            Label="ZIP / Postal Code"
                            required
                            Placeholder="79938"></MTextField>
                <MAutocomplete @bind-Value="_country"
                               Rules="Rules.Country"
                               Items="_countries"
                               ItemValue="r=>r"
                               ItemText="r=>r"
                               Label="Country"
                               Placeholder="Select..."
                               required></MAutocomplete>
            </MCardText>
            <MDivider class="mt-12"></MDivider>
            <MCardActions>
                <MButton Text>
                    Cancel
                </MButton>
                <MSpacer></MSpacer>
                <SlideXReverseTransition>
                    @if (_formHasErrors)
                    {
                        <MTooltip Left>
                            <ActivatorContent>
                                <MButton Icon
                                     Class="my-0"
                                     OnClick="ResetForm"
                                     @attributes="context.Attrs">
                                    <MIcon>mdi-refresh</MIcon>
                                </MButton>
                            </ActivatorContent>
                            <ChildContent>
                                <span>Refresh form</span>
                            </ChildContent>
                        </MTooltip>
                    }
                </SlideXReverseTransition>
                <MButton Color="primary"
                         Text
                         OnClick="Submit">
                    Submit
                </MButton>
            </MCardActions>
        </MCard>
    </MCol>
</MRow>

@code {
    public static class Rules
    {
        public static IEnumerable<Func<string, StringBoolean>> Name => new List<Func<string, StringBoolean>>()
                {
                    v => !string.IsNullOrEmpty(v) ? true : "This field is required"
                };

        public static IEnumerable<Func<string, StringBoolean>> Address => new List<Func<string, StringBoolean>>()
                {
                    v => !string.IsNullOrEmpty(v) ? true : "This field is required",
                    v => !string.IsNullOrEmpty(v) && v.Length <= 25 ? true : "Address must be less than 25 characters"
                };

        public static IEnumerable<Func<string, StringBoolean>> City => new List<Func<string, StringBoolean>>()
                {
                    v => !string.IsNullOrEmpty(v) ? true : "This field is required"
                };

        public static IEnumerable<Func<string, StringBoolean>> State => new List<Func<string, StringBoolean>>()
                {
                    v => !string.IsNullOrEmpty(v) ? true : "This field is required"
                };

        public static IEnumerable<Func<string, StringBoolean>> Zip => new List<Func<string, StringBoolean>>()
                {
                    v => !string.IsNullOrEmpty(v) ? true : "This field is required"
                };

        public static IEnumerable<Func<string, StringBoolean>> Country => new List<Func<string, StringBoolean>>()
                {
                    v => !string.IsNullOrEmpty(v) ? true : "This field is required"
                };
    }

    private string _name;
    private string _address;
    private string _city;
    private string _state;
    private string _zip;
    private string _country;
    private List<string> _errorMessages = new();
    private bool _formHasErrors;
    private List<string> _countries = new List<string>()
    {
        "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua &amp; Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia &amp; Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Cape Verde", "Cayman Islands", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cruise Ship", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kuwait", "Kyrgyz Republic", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Mauritania", "Mauritius", "Mexico", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Namibia", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Norway", "Oman", "Pakistan", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre &amp; Miquelon", "Samoa", "San Marino", "Satellite", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "South Africa", "South Korea", "Spain", "Sri Lanka", "St Kitts &amp; Nevis", "St Lucia", "St Vincent", "St. Lucia", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L\"Este", "Togo", "Tonga", "Trinidad &amp; Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks &amp; Caicos", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"
    };

    public void ResetForm()
    {
        _formHasErrors = false;
    }

    public void Submit()
    {

    }
  }
