<div class="text-center">
    <MChip Class="ma-2">
        Default
    </MChip>

    <MChip Class="ma-2"
           Color="primary">
        Primary
    </MChip>

    <MChip Class="ma-2"
           Color="secondary">
        Secondary
    </MChip>

    <MChip Class="ma-2"
           Color="red"
           TextColor="white">
        Red Chip
    </MChip>

    <MChip Class="ma-2"
           TextColor="white"
           Color="green">
        Green Chip
    </MChip>
</div>