<div class="text-center">
    <MChip Class="ma-2"
           Label>
        Label
    </MChip>

    <MChip Class="ma-2"
           Color="pink"
           TextColor="white"
           Label>
        <MIcon Left>
            mdi-label
        </MIcon>
        Tags
    </MChip>

    <MChip Class="ma-2"
           Color="primary"
           TextColor="white"
           Label>
        <MIcon Left>
            mdi-account-circle-outline
        </MIcon>
        MASA
    </MChip>

    <MChip Class="ma-2"
           Close
           Color="cyan"
           TextColor="white"
           Label>
        <MIcon Left>
            mdi-twitter
        </MIcon>
        New Tweets
    </MChip>
</div>