<div class="text-center">
    <MChip Class="ma-2" Tonal>Default</MChip>
    <MChip Class="ma-2" Color="primary" Tonal>Primary</MChip>
    <MChip Class="ma-2" Color="secondary" Tonal>Secondary</MChip>
    <MChip Class="ma-2" Color="red" Tonal>Red Chip</MChip>
    <MChip Class="ma-2" Color="green" Tonal>Green Chip</MChip>
</div>