<MContainer fluid>
    <MRadioGroup @bind-Value="radios">
        <LabelContent>
            <div>Your favourite <strong>search engine</strong></div>
        </LabelContent>
        <ChildContent>
            <MRadio Value="@("Google")">
                <LabelContent>
                    <div>Of course it's <strong class="success--text">Google</strong></div>
                </LabelContent>
            </MRadio>
            <MRadio Value="@("Duckduckgo")">
                <LabelContent>
                    <div>Definitely <strong class="primary--text">Duckduckgo</strong></div>
                </LabelContent>
            </MRadio>
        </ChildContent>
    </MRadioGroup>
</MContainer>

@code {

    string radios;

}