<div class="ma-auto" style="max-width: 260px">
    <MOtpInput @OtpValue="@otp" Type="password" Length="5" Dark></MOtpInput>
    <v-otp-input
      v-model="otp"
      type="password"
      length="5"
      dark
    ></v-otp-input>
  </div>
@code {
    string otp = "";
}