<div>
    <MContainer Class="grey lighten-5">
        <MRow NoGutters>
            @for (int index = 0; index < 4; index++)
            {
                <MCol>
                    <MCard Class="pa-2"
                           Outlined
                           tile>
                        Column
                    </MCard>
                </MCol>
                if (index == 1)
                {
                    <MResponsive Width="@("100%")"></MResponsive>
                }
            }
        </MRow>
    </MContainer>
</div>