<MItemGroup Mandatory>
    <MContainer>
        <MRow>
            @foreach (var i in Enumerable.Range(0, 3))
            {
                <MCol Cols="4" @key="i">
                    <MItem>
                        <MCard Color="@(context.Active ? "primary white--text" : "")"
                               Class="d-flex align-center"
                               Height="200"
                               OnClick="context.Toggle">
                            <div class="text-h3 flex-grow-1 text-center">
                                @(context.Active ? "Selected" : "Click Me!")
                            </div>
                        </MCard>
                    </MItem>
                </MCol>
            }
        </MRow>
    </MContainer>
</MItemGroup>
