@namespace Masa.Blazor
@inherits BDomComponentBase

<div id="@Id"
     class="@CssProvider.GetClass()"
     style="@CssProvider.GetStyle()"
     @ref="Ref">
    @ChildContent
    <div style="@CssProvider.GetStyle("content")">
    </div>
</div>
