<MCard Style="width:300px;">
	<Cover> <img alt="example" src="https://cdn.vuetifyjs.com/images/cards/cooking.png" /> </Cover>
	<Title> <span>Card title</span> </Title>
	<SubTitle> <span>Subtitle text</span> </SubTitle>
	<Text>  <p>Greyhound divisively hello coldly wonderfully marginally far upon excluding. </p> </Text>
	<Actions>
		<button type="button" class="m-btn m-btn--text theme--light m-size--default primary--text">
			<i class="fas fa-edit"></i>
			<span class="m-btn__content"> edit </span>
		</button>
		<button type="button" class="m-btn m-btn--text theme--light m-size--default primary--text">
			<i class="fas fa-share-square"></i>
			<span class="m-btn__content"> share </span>
		</button>
	</Actions>
</MCard>