<MCard MaxWidth="374" Loading=@loading>
  @*  <MProgressLinear Color="deep-purple" Height="10" Indeterminate/>*@
    <MImage Alt="example" Height="250" Src="https://cdn.vuetifyjs.com/images/cards/cooking.png" />
    <MCardTitle>Cafe Badilico</MCardTitle>
    <MCardText>
       <MRow Align="@AlignTypes.Center" Class="mx-0">
           <MRating Value=4.5 Color="amber" Dense HalfIncrements Readonly Size=14></MRating>
           <div class="grey--text ms-4">4.5 (413)</div>
       </MRow>
       <div class="my-4 text-subtitle-1">$ • Italian, Cafe </div>
       <div>Small plates, salads & sandwiches - an intimate setting with 12 indoor seats plus patio seating.</div>
    </MCardText>
    <MDivider Class="mx-4"></MDivider>
    <MCardTitle>Tonight's availability</MCardTitle>
    <MCardText> 
        <MChipGroup Value=@selection ActiveClass="deep-purple accent-4 white--text" Column>
            <MChip OnClick="()=>selection=0">5:30PM</MChip>
            <MChip OnClick="()=>selection=1">7:30PM</MChip>
            <MChip OnClick="()=>selection=2">8:00PM</MChip>
            <MChip OnClick="()=>selection=3">9:00PM</MChip>
        </MChipGroup>
    </MCardText>
    <MCardActions>
        <MButton Color="deep-purple lighten-2" Text @onclick="Reserve">Reserve</MButton>
    </MCardActions>
</MCard>

@code{
    StringBoolean loading;
    int selection = 1;
    async Task Reserve()
    {
        loading = "deep-purple";
        await Task.Delay(2000);
        loading = false;
    }
}