<MCard Outlined Style="width:300px;">
	<Title> <span>Card title</span> </Title>
	<SubTitle> <span>Subtitle text</span> </SubTitle>
	<Text>  <p>Greyhound divisively hello coldly wonderfully marginally far upon excluding. </p> </Text>
	<Actions>
		<MButton Text Color="primary">
			<MIcon Small>fas fa-edit</MIcon>
			edit
		</MButton>
		<MButton Text Color="primary">
			<MIcon Small>fas fa-share-square</MIcon>
			share
		</MButton>
	</Actions>
</MCard>