<MCard Outlined MaxWidth="344">
    <MCardTitle> <span>Card title</span> </MCardTitle>
    <MCardSubtitle> <span>Subtitle text</span> </MCardSubtitle>
    <MCardText>  <p>Greyhound divisively hello coldly wonderfully marginally far upon excluding. </p> </MCardText>
    <MCardActions>
        <MButton Text Color="primary">
            <MIcon Small>fas fa-edit</MIcon>
            edit
        </MButton>
        <MButton Text Color="primary">
            <MIcon Small>fas fa-share-square</MIcon>
            share
        </MButton>
    </MCardActions>
</MCard>