<MRow>
    <MCol Span="12" Md="3">
        <MCard Outlined>
            <MListItem ThreeLine>
                <MListItemContent>
                    <div class="text-overline">
                        TOTAL TRAFFIC
                    </div>
                    <MListItemTitle Class="text-h5">
                        350,897
                    </MListItemTitle>
                    <MListItemSubtitle Class="mt-6">
                        <span style="color:#2dce89 !important">3.48%</span>
                        Since last month
                    </MListItemSubtitle>
                </MListItemContent>
                <MListItemAvatar Size="48" Style="background:linear-gradient(87deg,#f5365c,#f56036) !important">
                    <MIcon Class="white--text">mdi-poll-box-outline</MIcon>
                </MListItemAvatar>
            </MListItem>
        </MCard>
    </MCol>
    <MCol Span="12" Md="3">
        <MCard>
            <MCardText>
                <MRow>
                    <MCol Class="no-gutters font-weight-bold">
                        <div style="font-size:.8125rem !important; color:#8898aa !important;">
                            TOTAL TRAFFIC
                        </div>
                        <p style="font-size:1.25rem!important">350,897</p>
                    </MCol>
                    <MCol Class="text-right">
                        <MAvatar Size="48" Color="indigo">
                            <span class="white--text headline">48</span>
                        </MAvatar>
                    </MCol>
                </MRow>
                <MRow>
                    <MCol>
                        <span style="color:#2dce89 !important">3.48%</span>
                        Since last month
                    </MCol>
                </MRow>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Span="12" Md="3">
        <MCard Outlined>
            <MListItem ThreeLine>
                <MListItemContent Class="d-flex flex-column justify-center align-center">
                    <MAvatar Size="40" Class="green lighten-5">
                        <MIcon Class="green--text">mdi-hand-pointing-up</MIcon>
                    </MAvatar>
                    <MListItemTitle Class="text-h3">
                        350,897
                    </MListItemTitle>
                    <MListItemSubtitle Class="mb-6">
                        TOTAL TRAFFIC
                    </MListItemSubtitle>
                    <MButton Outlined Rounded Class="caption font-weight-bold green--text green lighten-5 py-2 px-4">
                        <MIcon Class="caption" aria-hidden="true">mdi-arrow-down-drop-circle-outline</MIcon>
                        3.48%
                    </MButton>
                </MListItemContent>
            </MListItem>
        </MCard>
    </MCol>
    <MCol Span="12" Md="3">
        <MCard Outlined>
            <MListItem ThreeLine>
                <MListItemContent Class="d-flex flex-column justify-center align-center">
                    <MButton XSmall Fab Absolute Top Right Class="green">
                        <MIcon Class="white--text">mdi-plus</MIcon>
                    </MButton>
                    <MAvatar Size="40" Class="green lighten-5">
                        <MIcon Class="green--text">mdi-hand-pointing-up</MIcon>
                    </MAvatar>
                    <MListItemTitle Class="text-h3">
                        350,897
                    </MListItemTitle>
                    <MListItemSubtitle Class="mb-6">
                        TOTAL TRAFFIC
                    </MListItemSubtitle>
                    <MButton Outlined Rounded Class="caption font-weight-bold green--text green lighten-5 py-2 px-4">
                        <MIcon Class="caption" aria-hidden="true">mdi-arrow-down-drop-circle-outline</MIcon>
                        3.48%
                    </MButton>
                </MListItemContent>
            </MListItem>
        </MCard>
    </MCol>
</MRow>