<MCard MaxWidth="400">
	<MCardText>
		<MListItem TwoLine>
			<MListItemContent>
				<MListItemTitle class="headline">
					San Francisco
				</MListItemTitle>
				<MListItemTitle>Mon, 12:30 PM, Mostly sunny</MListItemTitle>
			</MListItemContent>
		</MListItem>
		<MListItem>
			<MRow Align="center">
				<MCol cols="6">
					<h1 class="display-1">23&deg;C</h1>
				</MCol>
				<MCol cols="6">
					<img src="https://cdn.vuetifyjs.com/images/cards/sun.png" />
				</MCol>
			</MRow>
		</MListItem>
		<MListItem>
			<MListItemIcon>
				<MIcon>mdi-send</MIcon>
			</MListItemIcon>
			<MListItemTitle>23 km/h</MListItemTitle>
		</MListItem>
		<MListItem>
			<MListItemIcon>
				<MIcon>mdi-cloud-download</MIcon>
			</MListItemIcon>
			<MListItemTitle>48%</MListItemTitle>
		</MListItem>
		<MList>
			<MListItem>
				<MListItemTitle>Tuesday</MListItemTitle>
				<MListItemIcon>
					<MIcon>mdi-white-balance-sunny</MIcon>
				</MListItemIcon>
				<MListItemTitle> 23&deg;C </MListItemTitle>
			</MListItem>
			<MListItem>
				<MListItemTitle>Wednesday</MListItemTitle>
				<MListItemIcon>
					<MIcon>mdi-white-balance-sunny</MIcon>
				</MListItemIcon>
				<MListItemTitle> 26&deg;C </MListItemTitle>
			</MListItem>
			<MListItem>
				<MListItemTitle>Thursday</MListItemTitle>
				<MListItemIcon>
					<MIcon>mdi-cloud</MIcon>
				</MListItemIcon>
				<MListItemTitle> 25&deg;C </MListItemTitle>
			</MListItem>
		</MList>
	</MCardText>
	<MCardActions>
		<MButton Text Color="primary" Block>
			Full Report
		</MButton>
	</MCardActions>
</MCard>