<MCard>
	<MSystemBar></MSystemBar>
	<MToolbar Flat>
		<MToolbarTitle>
			My Document
		</MToolbarTitle>
		<MSpacer>
		</MSpacer>
		<div>
			<MSwitch Label="Sticky Banner" HideDetails="true" @bind-Value="_sticky">
			</MSwitch>
		</div>
	</MToolbar>
	<MBanner SingleLine>
		<ChildContent>
			We can't save your edits while you are in offline mode.
		</ChildContent>
		<ActionsContent>
			<MButton Text Color="deep-purple accent-4">
				Get Online
			</MButton>
		</ActionsContent>
	</MBanner>
	<MCardText Class="grey lighten-4" @bind-Sticky="_sticky">
		<MSheet MaxWidth="800" Height="300" Class="mx-auto">
		</MSheet>
	</MCardText>
</MCard>

@code
{
	private bool _sticky = false;
}