@page "/cyx"

<h2>Components</h2>

<div>
    <h3>Icon</h3>

    <div>
        <h4>Supported Icons</h4>
        <div>
            <h5>Material Design</h5>
            <div>
                <MIcon Large Color="green darken-2">domain</MIcon>
                <MIcon Large Color="#6A1B9A">dialpad</MIcon>
                <MIcon Large Color="teal darken-2">email</MIcon>
            </div>
        </div>

        <div>
            <h5>Material Design Icons</h5>
            <div>
                <MIcon Large Color="green darken-2">mdi-domain</MIcon>
                <MIcon Large Color="#6A1B9A">mdi-dialpad</MIcon>
                <MIcon Large Color="teal darken-2">mdi-email</MIcon>
            </div>
        </div>

        <div>
            <h5>Font Awesome 5</h5>
            <div>
                <MIcon Large Color="green darken-2">fas fa-lock</MIcon>
                <MIcon Large Color="#6A1B9A">fas fa-search</MIcon>
                <MIcon Large Color="teal darken-2">fas fa-list</MIcon>
            </div>
        </div>

        <div>
            <h5>SVG</h5>
            <MIcon>@_heartSvg</MIcon>
            <MIcon>@((MarkupString)_accountBook)</MIcon>
        </div>
    </div>

    <div>
        <h4>Click</h4>
        <MIcon Click="OnSearch">search</MIcon>
        <MIcon Click="OnSearch">@_heartSvg</MIcon>
    </div>
</div>

@code {
    private string _icon = "home";

    private RenderFragment _heartSvg =
@<svg width="1em" height="1em" fill="currentColor" viewBox="0 0 1024 1024">
    <path d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z" />
</svg>;

private string _accountBook = "<?xml version=\"1.0\" standalone=\"no\"?><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"1em\" height=\"1em\" fill=\"currentColor\" class=\"icon\" viewBox=\"0 0 1024 1024\">  <path d=\"M880 184H712v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H384v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H144c-17.7 0-32 14.3-32 32v664c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V216c0-17.7-14.3-32-32-32zM648.3 426.8l-87.7 161.1h45.7c5.5 0 10 4.5 10 10v21.3c0 5.5-4.5 10-10 10h-63.4v29.7h63.4c5.5 0 10 4.5 10 10v21.3c0 5.5-4.5 10-10 10h-63.4V752c0 5.5-4.5 10-10 10h-41.3c-5.5 0-10-4.5-10-10v-51.8h-63.1c-5.5 0-10-4.5-10-10v-21.3c0-5.5 4.5-10 10-10h63.1v-29.7h-63.1c-5.5 0-10-4.5-10-10v-21.3c0-5.5 4.5-10 10-10h45.2l-88-161.1c-2.6-4.8-.9-10.9 4-13.6 1.5-.8 3.1-1.2 4.8-1.2h46c3.8 0 7.2 2.1 8.9 5.5l72.9 144.3 73.2-144.3a10 10 0 0 1 8.9-5.5h45c5.5 0 10 4.5 10 10 .1 1.7-.3 3.3-1.1 4.8z\"/></svg>";

private void OnSearch()
{
  Console.WriteLine("search icon clicked!");
}
}
