<div class="text-center">
    <PMobileTimePicker @bind-Value="_time"
                       Min="new TimeOnly(9, 30, 0)"
                       Max="new TimeOnly(14, 59, 59)">
        <ActivatorContent>
            <MButton Color="primary" Class="text-capitalize" Text @attributes="@context.Attrs">
                @(_time.ToLongTimeString())
            </MButton>
        </ActivatorContent>
    </PMobileTimePicker>
</div>

@code {

    private TimeOnly _time;

}
