<div class="container team-members">
    <div class="row">
        <hr role="separator" aria-orientation="horizontal" class="mb-1 flex-1-1-100 m-divider theme--light">
        <!---->
        <div class="col col-12">
            <div class="m-lazy" style="min-height: 128px;">
                <div class="d-flex">
                    <div class="m-avatar" style="height: 72px; min-width: 72px; width: 72px;">
                        <div class="m-image m-responsive theme--light">
                            <div class="m-responsive__sizer" style="padding-bottom: 100%;"></div>
                            <div class="m-image__image m-image__image--cover" style="background-image: url(@Avatar); background-position: center center;"></div>
                            <div class="m-responsive__content" style="width: 400px;"></div>
                        </div>
                    </div>
                    <div class="pl-6 font-weight-medium">
                        <div class="text-h5 mb-1 font-weight-bold d-flex align-center">
                            <span class="mr-3">@Name</span>
                            <a href="@GithubURL" rel="noopener" target="_blank" class="d-inline-flex text-decoration-none mr-1">
                                <span aria-hidden="true" class="m-icon notranslate theme--light" style="color: rgb(36, 41, 46); caret-color: rgb(36, 41, 46);">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="m-icon__svg">
                                        <path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="text-subtitle d-flex align-center my-2">
                            <span aria-hidden="true" class="m-icon notranslate m-icon--left theme--light">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="m-icon__svg">
                                    <path d="M20 7H16V5L14 3H10L8 5V7H4C2.9 7 2 7.9 2 9V14C2 14.75 2.4 15.38 3 15.73V19C3 20.11 3.89 21 5 21H19C20.11 21 21 20.11 21 19V15.72C21.59 15.37 22 14.73 22 14V9C22 7.9 21.1 7 20 7M10 5H14V7H10V5M4 9H20V14H15V11H9V14H4V9M13 15H11V13H13V15M19 19H5V16H9V17H15V16H19V19Z"></path>
                                </svg>
                            </span> @Position
                        </div>
                        <div class="text-subtitle d-flex align-center my-2">
                            <span aria-hidden="true" class="m-icon notranslate m-icon--left theme--light">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="m-icon__svg">
                                    <path d="M12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5M12,2A7,7 0 0,1 19,9C19,14.25 12,22 12,22C12,22 5,14.25 5,9A7,7 0 0,1 12,2M12,4A5,5 0 0,0 7,9C7,10 7,12 12,18.71C17,12 17,10 17,9A5,5 0 0,0 12,4Z"></path>
                                </svg>
                            </span> @City
                        </div>
                        <div class="text-subtitle d-flex align-center my-2">
                            <span aria-hidden="true" class="m-icon notranslate m-icon--left theme--light">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="m-icon__svg">
                                    <path d="M12.87,15.07L10.33,12.56L10.36,12.53C12.1,10.59 13.34,8.36 14.07,6H17V4H10V2H8V4H1V6H12.17C11.5,7.92 10.44,9.75 9,11.35C8.07,10.32 7.3,9.19 6.69,8H4.69C5.42,9.63 6.42,11.17 7.67,12.56L2.58,17.58L4,19L9,14L12.11,17.11L12.87,15.07M18.5,10H16.5L12,22H14L15.12,19H19.87L21,22H23L18.5,10M15.88,17L17.5,12.67L19.12,17H15.88Z"></path>
                                </svg>
                            </span>
                            <div class="m-markdown">
                                @Nationality
                            </div>
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public string? Name { get; set; }

    [Parameter, EditorRequired]
    public string? Position { get; set; }

    [Parameter, EditorRequired]
    public string? City { get; set; }

    [Parameter, EditorRequired]
    public string? Nationality { get; set; }

    [Parameter, EditorRequired]
    public string? GithubURL { get; set; }

    [Parameter, EditorRequired]
    public string? Avatar { get; set; }
}