<div style="width: 150px;">
    <PCopyableText ContentClass="text-truncate"
                   ContentStyle="display:inline-block;vertical-align:top;width:100%;">
        There is a text that can be copied.
    </PCopyableText>
</div>