<div class="d-flex flex-column align-center">
    <MChip Color="primary" Class="mb-1">@_date</MChip>
    <PDateDigitalClockPickerView @bind-Value="_date"></PDateDigitalClockPickerView>
</div>

@code {

    private DateTime _date = DateTime.Now;

}
