<MCard
    Class="overflow-hidden mx-auto"
    Height="200"
    MaxWidth="500">
    <MBottomNavigation
        Absolute
        HideOnScroll
        Horizontal
        ScrollTarget="#hide-on-scroll-example">
        <MButton
            Color="deep-purple accent-4"
            Text>
            <span>Recents</span>

            <MIcon>mdi-history</MIcon>
        </MButton>

        <MButton
            Color="deep-purple accent-4"
            Text>
            <span>Favorites</span>

            <MIcon>mdi-heart</MIcon>
        </MButton>

        <MButton
            Color="deep-purple accent-4"
            Text>
            <span>Nearby</span>

            <MIcon>mdi-map-marker</MIcon>
        </MButton>
    </MBottomNavigation>

    <MResponsive
        Id="hide-on-scroll-example"
        Class="overflow-y-auto"
        MaxHeight="600">
        <MResponsive Height="1500"></MResponsive>
    </MResponsive>
</MCard>
