@using AlertTypes = BlazorComponent.AlertTypes

<div>
    <MAlert Shaped
            Dark
            Color="info">
        I'm a shaped alert with a border-radius at top-left, bottom-right
    </MAlert>
    <MAlert Shaped
            Outlined
            Type="AlertTypes.Success">
        I'm a shaped alert with a outline option
    </MAlert>
    <MAlert Shaped
            Dense
            Dark
            Type="AlertTypes.Warning">
        I'm a shaped alert with a dense option option
    </MAlert>
    <MAlert Shaped
            Prominent
            Type="AlertTypes.Error">
        I'm a shaped alert with a dense prominent option that Praesent blandit laoreet nibh. Praesent nonummy mi in odio. Phasellus tempus. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Duis leo.
    </MAlert>
</div>