<style>
    .config-item {
        margin: 5px;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        border: 1px solid rgba(0,0,0,.125);
    }
</style>

<MDragZone Options=SetOptions>
    <MDragItem>
        <div class="config-item">item1</div>
    </MDragItem>
    <MDragItem>
        <div class="config-item">item2</div>
    </MDragItem>
    <MDragItem>
        <div class="config-item">item3</div>
    </MDragItem>
    <MDragItem>
        <div class="config-item">item4</div>
    </MDragItem>
    <MDragItem>
        <div class="config-item">item5</div>
    </MDragItem>
</MDragZone>

@code {

    private void SetOptions(SorttableOptions options)
    {
        options.Group = "group_onconfigure";
    }
}