<span class="grey--text">
    <MI18n Key="$masaBlazor.pagination.ariaLabel.page" />
</span>
<MIcon>mdi-arrow-right-bold</MIcon>
<MI18n Key="$masaBlazor.pagination.ariaLabel.page" Args="@(new object[] { "All components" })"></MI18n>
