<span class="grey--text">
    <MI18n Key="$masaBlazor.pagination.ariaLabel.page" />
</span>
<MIcon>mdi-arrow-right-bold</MIcon>
<MI18n Key="$masaBlazor.pagination.ariaLabel.page">
    <PlaceholderContent>
        @if (context == 0)
        {
            <a class="text-decoration-none primary--text font-weight-medium"
               href="/blazor/components/all">
                All components
            </a>
        }
    </PlaceholderContent>
</MI18n>
