.m-pdf-mobile-viewer {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    --page-margin: 0 auto;
    --page-border: 8px solid transparent;
}

.m-pdf-mobile-viewer canvas {
    margin: auto;
    display: block;
}

.m-pdf-mobile-viewer footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgba(var(--m-theme-surface-variant));
    color: rgba(var(--m-theme-on-surface-variant));
}

.m-pdf-mobile-viewer footer ::deep > * {
    flex: 1;
    color: inherit;
    text-align: center;
    margin: auto 0;
}

.m-pdf-mobile-viewer footer > .pagination {
    flex: 3;
}

.m-pdf-mobile-viewer ::deep .pdfViewer .canvasWrapper > canvas {
    width: inherit !important;
}

.m-pdf-mobile-viewer--has-toolbar {
    --pdfViewer-padding-bottom: 36px;
}

.m-page-stack-item__content .m-pdf-mobile-viewer--has-toolbar {
    --pdfViewer-padding-bottom: calc(36px + var(--m-page-stack-item-bar-height));
}

.m-page-stack-item__content .container .m-pdf-mobile-viewer--has-toolbar {
	--pdfViewer-padding-bottom: calc(36px + 12px + var(--m-page-stack-item-bar-height));
}