<div>
    <MSystemBar Dark Color="primary">
        <MSpacer></MSpacer>
        <MIcon>mdi-wifi-strength-4</MIcon>
        <MIcon>mdi-signal-cellular-outline</MIcon>
        <MIcon>mdi-battery</MIcon>
        <span>12:30</span>
    </MSystemBar>
    <br />
    <MSystemBar Dark Color="red lighten-2">
        <MSpacer></MSpacer>
        <MIcon>mdi-wifi-strength-4</MIcon>
        <MIcon>mdi-signal-cellular-outline</MIcon>
        <MIcon>mdi-battery</MIcon>
        <span>12:30</span>
    </MSystemBar>
    <br />
    <MSystemBar Dark Color="indigo darken-2">
        <MSpacer></MSpacer>
        <MIcon>mdi-wifi-strength-4</MIcon>
        <MIcon>mdi-signal-cellular-outline</MIcon>
        <MIcon>mdi-battery</MIcon>
        <span>12:30</span>
    </MSystemBar>
</div>