<div>
    <MCard Class="mx-auto" Color="secondary" Height="100" MaxWidth="200"></MCard>
    <MCard Class="mt-n12 mx-auto" Elevation="12" Height="200" MaxWidth="300" Color="secondary">
        <MCardText>
            This card has negative top margin applied
        </MCardText>
    </MCard>
</div>