<div class="text-center">
    <PMobileDateTimePicker @bind-Value="_dateTime" Max="DateTime.Now" Min="new DateTime(2000, 1, 1)">
        <ActivatorContent>
            <MButton Color="primary" Class="text-capitalize" Text @attributes="@context.Attrs">
                @(_dateTime == default ? "Please select" : _dateTime)
            </MButton>
        </ActivatorContent>
    </PMobileDateTimePicker>
</div>

@code {

    private DateTime _dateTime;

}
