.gegga {
    width: 0;
}

.snurra {
    filter: url(#gegga);
}

#app.dark {
    background-color: #131316;
}

#app:not(.dark) .stopp1 {
    stop-color: #4318FF;
}

#app:not(.dark) .stopp2 {
    stop-color: #A18BFF;
}

#app.dark .stopp1 {
    stop-color: #A18BFF;
}

#app.dark .stopp2 {
    stop-color: #C5C0FF;
}

.halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}

.strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}

.skugga {
    filter: blur(5px);
    opacity: 0.3;
    position: absolute;
    transform: translate(3px, 3px);
}

@keyframes Snurra1 {
    0% {
        stroke-dashoffset: -403px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}
