<MCard Class="d-flex pa-2" Outlined Tile>
    <div>I'm a flexbox container!</div>
</MCard>

<br/>

<MCard Class="d-inline-flex pa-2" Outlined Tile>
    <div>I'm an inline flexbox container!</div>
</MCard>