<div>
    <MContainer Class="grey lighten-5">
        <MRow NoGutters>
            <MCol Cols="9">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-9
                </MCard>
            </MCol>
            <MCol Cols="4">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
                </MCard>
            </MCol>
            <MCol Cols="6">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-6<br>Subsequent columns continue along the new line.
                </MCard>
            </MCol>
        </MRow>
    </MContainer>
</div>