/* fixed-right in datatable */
.m-data-table--fixed-header > .m-data-table__wrapper > table > thead > tr > th {
    z-index: 2 !important;
}

.m-data-table > .m-data-table__wrapper.not-scroll-right > table > tbody > tr > td:last-child::after {
    box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}

.m-data-table > .m-data-table__wrapper.not-scroll-right > table > thead > tr > th:last-child::after {
    box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}

.m-data-table > .m-data-table__wrapper.fixed-right {
    overflow-x: scroll;
}

    .m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child {
        position: -webkit-sticky !important;
        position: sticky !important;
        z-index: 1;
        right: 0px;
    }

.theme--light.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child {
    background-color: #FFFFFF;
}

.theme--dark.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child {
    background-color: #1E1E1E;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child::after {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 30px;
    transform: translateX(-100%);
    transition: box-shadow .3s;
    content: '';
    pointer-events: none;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr:hover > td:last-child {
    background-color: inherit;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    background-color: #fff;
    right: 0px;
}

.theme--light.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child {
    background-color: #FFFFFF;
}

.theme--dark.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child {
    background-color: #1E1E1E;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child::after {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 30px;
    transform: translateX(-100%);
    transition: box-shadow .3s;
    content: '';
    pointer-events: none;
}

.m-data-table > .m-data-table__wrapper > table > tbody > tr.stripe > td {
    background-color: #fafafa;
}

.theme--light.m-data-table > .m-data-table__wrapper > table > tbody > tr.stripe:hover:not(.m-data-table__expanded__content):not(.m-data-table__empty-wrapper) > td {
    background: #eeeeee;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr.stripe > td:last-child {
    background-color: #fafafa;
}

/* border */

.m-border {
    border-style: solid;
    border-width: 4px;
    content: "";
    position: absolute;
}

.m-border__left, .m-border__right {
    bottom: 0;
    top: 0;
}

.m-border__bottom, .m-border__top {
    left: 0;
    right: 0;
}

.m-border__bottom {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
}

.rounded .m-border__bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.m-application--is-ltr .m-border__left {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    left: 0;
}

.m-application--is-ltr .rounded .m-border__left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.m-application--is-rtl .m-border__left {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    right: 0;
}

.m-application--is-rtl .rounded .m-border__left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.m-application--is-ltr .m-border__right {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    right: 0;
}

.m-application--is-ltr .rounded .m-border__right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.m-application--is-rtl .m-border__right {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    left: 0;
}

.m-application--is-rtl .rounded .m-border__right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.m-border__top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    top: 0;
}

.rounded .m-border__top {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* page-header */

.m-presets-page-header {
}

.m-presets-page-header--h {
    display: flex;
    align-items: center;
}

.m-presets-page-header--h-title {
    font-size: 24px;
}

.m-presets-page-header--h-subtitle {
    color: #757575;
}

.m-presets-page-header--h-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}

.m-presets-page-header--h-actions > * {
    margin: 0 4px;
}

.m-presets-page-header--h-actions > *:last-child {
    margin-right: 0px;
}

/* */

.m-sheet.m-stepper:not(.m-sheet--outlined) {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* custom-text example in Switch */

.m-input--switch--text .m-input--switch__track {
    border-radius: 17px;
    height: 34px;
    width: 64px;
    top: calc(50% - 17px);
    left: -2px;
}

.m-input--switch--text .m-input--switch__thumb {
    top: calc(50% - 15px);
    height: 30px;
    width: 30px;
}

.m-application--is-ltr .m-input--switch--text.m-input--is-dirty .m-input--selection-controls__ripple, .m-application--is-ltr .m-input--switch--text.m-input--is-dirty .m-input--switch__thumb {
    transform: translate(30px, 0) !important;
}

.m-input--switch--text .m-input--switch__left {
    color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: calc(50% - 15px);
    text-align: center;
    font-size: 14px;
}

.m-input--switch--text .m-input--switch__right {
    position: absolute;
    right: -22px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: calc(50% - 15px);
    font-size: 14px;
}

.m-input--switch--text.m-input--is-dirty .m-input--switch__left {
    color: inherit
}

.m-input--switch--text.m-input--is-dirty .m-input--switch__right {
    color: #fff
}

.m-input--switch--text .m-input--selection-controls__ripple {
    width: 44px;
    height: 44px;
    top: calc(50% - 30px);
}

/* cascader */

.m-cascader__columns {
    display: flex;
    overflow: auto;
    max-height: inherit;
    min-width: inherit;
    padding: 8px 0;
    background-color: white; /* TODO: use .theme-light */
}

.m-cascader__column {
    min-width: 180px;
    padding: 0;
    border-right: 1px solid #f0f0f0;
    overflow-y: auto;
}

.m-cascader__column.m-list--dense {
    min-width: 120px;
}

.m-cascader__column-item:not(.m-list-item--dense) {
    min-height: 56px;
}

/* drawer */

.m-dialog--drawer {
    border-radius: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
}

    .m-dialog--drawer.m-dialog--drawer-right {
        right: 0;
    }

    .m-dialog--drawer.m-dialog--drawer-left {
        left: 0;
    }

.m-dialog.m-dialog--drawer {
    max-height: 100%;
}

.dialog-right-transition-enter, .dialog-right-transition-leave-to {
    transform: translateX(100%);
}

.dialog-left-transition-enter, .dialog-left-transition-leave-to {
    transform: translateX(-100%);
}

/* select */

.m-select__selections__input-wrapper {
    flex: 1 1;
    width: 100%;
}

/* page-tabs */

.m-page-tabs__content .m-list.m-list--dense {
    padding: 4px 0;
}

.m-page-tabs__content .m-list-item.m-list-item--dense {
    min-height: 30px
}

/* block-text */

.m-presets-block-text {
    display: flex;
    flex-direction: column;
}

    .m-presets-block-text .m-presets-block-text__primary {
    }

    .m-presets-block-text .m-presets-block-text__secondary {
        font-size: .75rem;
        line-height: 16px;
        opacity: 0.6;
    }

/* copyable-text */

.m-presets-copyable-text {
}

    .m-presets-copyable-text .m-presets-copyable-text__content {
    }

    .m-presets-copyable-text .m-presets-copyable-text__icon {
    }

/* default error */

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.m-snack__content {
    word-break: break-word;
}

/* number type in text-field */

input[type=number] {
    -moz-appearance: textfield;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.m-input-number-handler-wrap {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    border-radius: 0 2px 2px 0;
    opacity: 0;
    transition: opacity .24s linear .1s;
    align-items: center;
    align-self: center;
}

    .m-input-number-handler-wrap .m-input__icon {
        height: 12px;
    }

    .m-input-number-handler-wrap.m-input-number-handler-focused {
        opacity: 1;
        box-shadow: none;
    }

    .m-input-number-handler-wrap .m-input__append-inner {
        margin-top: 0 !important;
    }

.m-number-input-icon button {
    height: 12px;
}

    .m-number-input-icon button::after {
        border-radius: 0% !important;
    }

.m-number-input-down-disabled button {
    cursor: not-allowed !important;
}

.m-number-input-up-disabled button {
    cursor: not-allowed !important;
}

/* support childContent in Divider */

.m-divider__wrapper {
    line-height: 1px;
}

.m-divider__wrapper.m-divider__wrapper--has-content {
    padding: 8px;
}

.m-divider__wrapper.m-divider__wrapper--left {
    text-align: left;
}

.m-divider__wrapper.m-divider__wrapper--right {
    text-align: right;
}

.m-divider__wrapper.m-divider__wrapper--center {
    text-align: center;
}

.m-divider__content {
    padding: 0 1rem;
}

.m-divider__wrapper--left .m-divider__content {
    margin-left: 3%;
}

.m-divider__wrapper--left .m-divider__content.m-divider--inset {
    margin-left: calc(3% + 72px);
}

.m-divider__wrapper--right .m-divider__content {
    margin-right: 3%;
}

.theme--light.m-divider__content {
    background-color: #FFF;
    color: rgba(0, 0, 0, .87);
}

.theme--dark.m-divider__content {
    background-color: #1E1E1E;
    color: #FFF;
}

/* toast */

.m-toast-container {
    position: fixed;
    z-index: 1090;
}

    .m-toast-container .m-snack {
        padding-top: 0px !important;
        position: static;
        height: auto;
    }

    .m-toast-container .m-snack__wrapper {
        box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
        border-radius: 14px
    }

.m-toast-item {
    align-items: flex-start;
}

    .m-toast-item .m-icon {
        padding-top: 2px;
    }

.m-toast-detail {
    font-size: 12px;
    line-height: 18px;
    color: #A3AED0;
}

.m-toast-title {
    font-size: 16px;
    line-height: 28px;
    height: 28px;
}

.m-toast-text {
    font-style: normal;
    font-weight: 500;
}

.m-toast-container .m-snack__action {
    padding-top: 9px;
    align-self: flex-start;
}

.m-toast-container .m-snack__wrapper.theme--dark {
    background-color: #323d6f
}

/* captcha */

.m-captcha-container .m-input__append-outer {
    margin-top: 0px !important;
}

.m-captcha-container .m-image {
    cursor: pointer;
    border-radius: 4px;
}

/* mobile cascader */

.p-mobile-cascader__content .m-tabs-bar {
    height: 36px;
}

.p-mobile-cascader__content .m-tab {
    min-width: 64px;
}

.p-mobile-cascader__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-mobile-cascader__list {
    height: 336px;
    overflow: auto;
}

/* cron */

.m-cron .m-text-field {
    margin: 0px 16px 0px 16px !important;
}
.m-cron {
    padding: 0px 12px 0px 12px;
}
.m-cron .m-cron-item {
    align-items: center;
    display: flex;
    width: 100%;
}
.m-cron .m-radio {
    padding-top: 8px;
}

/* mobile picker */

.theme--light.m-mobile-picker {
    background-color: #FFFFFF;
}

.theme--dark.m-mobile-picker {
    background-color: #1E1E1E;
}

.m-mobile-picker {
    width: 100%;
}

.m-mobile-picker__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 4px;
}

.m-mobile-picker__view {
    position: relative;
    display: flex;
    width: 100%;
    cursor: grab;
}

.m-mobile-picker__column {
    flex: 1;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-mobile-picker__column-wrapper {
    transition-timing-function: cubic-bezier(.23,1,.68,1);
}

.m-mobile-picker__column-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 4px;
}

.m-mobile-picker__column-item--disabled {
    cursor: not-allowed;
}

.theme--light.m-mobile-picker__view .m-mobile-picker__column-item--disabled {
    color: rgba(0, 0, 0, .38);
}

.theme--dark.m-mobile-picker__view .m-mobile-picker__column-item--disabled {
    color: hsla(0, 0%, 100%, .5);
}

.m-mobile-picker__column-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-mobile-picker__picked {
    position: absolute;
    top: 50%;
    right: 16px;
    left: 16px;
    z-index: 2;
    transform: translateY(-50%);
    pointer-events: none;
    border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;
}

.theme--light.m-mobile-picker__view .m-mobile-picker__picked {
    border-color: #ebedf0;
}

.theme--dark.m-mobile-picker__view .m-mobile-picker__picked {
    border-color: #3a3a3c;
}

.m-mobile-picker__mask {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top,bottom;
    transform: translateZ(0);
}

.theme--light.m-mobile-picker__view .m-mobile-picker__mask {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .4)), linear-gradient(0deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .4));
}

.theme--dark.m-mobile-picker__view .m-mobile-picker__mask {
    background-image: linear-gradient(180deg, rgba(30, 30, 30, .6), rgba(30, 30, 30, .1)), linear-gradient(0deg, rgba(30, 30, 30, .6), rgba(30, 30, 30, .1));
}

/* infinite scroll */

.m-infinite-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.theme--light.m-application .m-infinite-scroll {
    color: rgba(0, 0, 0, .38);
}

.theme--dark.m-application .m-infinite-scroll {
    color: rgba(255, 255, 255, 0.5);
}

.m-infinite-scroll *:last-child {
    margin-left: 4px;
}
