/* fixed-right in datatable */
.m-data-table--fixed-header > .m-data-table__wrapper > table > thead > tr > th {
    z-index: 2 !important;
}

.m-data-table > .m-data-table__wrapper.not-scroll-right > table > tbody > tr > td:last-child::after {
    box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}

.m-data-table > .m-data-table__wrapper.not-scroll-right > table > thead > tr > th:last-child::after {
    box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}

.m-data-table > .m-data-table__wrapper.fixed-right {
    overflow-x: scroll;
}

    .m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child {
        position: -webkit-sticky !important;
        position: sticky !important;
        z-index: 1;
        right: 0px;
    }

.theme--light.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child {
    background-color: #FFFFFF;
}

.theme--dark.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child {
    background-color: #1E1E1E;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child::after {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 30px;
    transform: translateX(-100%);
    transition: box-shadow .3s;
    content: '';
    pointer-events: none;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr:hover > td:last-child {
    background-color: inherit;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    background-color: #fff;
    right: 0px;
}

.theme--light.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child {
    background-color: #FFFFFF;
}

.theme--dark.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child {
    background-color: #1E1E1E;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child::after {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 30px;
    transform: translateX(-100%);
    transition: box-shadow .3s;
    content: '';
    pointer-events: none;
}

.theme--light.m-data-table > .m-data-table__wrapper > table > tbody > tr.stripe {
    background: #fafafa;
}

.theme--dark.m-data-table > .m-data-table__wrapper > table > tbody > tr.stripe {
    background: #212121;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr.stripe > td:last-child {
    background-color: #fafafa;
}

/* border */

.m-border {
    border-style: solid;
    border-width: 4px;
    content: "";
    position: absolute;
}

.m-border__left, .m-border__right {
    bottom: 0;
    top: 0;
}

.m-border__bottom, .m-border__top {
    left: 0;
    right: 0;
}

.m-border__bottom {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
}

.rounded .m-border__bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.m-application--is-ltr .m-border__left {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    left: 0;
}

.m-application--is-ltr .rounded .m-border__left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.m-application--is-rtl .m-border__left {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    right: 0;
}

.m-application--is-rtl .rounded .m-border__left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.m-application--is-ltr .m-border__right {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    right: 0;
}

.m-application--is-ltr .rounded .m-border__right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.m-application--is-rtl .m-border__right {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    left: 0;
}

.m-application--is-rtl .rounded .m-border__right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.m-border__top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    top: 0;
}

.rounded .m-border__top {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* page-header */

.m-presets-page-header {
}

.m-presets-page-header--h {
    display: flex;
    align-items: center;
}

.m-presets-page-header--h-title {
    font-size: 24px;
}

.m-presets-page-header--h-subtitle {
    color: #757575;
}

.m-presets-page-header--h-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}

.m-presets-page-header--h-actions > * {
    margin: 0 4px;
}

.m-presets-page-header--h-actions > *:last-child {
    margin-right: 0px;
}

/* */

.m-sheet.m-stepper:not(.m-sheet--outlined) {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

/* custom-text example in Switch */

.m-input--switch--text .m-input--switch__track {
    border-radius: 17px;
    height: 34px;
    width: 64px;
    top: calc(50% - 17px);
    left: -2px;
}

.m-input--switch--text .m-input--switch__thumb {
    top: calc(50% - 15px);
    height: 30px;
    width: 30px;
}

.m-application--is-ltr .m-input--switch--text.m-input--is-dirty .m-input--selection-controls__ripple, .m-application--is-ltr .m-input--switch--text.m-input--is-dirty .m-input--switch__thumb {
    transform: translate(30px, 0) !important;
}

.m-input--switch--text .m-input--switch__left {
    color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: calc(50% - 15px);
    text-align: center;
    font-size: 14px;
}

.m-input--switch--text .m-input--switch__right {
    position: absolute;
    right: -22px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: calc(50% - 15px);
    font-size: 14px;
}

.m-input--switch--text.m-input--is-dirty .m-input--switch__left {
    color: inherit
}

.m-input--switch--text.m-input--is-dirty .m-input--switch__right {
    color: #fff
}

.m-input--switch--text .m-input--selection-controls__ripple {
    width: 44px;
    height: 44px;
    top: calc(50% - 30px);
}

/* cascader */

.m-cascader__columns {
    display: flex;
    overflow: auto;
    max-height: inherit;
    min-width: inherit;
    padding: 8px 0;
    background-color: white; /* TODO: use .theme-light */
}

.m-cascader__column {
    min-width: 180px;
    padding: 0;
    border-right: 1px solid #f0f0f0;
    overflow-y: auto;
}

.m-cascader__column.m-list--dense {
    min-width: 120px;
}

.m-cascader__column-item:not(.m-list-item--dense) {
    min-height: 56px;
}

/* drawer */

.m-dialog--drawer {
    border-radius: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
}

    .m-dialog--drawer.m-dialog--drawer-right {
        right: 0;
    }

    .m-dialog--drawer.m-dialog--drawer-left {
        left: 0;
    }

.m-dialog.m-dialog--drawer {
    max-height: 100%;
}

.dialog-right-transition-enter, .dialog-right-transition-leave-to {
    transform: translateX(100%);
}

.dialog-left-transition-enter, .dialog-left-transition-leave-to {
    transform: translateX(-100%);
}

/* select */

.m-select__selections__input-wrapper {
    flex: 1 1;
    width: 100%;
}

/* page-tabs */

.p-page-tab__title {
    padding: 0 4px;
}

.p-page-container {
    overflow: visible;
}

/* block-text */

.m-presets-block-text {
    display: flex;
    flex-direction: column;
}

    .m-presets-block-text .m-presets-block-text__primary {
    }

    .m-presets-block-text .m-presets-block-text__secondary {
        font-size: .75rem;
        line-height: 16px;
        opacity: 0.6;
    }

/* copyable-text */

.m-presets-copyable-text {
}

    .m-presets-copyable-text .m-presets-copyable-text__content {
    }

    .m-presets-copyable-text .m-presets-copyable-text__icon {
    }

.m-snack__content {
    word-break: break-word;
}

/* number type in text-field */

input[type=number] {
    -moz-appearance: textfield;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.m-input-number-handler-wrap {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    border-radius: 0 2px 2px 0;
    opacity: 0;
    transition: opacity .24s linear .1s;
    align-items: center;
    align-self: center;
}

    .m-input-number-handler-wrap .m-input__icon {
        height: 12px;
    }

    .m-input-number-handler-wrap.m-input-number-handler-focused {
        opacity: 1;
        box-shadow: none;
    }

    .m-input-number-handler-wrap .m-input__append-inner {
        margin-top: 0 !important;
    }

.m-number-input-icon button {
    height: 12px;
}

    .m-number-input-icon button::after {
        border-radius: 0% !important;
    }

.m-number-input-down-disabled button {
    cursor: not-allowed !important;
}

.m-number-input-up-disabled button {
    cursor: not-allowed !important;
}

/* support childContent in Divider */

.m-divider__wrapper {
    line-height: 1px;
}

.m-divider__wrapper.m-divider__wrapper--has-content {
    padding: 8px;
}

.m-divider__wrapper.m-divider__wrapper--left {
    text-align: left;
}

.m-divider__wrapper.m-divider__wrapper--right {
    text-align: right;
}

.m-divider__wrapper.m-divider__wrapper--center {
    text-align: center;
}

.m-divider__content {
    padding: 0 1rem;
}

.m-divider__wrapper--left .m-divider__content {
    margin-left: 3%;
}

.m-divider__wrapper--left .m-divider__content.m-divider--inset {
    margin-left: calc(3% + 72px);
}

.m-divider__wrapper--right .m-divider__content {
    margin-right: 3%;
}

.theme--light.m-divider__content {
    background-color: #FFF;
    color: rgba(0, 0, 0, .87);
}

.theme--dark.m-divider__content {
    background-color: #1E1E1E;
    color: #FFF;
}

/* enqueued-snackbars */

.m-enqueued-snackbars {
    position: fixed;
    z-index: 1048;
}

@media only screen and (max-width: 599.98px) {
    .m-enqueued-snackbars {
        width: 100%;
        max-width: calc(100% - 2rem) !important;
    }
}

    .m-enqueued-snackbars.m-enqueued-snackbars--top {
        top: 1rem;
    }
    
    .m-enqueued-snackbars.m-enqueued-snackbars--right {
        right: 1rem;
    }
    
    .m-enqueued-snackbars.m-enqueued-snackbars--center {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .m-enqueued-snackbars.m-enqueued-snackbars--bottom {
        bottom: 1rem;
    }
    
    .m-enqueued-snackbars.m-enqueued-snackbars--left {
        left: 1rem;
    }

    .m-enqueued-snackbars.m-enqueued-snackbars--right .m-snack {
        justify-content: end;
    }

    .m-enqueued-snackbars.m-enqueued-snackbars--left .m-snack {
        justify-content: start;
    }

    .m-enqueued-snackbars .m-snack {
        padding-top: 0 !important;
        position: static;
        height: auto;
    }
    
    .m-enqueued-snackbars.m-enqueued-snackbars--center .m-snack__wrapper {
        width: 100%;
    }

/* captcha */

.m-captcha-container .m-input__append-outer {
    margin-top: 0px !important;
}

.m-captcha-container .m-image {
    cursor: pointer;
    border-radius: 4px;
}

/* mobile cascader */

.p-mobile-cascader__content .m-tabs-bar {
    height: 36px;
}

.p-mobile-cascader__content .m-tab {
    min-width: 64px;
}

.p-mobile-cascader__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-mobile-cascader__list {
    height: 336px;
    overflow: auto;
}

/* cron */

.m-cron .m-text-field {
    margin: 0px 16px 0px 16px !important;
}
.m-cron {
    padding: 0px 12px 0px 12px;
}
.m-cron .m-cron-item {
    align-items: center;
    display: flex;
    width: 100%;
}
.m-cron .m-radio {
    padding-top: 8px;
}

/* mobile picker */

.theme--light.m-mobile-picker {
    background-color: #FFFFFF;
}

.theme--dark.m-mobile-picker {
    background-color: #1E1E1E;
}

.m-mobile-picker {
    width: 100%;
}

.m-mobile-picker__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 4px;
}

.m-mobile-picker__view {
    position: relative;
    display: flex;
    width: 100%;
    cursor: grab;
}

.m-mobile-picker__column {
    flex: 1;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-mobile-picker__column-wrapper {
    transition-timing-function: cubic-bezier(.23,1,.68,1);
}

.m-mobile-picker__column-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 4px;
}

.m-mobile-picker__column-item--disabled {
    cursor: not-allowed;
}

.theme--light.m-mobile-picker__view .m-mobile-picker__column-item--disabled {
    color: rgba(0, 0, 0, .38);
}

.theme--dark.m-mobile-picker__view .m-mobile-picker__column-item--disabled {
    color: hsla(0, 0%, 100%, .5);
}

.m-mobile-picker__column-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-mobile-picker__picked {
    position: absolute;
    top: 50%;
    right: 16px;
    left: 16px;
    z-index: 2;
    transform: translateY(-50%);
    pointer-events: none;
    border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;
}

.theme--light.m-mobile-picker__view .m-mobile-picker__picked {
    border-color: #ebedf0;
}

.theme--dark.m-mobile-picker__view .m-mobile-picker__picked {
    border-color: #3a3a3c;
}

.m-mobile-picker__mask {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top,bottom;
    transform: translateZ(0);
}

.theme--light.m-mobile-picker__view .m-mobile-picker__mask {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .4)), linear-gradient(0deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .4));
}

.theme--dark.m-mobile-picker__view .m-mobile-picker__mask {
    background-image: linear-gradient(180deg, rgba(30, 30, 30, .6), rgba(30, 30, 30, .1)), linear-gradient(0deg, rgba(30, 30, 30, .6), rgba(30, 30, 30, .1));
}

/* infinite scroll */

.m-infinite-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.theme--light.m-application .m-infinite-scroll {
    color: rgba(0, 0, 0, .38);
}

.theme--dark.m-application .m-infinite-scroll {
    color: rgba(255, 255, 255, 0.5);
}

.m-infinite-scroll *:last-child {
    margin-left: 4px;
}

/* ellipsis text */

.m-ellipsis-text__tooltip {
    background: rgba(97,97,97,.9);
    color: #FFF;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px;
    opacity: 0;
    word-break: break-all;
}

.m-ellipsis-text__tooltip.menuable__content__active {
    opacity: .9;
}

/* markdown-it */
.m-markdown-it code {
    display: inline-block;
}

.m-code-highlight__code {
    display: inline-block;
}

.m-application code.m-code-highlight__code {
    background-color: unset;
    color: unset;
    padding: unset;
    border-radius: unset;
    font-size: unset;
    font-weight: unset;
}

/* i18n */
.m-i18n {
}

/* BaiduMap */

.m-baidumap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

/* alert */

.m-alert__title {
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    hyphens: auto;
    letter-spacing: .0125em;
    line-height: 1.5rem;
    overflow-wrap: normal;
    text-transform: none;
    word-break: normal;
    word-wrap: break-word;
}

/* snackbar > alert */

.m-snack .m-alert {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
}

.m-snack .m-alert__icon {
    margin-right: 12px;
}

/* tab */

.m-tab {
    text-transform: none;
}