/*extend-class*/
.m-data-table > .m-data-table__wrapper.not-scroll-right > table > tbody > tr > td:last-child::after {
    box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}

.m-data-table > .m-data-table__wrapper.not-scroll-right > table > thead > tr > th:last-child::after {
    box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}

.m-data-table > .m-data-table__wrapper.fixed-right {
    overflow-x: scroll;
}

    .m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child {
        position: -webkit-sticky !important;
        position: sticky !important;
        z-index: 2;
        background-color: #fff;
        right: 0px;
    }

        .m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr > td:last-child::after {
            position: absolute;
            top: 0;
            bottom: -1px;
            left: 0;
            width: 30px;
            transform: translateX(-100%);
            transition: box-shadow .3s;
            content: '';
            pointer-events: none;
        }

    .m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr:hover > td:last-child {
        background-color: inherit;
    }

    .m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child {
        position: -webkit-sticky !important;
        position: sticky !important;
        z-index: 2;
        background-color: #fff;
        right: 0px;
    }

        .m-data-table > .m-data-table__wrapper.fixed-right > table > thead > tr > th:last-child::after {
            position: absolute;
            top: 0;
            bottom: -1px;
            left: 0;
            width: 30px;
            transform: translateX(-100%);
            transition: box-shadow .3s;
            content: '';
            pointer-events: none;
        }

.m-data-table > .m-data-table__wrapper > table > tbody > tr.stripe > td {
    background-color: #fafafa;
}

.theme--light.m-data-table > .m-data-table__wrapper > table > tbody > tr.stripe:hover:not(.m-data-table__expanded__content):not(.m-data-table__empty-wrapper) > td {
    background: #eeeeee;
}

.m-data-table > .m-data-table__wrapper.fixed-right > table > tbody > tr.stripe > td:last-child {
    background-color: #fafafa;
}

.theme--dark .m-bar--underline.theme--light, .theme--light .m-bar--underline.theme--light {
    border-bottom-color: rgba(0, 0, 0, .12) !important;
}

.theme--dark .m-bar--underline, .theme--light .m-bar--underline {
    border-width: 0 0 thin;
    border-style: solid;
}

.flex-1-1-auto {
    flex: 1 1 auto !important;
}

.default-toc ul {
    list-style-type: none;
}

.default-toc li.router-link-active {
    border-left-color: currentColor;
}

.default-toc li {
    border-left: 2px solid #e5e5e5;
}

.m-heading {
    display: inline-block;
    position: relative;
}

    .m-heading > a:not(:hover):not(:focus) {
        opacity: 0;
    }

.markdown-body a:not(:hover) {
    text-decoration: none;
}

.m-heading > a {
    bottom: 0;
    display: inline-block;
    left: 0;
    margin: 0 -.7em;
    position: absolute;
    right: 0;
    top: 0;
}

h1 + p {
    font-size: 1.25rem;
    font-weight: 300;
}

.markdown-body > section section {
    margin-bottom: 3rem;
}

ol, ul {
    margin-bottom: 16px;
}

.default-toc .m-toc-link {
    color: inherit;
}

.m-sheet.app-code {
    margin: 16px 0;
    position: relative;
    padding: 12px 50px 12px 16px;
}

    .m-sheet.app-code code[class*=language], .m-sheet.app-code pre[class*=language] {
        background: none;
        font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
        font-size: 1rem;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        -moz-tab-size: 4;
        tab-size: 4;
        text-align: left;
        text-shadow: none;
        white-space: pre;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
    }

.m-example code[class*=language-], .m-example pre[class*=language-] {
    text-shadow: none;
}

.m-sheet.app-code > pre {
    border-radius: inherit;
}

.m-sheet.app-code code, .m-sheet.app-code pre {
    background: transparent;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 !important;
}

:not(pre) > code[class*=language-], pre[class*=language-] {
    background: #f5f2f0;
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

code[class*=language-], pre[class*=language-] {
    color: #000;
    background: none;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.token.constant, .token.deleted, .token.property, .token.symbol {
    color: #905;
}

.token.boolean {
    color: blue;
}

.token.tag {
    color: rgb(128, 0, 128);
}

    .token.tag > .token.punctuation {
        color: black;
        opacity: 0.75;
    }

.token.number {
    color: black;
}

.token {
    background: none !important;
}

    .token.punctuation {
        color: rgb(0, 0, 0, 0.75);
    }

    .token.builtin, .token.char, .token.inserted, .token.selector {
        color: #690;
    }

    .token.attr-name {
        color: rgb(128, 0, 128);
    }

    .token.string {
        color: rgb(163, 21, 21)
    }

    .token.atrule {
        color: #07a;
    }

    .token.attr-value {
        color: black;
    }

        .token.attr-value > .token.punctuation {
            color: black;
            opacity: 0.75;
        }

    .token.keyword {
        color: blue;
    }

    .token.comment {
        color: rgb(0, 100, 0);
    }

.m-sheet.app-code pre[class*=language]::after {
    bottom: .75rem;
    color: rgba(48, 48, 48, .5);
    font-family: inherit;
    font-size: .7rem;
    font-weight: 700;
    position: absolute;
    right: 1rem;
    text-transform: uppercase;
}

.m-example pre.language-html::after {
    content: "razor";
}

.m-example pre.language-csharp::after {
    content: "c#";
}

.token.class-name {
    color: rgb(43, 145, 175)
}

.token.function {
    color: rgb(116, 83, 31)
}

.text-mono {
    font-family: monospace;
}

.api-table .m-markdown p {
    margin-bottom: 0;
}

.api-table td.regular-row {
    padding: 8px 16px !important;
}

.inline-flex {
    display: inline-flex !important;
}

/* m-border */
.m-border {
    border-style: solid;
    border-width: 4px;
    content: "";
    position: absolute;
}

.m-border__left, .m-border__right {
    bottom: 0;
    top: 0;
}

.m-border__bottom, .m-border__top {
    left: 0;
    right: 0;
}

.m-border__bottom {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
}

.rounded .m-border__bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.m-application--is-ltr .m-border__left {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    left: 0;
}

.m-application--is-ltr .rounded .m-border__left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.m-application--is-rtl .m-border__left {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    right: 0;
}

.m-application--is-rtl .rounded .m-border__left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.m-application--is-ltr .m-border__right {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    right: 0;
}

.m-application--is-ltr .rounded .m-border__right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.m-application--is-rtl .m-border__right {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    left: 0;
}

.m-application--is-rtl .rounded .m-border__right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.m-border__top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    top: 0;
}

.rounded .m-border__top {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.m-date-picker-header__value div.fade-transition-leave-active {
    position: absolute;
    top: 0;
}

.m-list-item.m-list-item.m-list-item--default {
    min-height: 32px;
}

.m-list-group.m-list-group--default .m-list-group__header {
    min-height: 32px;
}

.m-list-group.m-list-group--default .m-list-group__header > .m-list-item__icon {
    margin-bottom: 6px;
    margin-top: 6px;
}

.m-application--is-ltr .m-list--dense.m-list--nav .m-list-group--no-action.m-list-group--sub-group > .m-list-group__items > .m-list-item {
    padding-left: 80px;
}

.m-presets-page-header {
}

.m-presets-page-header--h {
    display: flex;
    align-items: center;
}

.m-presets-page-header--h-title {
    font-size: 24px;
}

.m-presets-page-header--h-subtitle {
    color: #757575;
}

.m-presets-page-header--h-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}

.m-presets-page-header--h-actions > * {
    margin: 0 4px;
}

.m-presets-page-header--h-actions > *:last-child {
    margin-right: 0px;
}

.m-sheet.m-stepper:not(.m-sheet--outlined) {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
