@inherits LayoutComponentBase

<MApp>
    <MMain>
        <MContainer Fluid>
            @Body
        </MContainer>
    </MMain>
</MApp>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>