<div class="text-center">
    <MButton Dark
             Color="orange darken-2"
             OnClick="() => _snackbar = true">
        Open Snackbar
    </MButton>

    <MSnackbar @bind-Value="_snackbar"
               Timeout="2000"
               Action="Close">
        My timeout is set to 2000.
    </MSnackbar>
</div>

@code{
    private bool _snackbar;
}