<MBottomNavigation
    @bind-Value="value"
    Color="teal"
    Grow>
    <MButton>
        <span>Recents</span>

        <MIcon>mdi-history</MIcon>
    </MButton>

    <MButton>
        <span>Favorites</span>

        <MIcon>mdi-heart</MIcon>
    </MButton>

    <MButton>
        <span>Nearby</span>

        <MIcon>mdi-map-marker</MIcon>
    </MButton>
</MBottomNavigation>

@code {

    StringNumber value = 1;

}
