<div class="overflow-hidden">

    <div class="text-center mb-8">
        <MButton
            Color="deep-purple"
            Outlined
            OnClick="() => active = !active">
            Toggle Navigation
        </MButton>
    </div>

    <MBottomNavigation
        @bind-Value="value"
        InputValue="active"
        Color="indigo">
        <MButton>
            <span>Recents</span>

            <MIcon>mdi-history</MIcon>
        </MButton>

        <MButton>
            <span>Favorites</span>

            <MIcon>mdi-heart</MIcon>
        </MButton>

        <MButton>
            <span>Nearby</span>

            <MIcon>mdi-map-marker</MIcon>
        </MButton>
    </MBottomNavigation>

</div>

@code {

    StringNumber value = 1;
    bool active = true;

}
