
<div>
    <MFileInput TValue="List<IBrowserFile>"
                Chips
                Multiple
                Label="File input w/ chips"></MFileInput>
    <MFileInput TValue="List<IBrowserFile>"
                SmallChips
                Multiple
                Label="File input w/ small chips"></MFileInput>
</div>

