<div class="text-center d-flex align-center justify-space-around">
    <MTooltip Bottom>
        <ActivatorContent>
            <MButton Dark Color="primary" @attributes="@context.Attrs">Bottom</MButton>
        </ActivatorContent>
        <ChildContent>
            <span>Tooltip</span>
        </ChildContent>
    </MTooltip>

    <MTooltip Bottom>
        <ActivatorContent>
            <MIcon Dark Color="primary" @attributes="@context.Attrs">mdi-home</MIcon>
        </ActivatorContent>
        <ChildContent>
            <span>Tooltip</span>
        </ChildContent>
    </MTooltip>

    <MTooltip Bottom>
        <ActivatorContent>
            <span @attributes="@context.Attrs">This text has a tooltip</span>
        </ActivatorContent>
        <ChildContent>
            <span>Tooltip</span>
        </ChildContent>
    </MTooltip>
</div>