@page "/blazor/examples/page-stack/page2"
@layout PageStackLayout

<PPageStackItemInit Title="Page 2">
</PPageStackItemInit>

<div>
    <h3>Page 2 created at @(DateTimeOffset.UtcNow.ToString("HH:mm:ss zz"))</h3>
    <a href="/blazor/examples/page-stack/page3">Navigate to Page 3</a>
</div>