@page "/blazor/examples/page-stack/tab2/{parameter}"
@layout PageStackLayout

<p class="caption">url: /blazor/examples/page-stack/tab2/{parameter}</p>

<p class="text-h5"><b>@Parameter</b> created at @(DateTimeOffset.UtcNow.ToString("HH:mm:ss zz"))</p>

<p>
    <MChip Label Color="primary">Persistent</MChip>
    <MChip Label Color="primary">Self</MChip>
</p>

<MAlert Type="AlertTypes.Warning" Dense>
    此标签页演示了使用路由参数的用法。
    但在页面更改状态后，再次点击'Tab 2'时，会重置该页面的状态。
    <br/>
    The tab demonstrates the usage of route parameters.
    However, after changing the state of the page, clicking 'Tab 2'
    again will reset the state of that page.
</MAlert>

<ul>
    <li><a href="/blazor/examples/page-stack/tab2/Today">Today</a></li>
    <li><a href="/blazor/examples/page-stack/tab2/Tomorrow">Tomorrow</a></li>
    <li><a href="/blazor/examples/page-stack/tab2/ThisWeek">ThisWeek</a></li>
    <li><a href="/blazor/examples/page-stack/tab2/Done">Done</a></li>
</ul>

@code {

    [Parameter] public string? Parameter { get; set; }
}
