@page "/blazor/examples/page-stack/page1"
@layout PageStackLayout
@inject PageStackNavController NavController
@inherits PStackPageBase

<PStackPageBar Title="Page 1" />

<p class="caption">url: /blazor/examples/page-stack/page1</p>

<p class="text-h6">Page 1 created at @(_pageCreatedAt.ToString("HH:mm:ss zz"))</p>

<PPageStackLink Href="/blazor/examples/page-stack/page2/xyz">Navigate to Page 2</PPageStackLink>

<br />

<a class="text-decoration-underline"
   @onclick="@GoToPage4">
    Navigate to Page 4
</a>

<span class="ml-2 body-2">State from page 4: @_stateFromPage4</span>

<br />

<PPageStackLink Href="/blazor/examples/page-stack/page5">Navigate to Page 5</PPageStackLink>

<MSyntaxHighlight Code="@sourceCode"
                  Language="razor"
                  Style="font-size: 10px">
</MSyntaxHighlight>