@page "/blazor/examples/page-stack/tab3"
@layout PageStackLayout

<p class="caption">url: /blazor/examples/page-stack/tab3</p>

<div>
    <h3>Tab 3 created at @(DateTimeOffset.UtcNow.ToString("HH:mm:ss zz"))</h3>
    <a href="/blazor/examples/page-stack/page1">Navigate to Page 1</a>
</div>