@page "/blazor/examples/page-stack/tab3"
@layout PageStackLayout

<p class="caption">url: /blazor/examples/page-stack/tab3</p>

<div>
    <h3>Tab 3 created at @(DateTimeOffset.UtcNow.ToString("HH:mm:ss zz"))</h3>
    <a href="/blazor/examples/page-stack/page1"
       data-page-stack-strategy="push">
        Navigate to Page 1
    </a>
</div>

<MSyntaxHighlight Code="@sourceCode"
                  Language="html"
                  Style="font-size: 10px">
</MSyntaxHighlight>