@page "/blazor/examples/page-stack/page1"
@layout PageStackLayout

<PPageStackItemInit Title="Page 1">
</PPageStackItemInit>

<p class="caption">url: /blazor/examples/page-stack/page1</p>

<div>
    <h3>Page 1 created at @(DateTimeOffset.UtcNow.ToString("HH:mm:ss zz"))</h3>
    <a href="/blazor/examples/page-stack/page2/xyz">Navigate to Page 2</a>
</div>