<div>
    <label>@_value</label>
    <MRadioGroup @bind-Value="_value" Row="true">
        <MRadio Label="radio 1" Value="1"></MRadio>
        <MRadio Label="radio 2" Value="2"></MRadio>
    </MRadioGroup>
    <MButton OnClick="Test">test</MButton>
</div>

@code {
    private int _value = 1;

    public void Test()
    {
        _value = 2;
        StateHasChanged();
    }
}
