<div>
    <label>@_value</label>
    <MRadioGroup @bind-Value="_value" Row="true">
        <MRadio Label="radio 1" Value="1"></MRadio>
        <MRadio Label="radio 2" Value="2"></MRadio>
    </MRadioGroup>
</div>

@code {
    private int _value = 1;
}
