<div class="text-center ma-2">
    <MRadioGroup Value="1" Row="true">
        <MRadio Label="radio 1" Value="1"></MRadio>
        <MRadio Label="radio 2" Value="2"></MRadio>
    </MRadioGroup>
</div>

@code{
    private bool _show;

    public void Show()
    {
        _show = true;
    }
}
