<div class="d-flex flex-column justify-space-between align-center">
    <MImage AspectRatio="16/9"
           Width="200"
           Src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"></MImage>
</div>