@namespace MASA.Blazor.Presets

<CascadingValue Value="_zIndex" Name="ZIndex">
    <MOverlay Value="Visible" Click="HandleOverlayClick" ZIndex="_zIndex"></MOverlay>
    <MNavigationDrawer Temporary Absolute Right Width="@Width" Drawer="Visible" Style="@Style">
        <MCard Style="height:100%;overflow-y:hidden">
            <MCardTitle>
                <span>
                    @Title
                </span>
                <MSpacer></MSpacer>
                <MButton Icon>
                    <MButton Icon OnClick="HandleOnCancel">
                        <MIcon>mdi-close</MIcon>
                    </MButton>
                </MButton>
            </MCardTitle>

            <MDivider />

            <MCardText Style="overflow:auto;height:calc(100% - 120px)">
                @ChildContent
            </MCardText>

            @if (ShowActions)
            {
                <MDivider />

                <MCardActions>
                    <MSpacer />
                    <MButton Text OnClick="HandleOnCancel">@CancelText</MButton>
                    <MButton Text Color="primary" OnClick="HandleOnOk" Loading="_loading">@OkText</MButton>
                </MCardActions>
            }
        </MCard>
    </MNavigationDrawer>
</CascadingValue>