@using SkiaSharp
<input type="color" @bind="_color" style="width: 100%" />

<MWatermark Color="@ComputedColor" Text="MASA Blazor">
    <div style="height: 300px;"></div>
</MWatermark>

@code {

    private string _color = "#d9d9d9";

    private SKColor ComputedColor => string.IsNullOrWhiteSpace(_color) ? SKColor.Empty : SKColor.Parse(_color);

}
