<MCard Class="mx-auto" MaxWidth="400">

     <MImage Class="white--text align-end" Height=200 Src="https://cdn.masastack.com/stack/images/website/masa-blazor/cards/docks.jpg">
        <MCardTitle>Top 10 Australian beaches</MCardTitle>
    </MImage>

    <MCardSubtitle Class="pb-0">
        Number 10
    </MCardSubtitle>

    <MCardText Class="text--primary">
        <div>Whitehaven Beach</div>
        <div>Whitsunday Island, Whitsunday Islands</div>
    </MCardText>

    <MCardActions>
        <MButton Color="orange" Text>Share</MButton>
        <MButton Color="orange" Text>Explore</MButton>
    </MCardActions>

</MCard>
