<MUploadImage @bind-Value="ImageUrls" WhenFileChangeUpload OnInputFileUpload="@("uploadImages")" />
<div class="mt-12">
    @foreach (var imageUrl in ImageUrls)
    {
        <img src="@imageUrl" height=100 width=100 />
    }
</div>

@*<script>
    async function uploadImages(imageFiles){
        const imageUrls = [];
        for (var imageFile of imageFiles) {
            const arrayBuffer = await imageFile.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            imageUrls.push(url);
        }
        return imageUrls;
    }
</script>*@

@code {
    public List<string> ImageUrls { get; set; } = new();
}