<MUploadImage @bind-Value="ImageUrls" WhenFileChangeUpload OnInputFileUpload="FileUploadCallBack.CreateCallback(Upload)" />
<div class="mt-12">
    @foreach (var imageUrl in ImageUrls)
    {
        <img src="@imageUrl" height=100 width=100 />
    }
</div>

@code {
    public List<string> ImageUrls { get; set; } = new();

    public async Task<List<string>> Upload(IReadOnlyList<IBrowserFile> files)
    {
        var imageUrls = new List<string>();
        foreach (var file in files)
        {
            var buffers = new byte[file.Size];
            var resizedImage = await file.RequestImageFileAsync(file.ContentType, 100, 100);
            using var stream = resizedImage.OpenReadStream();
            await stream.ReadAsync(buffers);
            imageUrls.Add($"data:{file.ContentType};base64,{Convert.ToBase64String(buffers)}");
        }

        return imageUrls;
    }
}