<MItemGroup ActiveClass="error white--text">
    <MContainer>
        <MRow>
            @foreach (var n in Enumerable.Range(0, 3))
            {
                <MCol
                    @key="n"
                    Cols="12"
                    Md="4">
                    <MItem>
                        <MCard
                            Class="@($"d-flex align-center {context.ActiveClass}")"
                            Height="200"
                            OnClick="context.Toggle"
                            RefBack="context.Ref">
                            <div class="text-h3 flex-grow-1 text-center">
                                @(context.Active ? "Selected" : "Click Me!")
                            </div>
                        </MCard>
                    </MItem>
                </MCol>
            }
        </MRow>
    </MContainer>
</MItemGroup>
