<div>
    <MStepper AltLabels>
        <MStepperHeader>
            <MStepperStep Step="1">
                Ad unit details
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="2">
                Ad sizes
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="3">
                Ad templates
            </MStepperStep>
        </MStepperHeader>
    </MStepper>

    <MStepper AltLabels
              Class="mt-12">
        <MStepperHeader>
            <MStepperStep Step="1">
                Ad unit details
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="2">
                Ad sizes
                <small>Optional</small>
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="3">
                Ad templates
            </MStepperStep>
        </MStepperHeader>
    </MStepper>
</div>

