<div class="text-center">
    <MContainer>
        <MRow Justify="JustifyTypes.Center">
            <MCol Cols="8">
                <MContainer Class="max-width">
                    <MPagination @bind-Value="_page" Class="my-4" Length=15></MPagination>
                </MContainer>
            </MCol>
        </MRow>
    </MContainer>
</div>

@code
{
    private int _page = 1;
}