<div Style="text-align:center">
    <MButton Style="margin-right: 16px"
             Fab
             Small
             Dark
             Color="primary">
        <MIcon>
            mdi-minus
        </MIcon>
    </MButton>

    <MButton Style="margin-right: 16px"
             Fab
             Small
             Dark
             Color="pink">
        <MIcon>mdi-heart</MIcon>
    </MButton>

    <MButton Style="margin-right: 16px"
             Fab
             Dark
             Color="indigo">
        <MIcon>mdi-plus</MIcon>
    </MButton>

    <MButton Style="margin-right: 16px"
             Fab
             Dark
             Color="teal">
        <MIcon>	mdi-format-list-bulleted-square</MIcon>
    </MButton>

    <MButton Style="margin-right: 16px"
             Fab
             Dark
             Large
             Color="cyan">
        <MIcon>mdi-pencil</MIcon>
    </MButton>

    <MButton Style="margin-right: 16px"
             Fab
             Dark
             Large
             Color="purple">
        <MIcon>
            mdi-android
        </MIcon>
    </MButton>
</div>
