<MCard Flat>
    <MCardText>
        <MContainer Fluid Class="pa-0">
            <MRow>
                <MCol Cols="12">
                    <p>Normal</p>
                </MCol>
                
                <MCol Cols="12" Sm="3">
                    <MButton Icon Color="pink">
                        <MIcon>mdi-heart</MIcon>
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton Icon Color="indigo">
                        <MIcon>mdi-star</MIcon>
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton Icon Color="green">
                        <MIcon>mdi-cached</MIcon>
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton Icon Color="deep-orange">
                        <MIcon>mdi-thumb-up</MIcon>
                    </MButton>
                </MCol>
            </MRow>
            <MRow class="mt-12">
                <MCol Cols="12">
                    <p>Disabled</p>
                </MCol>
                
                <MCol Cols="12" Sm="3">
                    <MButton Icon Disabled>
                        <MIcon>mdi-heart</MIcon>
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton Icon Disabled>
                        <MIcon>mdi-star</MIcon>
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton Icon Disabled>
                        <MIcon>mdi-cached</MIcon>
                    </MButton>
                </MCol>
                <MCol Cols="12" Sm="3">
                    <MButton Icon Disabled>
                        <MIcon>mdi-thumb-up</MIcon>
                    </MButton>
                </MCol>
            </MRow>
        </MContainer>
    </MCardText>
</MCard>