<div class="text-center">
    <MButton class="ma-2"
             Outlined
             Color="indigo">
        Outlined Button
    </MButton>
    <MButton class="ma-2"
             Outlined
             Fab
             Color="teal">
        <MIcon>mdi-format-list-bulleted-square</MIcon>
    </MButton>
    <MButton class="ma-2"
             Outlined
             Large
             Fab
             Color="indigo">
        <MIcon>mdi-pencil</MIcon>
    </MButton>
</div>