<div style="text-align:center">
    <MButton Style="margin-right: 8px"
             Outlined
             Color="indigo">
        Outlined Button
    </MButton>
    <MButton Style="margin-right: 8px"
             Outlined
             Fab
             Color="teal">
        <MIcon>mdi-format-list-bulleted-square</MIcon>
    </MButton>
    <MButton Style="margin-right: 8px"
             Outlined
             Large
             Fab
             Color="indigo">
        <MIcon>mdi-pencil</MIcon>
    </MButton>
</div>