<div style="text-align:center">
    <MButton Disabled
             Style="margin-right: 8px"
             Color="grey"
             Plain>
        Cancel
    </MButton>

    <MButton Style="margin-right: 8px"
             Color="error"
             Plain>
        Delete
    </MButton>
</div>
