<MContainer Fluid>
    <MRow Align="@AlignTypes.Center">
        <MCol Span="6">
            <div style="text-align: center">
                <div style="margin-bottom:8px">
                    <MButton XSmall Color="secondary">XSmall Button</MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton Small Color="primary">Small Button</MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton Color="warning">Normal Button</MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton Large Color="error">Large Button</MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton XLarge Color="success">XLarge Button</MButton>
                </div>
            </div>
        </MCol>
        <MCol Span="6">
            <div style="text-align: center">
                <div style="margin-bottom:8px">
                    <MButton XSmall Fab Color="secondary">
                        <MIcon>mdi-television</MIcon>
                    </MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton Small Fab Color="primary">
                        <MIcon>mdi-pencil</MIcon>
                    </MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton Fab Color="warning">
                        <MIcon>mdi-account-circle</MIcon>
                    </MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton Large Fab Color="error">
                        <MIcon>mdi-alarm</MIcon>
                    </MButton>
                </div>
                <div style="margin-bottom:8px">
                    <MButton XLarge Fab Color="success">
                        <MIcon>mdi-domain</MIcon>
                    </MButton>
                </div>
            </div>
        </MCol>
    </MRow>
</MContainer>