<div>
    <MAlert Border="Borders.Top"
            Color="red lighten-2"
            Dark>
        I'm an alert with a top border and red color
    </MAlert>
    <MAlert Border="Borders.Right"
            Color="blue-grey"
            Dark>
        I'm an alert with a right border and blue-grey color
    </MAlert>
    <MAlert Border="Borders.Bottom"
            Color="pink darken-1"
            Dark>
        I'm an alert with a bottom border and pink color
    </MAlert>
    <MAlert Border="Borders.Left"
            Color="indigo"
            Dark>
        I'm an alert with a border left type info
    </MAlert>
</div>
