<div class="text-center">
    <MProgressCircular Value="20" Size="40"></MProgressCircular>
    <MProgressCircular Value="40" Size="40"></MProgressCircular>
    <MProgressCircular Value="60" Size="40"></MProgressCircular>
    <MProgressCircular Value="80" Size="40"></MProgressCircular>
    <MProgressCircular Value="100" Size="40"></MProgressCircular>
</div>

<style>
	.m-progress-circular {
      margin: 1rem;
    }
</style>