<div>
    <div class="text-center d-flex">
        <MButton Click="All">ALL</MButton>
        <div>[@string.Join(',', _values.Select(u => u.AsT1))]</div>
        <MButton Click="None">NONE</MButton>
    </div>

    <MExpansionPanels Multiple @bind-Values="_values">
        @for (var i = 0; i < _items; i++)
        {
            <MExpansionPanel Key="i">
                <MExpansionPanelHeader>Header @i</MExpansionPanelHeader>
                <MExpansionPanelContent>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </MExpansionPanelContent>
            </MExpansionPanel>
        }
    </MExpansionPanels>
</div>

@code {
    private int _items = 5;
    private List<StringNumber> _values = new();

    private void All()
    {
        _values = Enumerable.Range(0, _items).Select(u => (StringNumber)u).ToList();
    }

    private void None()
    {
        _values.Clear();
    }
}
