<MCard Class="mx-auto" MaxWidth="344">

    <MCardText>
        <div>Word of the Day</div>
        <p class="text-h4 text--primary">
            be•nev•o•lent
        </p>
        <p>adjective</p>
        <div class="text--primary">
            well meaning and kindly.<br>
            "a benevolent smile"
        </div>
    </MCardText>

    <MCardActions>
        <MButton Text Color="deep-purple accent-4">Learn More</MButton>
    </MCardActions>

</MCard>
