@namespace Masa.Blazor.Popup.Components

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
    @foreach (var config in _configs)
    {
        <ToastItem Config="config" @key="config" OnClose="@HandleOnCloseAsync"></ToastItem>
    }
</div>