<div class="text-center d-flex align-center justify-space-around">
    <MTooltip Left=true>
        <Activator>
            <MButton>Left</MButton>
        </Activator>
        <ChildContent>
            <span>Left tooltip</span>
        </ChildContent>
    </MTooltip>
    <MTooltip Top=true>
        <Activator>
            <MButton>Top</MButton>
        </Activator>
        <ChildContent>
            <span>Top tooltip</span>
        </ChildContent>
    </MTooltip>
    <MTooltip Bottom=true>
        <Activator>
            <MButton>Bottom</MButton>
        </Activator>
        <ChildContent>
            <span>Bottom tooltip</span>
        </ChildContent>
    </MTooltip>
    <MTooltip Right=true>
        <Activator>
            <MButton>Right</MButton>
        </Activator>
        <ChildContent>
            <span>Right tooltip</span>
        </ChildContent>
    </MTooltip>
</div>
