<div class="text-center d-flex align-center justify-space-around">
    <MTooltip Left>
        <ActivatorContent>
            <MButton Dark Color="primary">Left</MButton>
        </ActivatorContent>
        <ChildContent>
            <span>Left tooltip</span>
        </ChildContent>
    </MTooltip>
    <MTooltip>
        <ActivatorContent>
            <MButton Dark Color="primary">Top</MButton>
        </ActivatorContent>
        <ChildContent>
            <span>Top tooltip</span>
        </ChildContent>
    </MTooltip>
    <MTooltip Bottom>
        <ActivatorContent>
            <MButton Dark Color="primary">Bottom</MButton>
        </ActivatorContent>
        <ChildContent>
            <span>Bottom tooltip</span>
        </ChildContent>
    </MTooltip>
    <MTooltip Right>
        <ActivatorContent>
            <MButton Dark Color="primary">Right</MButton>
        </ActivatorContent>
        <ChildContent>
            <span>Right tooltip</span>
        </ChildContent>
    </MTooltip>
</div>
