<div class="text-center d-flex align-center justify-space-around">
    <MTooltip Left>
        <ActivatorContent Context="activatorContext">
            <MButton Dark Color="primary" @attributes="activatorContext.Attrs">Left</MButton>
        </ActivatorContent>
        <ChildContent>
            <span>Tooltip</span>
        </ChildContent>
    </MTooltip>

    <MTooltip Bottom>
        <ActivatorContent Context="activatorContext">
            <MIcon Color="primary" @attributes="activatorContext.Attrs">mdi-home</MIcon>
        </ActivatorContent>
        <ChildContent>
            <span>Tooltip</span>
        </ChildContent>
    </MTooltip>

    <MTooltip Bottom>
        <ActivatorContent Context="activatorContext">
            <span @attributes="activatorContext.Attrs">This text has a tooltip</span>
        </ActivatorContent>
        <ChildContent>
            <span>Tooltip</span>
        </ChildContent>
    </MTooltip>
</div>
