<MContainer Fluid
            class="text-center">
    <MRow Class="flex"
          Justify="JustifyTypes.SpaceBetween">
        <MCol Cols="12">
            <MButton Click="()=>_show = !_show">
                toggle
            </MButton>
        </MCol>

        <MCol Cols="12"
                 Class="mt-12">
            <MTooltip @bind-Value="_show" Top>
                <ActivatorContent Context="activatorContext">
                    <MButton icon @attributes="activatorContext.Attrs">
                        <MIcon Color="grey lighten-1">mdi-cart</MIcon>
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <span>Programmatic tooltip</span>
                </ChildContent>
            </MTooltip>
        </MCol>
    </MRow>
</MContainer>

@code
{
    private bool _show = false;
}
