<div class="text-center">
    <MMenu>
        <ActivatorContent Context="m">
            <MTooltip Bottom>
                <ActivatorContent Context="c">
                    <MButton
                        Color="primary"
                        Dark
                        @attributes="@m.MergeAttrs(c.Attrs)">
                        Dropdown w/ Tooltip
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <span>Im A ToolTip</span>
                </ChildContent>
            </MTooltip>
        </ActivatorContent>
        <ChildContent>
            <MList>
                @foreach (var item in items)
                {
                    <MListItem>
                        <MListItemContent>
                            <MListItemTitle>
                                @item
                            </MListItemTitle>
                        </MListItemContent>
                    </MListItem>
                }
            </MList>
        </ChildContent>
    </MMenu>
</div>

@code {

    string[] items =
    [
        "Click Me",
        "Click Me",
        "Click Me",
        "Click Me 2"
    ];

}