<div>
    <MCard Class="d-flex align-start flex-column mb-6" Color="grey lighten-2" Flat Tile Height="200">
        @for (var i = 1; i <= 3; i++)
        {
            var n = i;
            <MCard Class="@($"pa-2 {(n == 1 ? "mb-auto": "")}")" Outlined Tile>
                Flex item
            </MCard>
        }
    </MCard>

    <MCard Class="d-flex align-end flex-column" Color="grey lighten-2" Flat Tile Height="200">
        @for (var i = 1; i <= 3; i++)
        {
            var n = i;
            <MCard Class="@($"pa-2 {(n == 3 ? "mt-auto": "")}")" Outlined Tile>
                Flex item
            </MCard>
        }
    </MCard>
</div>