<div class="text-center">
    <MRating @bind-Value="_rating" BackgroundColor="purple lighten-3" Color="purple" Large></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="pink lighten-3" Color="pink" Large></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="orange lighten-3" Color="orange" Large></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="green lighten-3" Color="green" Large></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="red lighten-3" Color="red" Large></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="indigo lighten-3" Color="indigo" Large></MRating>
</div>

@code
{
    private double _rating = 4;
}