@inject I18n I18n
@inject MasaBlazor MasaBlazor

<div class="flex-1-1-auto d-flex align-center justify-end">
    @if (MasaBlazor.Breakpoint.LgAndUp)
    {
        <Tabs />
    }

    @if (MasaBlazor.Breakpoint.XsOnly)
    {
        <MSpacer />
    }

    @if (MasaBlazor.Breakpoint.SmAndUp)
    {
        <div class="flex-1-1-auto d-flex justify-end">
            @if (!string.IsNullOrEmpty(Project))
            {
                <Search IndexName="@(Env+Project)" @bind-ReInit="@_reInitSearch" />
            }
        </div>
    }

    <LanguageMenu OnCultureChanged="OnCultureChangedLocal" />

    @if (MasaBlazor.Breakpoint.SmAndUp)
    {
        <ToolIcons OnSettingsClick="OnSettingsClick" />
    }
    else
    {
        <MobileToolIcons OnDotClick="OnDotClick" />
    }
</div>


@code {

    [Parameter]
    public string? Project { get; set; }

    [Parameter]
    public string? Env { get; set; }

    [Parameter]
    public EventCallback<string> OnCultureChanged { get; set; }

    private bool _reInitSearch { get; set; }


    public async Task OnCultureChangedLocal(string value)
    {
        _reInitSearch = true;
        await OnCultureChanged.InvokeAsync(value);
    }

    [Parameter]
    public EventCallback OnDotClick { get; set; }

    [Parameter]
    public EventCallback OnSettingsClick { get; set; }

}
