@using System.Globalization
@inject MasaBlazor MasaBlazor

<MAppBar Id="app-bar"
         App
         Class="m-bar--underline"
         Flat
         ClippedRight
         Color="white"
         Height="@(MasaBlazor.Breakpoint.Xs ? AppService.MobileAppBarHeight : AppService.AppBarHeight)"
         Style="left: 0">
    <div Class="hidden-md-and-down" style="min-width:300px">
        <Logo />
    </div>

    @if (HideAppBarNavIcon is false)
    {
        <MAppBarNavIcon Class="hidden-lg-and-up emphasize2-color"
                        @onclick="OnAppBarNavIconClick" />
    }

    <AppBarItems OnCultureChanged="OnCultureChanged"
                 OnDotClick="OnDotClick" 
                 OnSettingsClick="OnSettingsClick">
    </AppBarItems>
</MAppBar>

@code {

    [CascadingParameter]
    public CultureInfo Culture { get; set; } = null!;

    [Parameter]
    public EventCallback<string> OnCultureChanged { get; set; }

    [Parameter]
    public EventCallback OnAppBarNavIconClick { get; set; }

    [Parameter]
    public EventCallback OnDotClick { get; set; }

    [Parameter]
    public bool HideAppBarNavIcon { get; set; }

    [Parameter]
    public EventCallback OnSettingsClick { get; set; }

}
