@inject I18n I18n
@inject MasaBlazor MasaBlazor

<div class="flex-1-1-auto d-flex align-center justify-end">
    @if (MasaBlazor.Breakpoint.LgAndUp)
    {
        <Tabs />
    }

    @if (MasaBlazor.Breakpoint.XsOnly)
    {
        <MSpacer />
    }

    @if (MasaBlazor.Breakpoint.SmAndUp)
    {
        <div class="flex-1-1-auto d-flex justify-end">
            @if (!string.IsNullOrEmpty(Project))
            {
                <Search @ref="_algoliaSearch" IndexName="@(Env + I18n.Culture.TwoLetterISOLanguageName + "_" + Project)" />
            }
        </div>
    }

    <LanguageMenu OnCultureChanged="OnCultureChangedLocal" />

    @if (MasaBlazor.Breakpoint.SmAndUp)
    {
        <ToolIcons OnSettingsClick="OnSettingsClick" />
    }
    else
    {
        <MobileToolIcons OnDotClick="OnDotClick" />
    }
</div>

@code {

    [Parameter]
    public string? Project { get; set; }

    [Parameter]
    public string? Env { get; set; }

    [Parameter]
    public EventCallback<string> OnCultureChanged { get; set; }

    private Search? _algoliaSearch;

    public async Task OnCultureChangedLocal(string value)
    {
        await _algoliaSearch!.InitDocSearchAsync();
        await OnCultureChanged.InvokeAsync(value);
    }

    [Parameter]
    public EventCallback OnDotClick { get; set; }

    [Parameter]
    public EventCallback OnSettingsClick { get; set; }

}
