<div class="mb-1">
    <MButton Click="() => _visible = true">Open Drawer</MButton>

    <MASA.Blazor.Presets.Drawer Visible="_visible" Title="新增用户" Width="500" Persistent OnCancel="() => _visible = false">
        <MRow>
            <MCol>
                <MCard>
                    <MCardText>
                        CARD 1
                    </MCardText>
                </MCard>
            </MCol>
            <MCol>
                <MCard>
                    <MCardText>
                        CARD 2
                    </MCardText>
                </MCard>
            </MCol>
            <MCol Span="12">
                <MCard>
                    <MCardText>
                        CARD 3
                    </MCardText>
                </MCard>
            </MCol>
        </MRow>
    </MASA.Blazor.Presets.Drawer>
</div>

@code {
    private bool _visible = false;
}