<div>
    <MButton Click="() => OpenModal()" Class="mb-1">Open Modal</MButton>

    <MASA.Blazor.Presets.Modal Visible="_visible" Title="新增用户" Width="500" OnOk="HandleOnClick" OnCancel="() => HideModal()">
        <MRow>
            <MCol Span="12">
                <MTextField @bind-Value="_userName" Label="UserName" Dense Outlined />
            </MCol>
            <MCol Span="12">
                <MRadioGroup @bind-Value="_gender" Row Dense Style="margin-top: 0">
                    <MRadio Label="男" Value="0"></MRadio>
                    <MRadio Label="女" Value="1"></MRadio>
                </MRadioGroup>
            </MCol>
        </MRow>
    </MASA.Blazor.Presets.Modal>

    <MRow>
        <MCol>username: @_userName</MCol>
        <MCol>gender: @_gender</MCol>
        <MCol><MButton Click="() => _visible = true" Color="primary" Text Small>Edit</MButton></MCol>
    </MRow>
</div>

@code {
    private bool _visible = false;

    private string _userName = "capdiem";
    private int _gender;

    private void OpenModal()
    {
        _visible = true;
    }

    private void HideModal()
    {
        _visible = false;
    }

    private async Task HandleOnClick()
    {
        await Task.Delay(1000);

        _visible = false;
    }
}