<style>
    .put-item {
        margin: 5px;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        border: 1px solid rgba(0,0,0,.125);
    }
</style>

<MContainer>
    <MRow>
        <MCol Cols=6>
            <div>enable drop</div>
            <MDragZone Group="put_example" Put="true">
                <MDragItem>
                    <div class="put-item">item1-1</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item1-2</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item1-3</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item1-4</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item1-5</div>
                </MDragItem>
            </MDragZone>
        </MCol>
        <MCol Cols=6>
            <div>disable drop</div>
            <MDragZone Group="put_example" Put="false">
                <MDragItem>
                    <div class="put-item">item2.1</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item2.2</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item2.3</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item2.4</div>
                </MDragItem>
                <MDragItem>
                    <div class="put-item">item2.5</div>
                </MDragItem>
            </MDragZone>
        </MCol>
    </MRow>
</MContainer>