<div>
    <div class="text-center mb-4">
        <MButton Color="primary"
                 OnClick="()=>_alert = !_alert">
            Toggle
        </MButton>
    </div>
    <MAlert Value="_alert"
            Color="pink"
            Dark
            Border="Borders.Top"
            Icon="@("mdi-home")"
            Transition="scale-transition">
        Phasellus tempus. Fusce ac felis sit amet ligula pharetra condimentum. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Pellentesque posuere. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.

        Phasellus nec sem in justo pellentesque facilisis. Phasellus magna. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. In hac habitasse platea dictumst. Praesent turpis.
    </MAlert>
</div>

  @code {
    private bool _alert = true;
  }