<div>
    <MSwitch @bind-Value="_reverse"
             Label="Toggle reverse"></MSwitch>
    <MTimeline Reverse="_reverse"
               Dense="false">
        @for (int i = 0; i < 2; i++)
        {
            <MTimelineItem>
                <OppositeContent>
                    <span>Tus eu perfecto</span>
                </OppositeContent>
                <ChildContent>
                    <MCard Class="elevation-2">
                        <MCardTitle Class="text-h5">
                            Lorem ipsum
                        </MCardTitle>
                        <MCardText>
                            Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.
                        </MCardText>
                    </MCard>
                </ChildContent>
            </MTimelineItem>
        }

    </MTimeline>
    <MTimeline Reverse="_reverse"
               Dense>
        @for (int i = 0; i < 2; i++)
        {
            <MTimelineItem>
                <OppositeContent>
                    <span>Tus eu perfecto</span>
                </OppositeContent>
                <ChildContent>
                    <MCard Class="elevation-2">
                        <MCardTitle Class="text-h5">
                            Lorem ipsum
                        </MCardTitle>
                        <MCardText>
                            Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.
                        </MCardText>
                    </MCard>
                </ChildContent>
            </MTimelineItem>
        }
    </MTimeline>
</div>

@code{
    private bool _reverse = true;
}

