<div>
    <MSubheader>Light status bar</MSubheader>
    <MCard Height="200" Img="https://cdn.masastack.com/stack/images/website/masa-blazor/home/masa_layout1.svg">
        <MSystemBar Color="primary">
            <MSpacer></MSpacer>
            <MIcon>mdi-wifi-strength-4</MIcon>
            <MIcon>mdi-signal-cellular-outline</MIcon>
            <MIcon>mdi-battery</MIcon>
            <span>12:30</span>
        </MSystemBar>
    </MCard>
    <MSubheader>Dark status bar</MSubheader>
    <MCard Height="200" Img="https://cdn.masastack.com/stack/images/website/masa-blazor/home/masa_layout1.svg">
        <MSystemBar Color="primary" Dark>
            <MSpacer></MSpacer>
            <MIcon>mdi-wifi-strength-4</MIcon>
            <MIcon>mdi-signal-cellular-outline</MIcon>
            <MIcon>mdi-battery</MIcon>
            <span>12:30</span>
        </MSystemBar>
    </MCard>
</div>