@namespace Masa.Docs.Shared.Components

<section id="ready-for-more"
         class="mt-12">
    <AppHeading Level="2" Content="TODO: i18n ready"></AppHeading>

    <RelatedPages Related="Related"></RelatedPages>
</section>

@code {

    [Parameter]
    public IEnumerable<string>? Related { get; set; }

}
