@using YamlDotNet.Serialization;

@namespace Masa.Docs.Shared.Components

<h1 class="m-heading text-h3 text-sm-h3 mb-4">@Meta.Title</h1>
<MMarkdownIt Source="@Meta.Description" Plain></MMarkdownIt>

@ChildContent

@code {

    [Parameter]
    [EditorRequired]
    public FrontMatterMeta Meta { get; set; } = null!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string? _prevYaml;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        ArgumentNullException.ThrowIfNull(Meta);
    }

}
