@namespace Masa.Docs.Shared.Components
@inject I18n I18n

<a class="d-flex justify-center" style="width: 100%; height:100%" @attributes="@Attributes">
    <MImage Src="https://cdn.masastack.com/images/logo-h-en.svg"
            alt="@I18n.T("logo")"
            Class="shrink"
            MaxWidth="180"
            Width="180"
            Height="40"/>
</a>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new();

}
