::deep.search-inupt .m-input__prepend-inner {
    height: 100% !important;
    margin: 0 !important;
}

::deep.search-inupt .m-input__append-inner {
    height: 100% !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
}

::deep.search-inupt .m-input__slot {
    padding: 0 12px !important;
}

::deep.search-inupt .m-icon.emphasize2-color {
    color: #1B2559 !important;
}

::deep.search-inupt .m-icon {
    font-size: 20px !important;
}

::deep.search-inupt .m-icon {
    color: #A3AED0 !important;
}

::deep.search-inupt .m-icon.primary--text {
    color: #4318FF !important;
}
