<div class="text-center">
    <PMobileDatePicker @bind-Value="_date"
                       Max="DateOnly.FromDateTime(DateTime.Now)"
                       Min="new DateOnly(2000, 1, 1)">
        <ActivatorContent>
            <MButton Color="primary" Class="text-capitalize" Text @attributes="@context.Attrs">
                @(_date == default ? "Please select" : _date)
            </MButton>
        </ActivatorContent>
    </PMobileDatePicker>
</div>

@code {

    private DateOnly _date;

}
