<MRow>
    @foreach (var name in _wireframes)
    {
        <MCol Cols="12" Md="6" Lg="4">
            <a class="text-dec-none" target="_blank" href="@($"{Navigation.BaseUri}examples/wireframes/{HandleWireframeName(name)}")">
                <AppFigure alt="@($"{name} layout")"
                           aspect-ratio="16/9"
                           Name="@name"
                           Outlined
                           Src="@($"https://cdn.vuetifyjs.com/docs/images/wireframes/{HandleWireframeName(name)}.svg")">
                    @*TODO: Replace masa cdn*@
                </AppFigure>
            </a>
        </MCol>
    }
</MRow>


@code {
    [Inject]
    public NavigationManager Navigation { get; set; } = default!;

    List<string> _wireframes = new List<string>
    {
        "Base",
        "Extended Toolbar",
        "System Bar",
        "Inbox",
        "Constrained",
        "Side Navigation",
        "Three Column",
        "Discord"
    };

    string HandleWireframeName(string name)
    {
        return name.ToLower().Replace(" ", "-");
    }
}