<div class="text-center">
    <MRating @bind-Value="_rating" BackgroundColor="purple lighten-3" Color="purple" Small></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="pink lighten-3" Color="pink"></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="green lighten-3" Color="green" Large></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="red lighten-3" Color="red" XLarge></MRating>
    <MRating @bind-Value="_rating" BackgroundColor="indigo lighten-3" Color="indigo" XLarge Size="64"></MRating>
</div>

@code
{
    private double _rating = 4;
}