<div class="d-flex mb-4">
    <a class="text-decoration-none text-body-1" href="@_prevItem.Url">
        <span class="text-h6 text--primary">←&nbsp;</span>
        <span>@_prevItem.FullTitle</span>
    </a>
    <MSpacer></MSpacer>
    <a class="text-decoration-none text-body-1" href="@_nextItem.Url">
        <span>@_nextItem.FullTitle</span>
        <span class="text-h6 text--primary">&nbsp;→</span>
    </a>
</div>