@if (Disabled)
{
    @ChildContent
}
else
{
    <MBadge Class="nav-badge" OverLap Color="@Color" Content="@Content">
        <div>@ChildContent</div>
    </MBadge>
}

@code {

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
