@using BlazorComponent.I18n

@if (HasTag)
{
    <div class="d-flex align-center justify-space-between">
        <span class="text-truncate" style="max-width: 151px">@ChildContent</span>
        <ColorChip Color="@GetColor(Tag)" XSmall>@I18n.T($"tag.{Tag}")</ColorChip>
    </div>
}
else
{
    @ChildContent
}

@code {

    [Inject]
    private I18n I18n { get; set; }

    [Parameter]
    public string Tag { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private static Dictionary<string, string> _tagColors = new()
    {
        { "preset", "blue" },
        { "service", "purple" },
        { "new", "green" },
        { "updated", "red" }
    };

    private bool HasTag => !string.IsNullOrEmpty(Tag);

    private string GetColor(string tag)
    {
        return _tagColors.ContainsKey(tag) ? _tagColors[tag] : "primary";
    }

}
