<div class="text-center">
    <iframe src="/blazor/examples/page-stack/tab1"
            style="width: 375px; height: 667px;border-width: 1px;border-color: #e4e8f3;border-style: solid;"
            width="100%">
    </iframe>
</div>