@namespace Masa.Docs.Shared.Components
@inject I18n I18n

<a class="d-flex justify-center" 
   style="width: 100%; height:100%"
   href="/"
   @attributes="@Attributes">
    <MImage Src="@($"https://cdn.masastack.com/images/logo-h-en{(IsDark ? "--dark" : "")}.png?x-oss-process=image/resize,w_180")"
            alt="@I18n.T("logo")"
            Class="shrink"
            MaxWidth="180"
            Width="180"
            Height="40"/>
</a>

@code {

    [CascadingParameter(Name = "IsDark")]
    private bool IsDark { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new();
}
