@namespace Masa.Docs.Shared.Components
@inject I18n I18n

<div class="toc-content mt-6 ml-6">@I18n.T("Sponsors")</div>
<div class="sponsors ml-6 mt-2">
    @foreach (var sponsor in _sponsors)
    {
        <a href="@sponsor.Href">
            <img src="@sponsor.Src" alt="@sponsor.Alt" />
        </a>
    }
</div>

@code {
    List<(string Href, string Src, string Alt)> _sponsors = new List<(string Href, string Src, string Alt)>
    {
        ("https://www.lonsid.cn","https://cdn.masastack.com/stack/images/website/masa-blazor/lsd-logo.png","lonsid")
    };
}
