<div>
    <MStepper>
        <MStepperHeader>
            <MStepperStep Step="1">
                Select campaign settings
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="2">
                Create an ad group
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="3">
                Create an ad
            </MStepperStep>
        </MStepperHeader>
    </MStepper>

    <MStepper Value="2"
              Class="mt-12">
        <MStepperHeader>
            <MStepperStep Step="1"
                          complete>
                Select campaign settings
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="2">
                Create an ad group
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="3">
                Create an ad
            </MStepperStep>
        </MStepperHeader>
    </MStepper>

    <MStepper Value="3"
              Class="mt-12">
        <MStepperHeader>
            <MStepperStep Step="1"
                          complete>
                Select campaign settings
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="2"
                          Complete>
                Create an ad group
            </MStepperStep>

            <MDivider></MDivider>

            <MStepperStep Step="3">
                Create an ad
            </MStepperStep>
        </MStepperHeader>
    </MStepper>
</div>
