@namespace Masa.Blazor
@inherits MasaComponentBase

<CascadingValue Value="this" TValue="MBaiduMap">
    <CascadingValue Value="IsDark" Name="IsDark">
        <div class="@GetClass()"
             style="@GetStyle()"
             id="@Id"
             @ref="Ref"
             @attributes="Attributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>