@using Microsoft.JSInterop
@namespace Masa.Blazor
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass()"
         style="@CssProvider.GetStyle()"
         id="@Id" @ref="Ref"
         @attributes="Attributes">

        @if (string.IsNullOrWhiteSpace(ServiceKey))
        {
            <p>@(nameof(ServiceKey)) is required to enable map services</p>
        }

    </div>
</CascadingValue>
