@page "/"
@using Masa.Blazor.Maui.Plugin.PictureMasking.Page

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="PictureMasking">PictureMasking</button>
@code {

    private async Task PictureMasking()
    {
        PictureMasking pictureMasking = new PictureMasking();
        await Application.Current.MainPage.Navigation.PushModalAsync(pictureMasking);
    }

}