@using System.ComponentModel.DataAnnotations

<MCard Flat>
    <MSnackbar @bind-IsActive="_success"
               Dark
               Absolute
               Top
               Right
               Color="success">
        <span>Validate successful!</span>
        <MIcon Dark>
            mdi-checkbox-marked-circle
        </MIcon>
    </MSnackbar>
    <MForm Model="_order" EnableDataAnnotationsValidation>
        <MContainer Fluid>
            <MRow>
                <MCol>
                    <MTextField Color="purple darken-2" Label="名称" @bind-Value="_order.Title"></MTextField>
                </MCol>
                <MCol>
                    <MTextField Color="blue darken-2" Label="金额" @bind-Value="_order.Price"></MTextField>
                </MCol>
            </MRow>
        </MContainer>
        <MCardActions>
            <MButton Color="primary" OnClick="()=>SubmitOrder(context)">
                提交
            </MButton>
        </MCardActions>
    </MForm>
</MCard>

@code{
    public class Order
    {
        public int Id { get; set; }
        [Required]
        public string Title { get; set; }
        [Range(0, 20.00)]
        public decimal Price { get; set; }
    }

    private Order _order = new();
    private bool _success;

    public void SubmitOrder(EditContext context)
    {
        var success = context.Validate();
        if (success)
        {
            _success = success;
            //验证成功，操作业务
        }
    }
}