<div class="text-center">
    <PMobileTimePicker @bind-Value="_time">
        <ActivatorContent>
            <MButton Color="primary" Class="text-capitalize" Text @attributes="@context.Attrs">
                @(_time.ToLongTimeString())
            </MButton>
        </ActivatorContent>
    </PMobileTimePicker>
</div>

@code {

    private TimeOnly _time;

}
