<div style="max-width:500px">
    <MList>
        <MListItemGroup Value="@(selected)">
            @foreach (var item in _items)
            {
                <MListItem Value="@((StringNumber)item.Text)">
                    <MListItemIcon>
                        <MIcon>@item.Icon</MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>@item.Text</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            }
        </MListItemGroup>
    </MList>
</div>

@code {

    public class Item
    {
        public string Icon { get; set; }
        public string Text { get; set; }
    }

    static readonly Item[] _items =
    {
        new()
        {
            Icon = "mdi-inbox",
            Text = "Inbox"
        },
        new()
        {
            Icon = "mdi-star",
            Text = "Star"
        },
        new()
        {
            Icon = "mdi-send",
            Text = "Send"
        },
        new()
        {
            Icon = "mdi-email-open",
            Text = "Drafts"
        }
    };

    readonly StringNumber selected = _items[1].Text;
}