<div>
    <MSubheader>Lights out (light)</MSubheader>
    <MCard Height="200" Img="https://cdn.masastack.com/stack/images/website/masa-blazor/home/masa_layout2.svg">
        <MSystemBar LightsOut>
            <MSpacer></MSpacer>
            <MIcon>mdi-wifi-strength-4</MIcon>
            <MIcon>mdi-signal-cellular-outline</MIcon>
            <MIcon>mdi-battery</MIcon>
            <span>12:30</span>
        </MSystemBar>
    </MCard>
    <MSubheader>Lights out (dark)</MSubheader>
    <MCard Height="200" Img="https://cdn.masastack.com/stack/images/website/masa-blazor/home/masa_layout2.svg">
        <MSystemBar LightsOut Dark>
            <MSpacer></MSpacer>
            <MIcon>mdi-wifi-strength-4</MIcon>
            <MIcon>mdi-signal-cellular-outline</MIcon>
            <MIcon>mdi-battery</MIcon>
            <span>12:30</span>
        </MSystemBar>
    </MCard>
</div>