<div>
    <MContainer Class="grey lighten-5">
        <MRow NoGutters>
            <MCol>
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    First, but unordered
                </MCard>
            </MCol>
            <MCol Order="12" >
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    Second, but last
                </MCard>
            </MCol>
            <MCol Order="1">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                     Third, but first
                </MCard>
            </MCol>
        </MRow>
    </MContainer>
</div>