@page "/components/{name}"
@page "/components"
@page "/charts/{name}"
@page "/charts"
@using BlazorComponent.Doc.CLI.Models
@using MASA.Blazor.Doc.Services
@inherits OwningComponentBase<DemoService>
@inject NavigationManager NavigationManager

@if (_demoComponent != null)
{
    <h1 class="m-heading text-h3 text-sm-h3 mb-4">
        @if (!string.IsNullOrEmpty(_demoComponent.SubTitle))
        {
            var title = $"{_demoComponent.Title} ({_demoComponent.SubTitle})";
            @title
        }
        else
        {
            @_demoComponent.Title
        }
    </h1>
    @((MarkupString) _demoComponent.Desc)

    var demos = _demoComponent.DemoList?.Where(x => !x.Debug && !x.Docs.HasValue).OrderBy(x => x.Order) ?? Enumerable.Empty<DemoItemModel>();
    foreach (var demo in demos)
    {
        <CodeBox Demo="demo" @key="@($"{_demoComponent.Title}-{demo.Title}")" ComponentName="@_demoComponent.Title"></CodeBox>
    }
}