<MContainer Class="text-center fill-height" Style="height: calc(100vh - 58px)">
    <MRow Align="AlignTypes.Center">
        <MCol>
            <h1 class="text-h3" style="color:#ff5252;">
                Whoops, 500
            </h1>

            <p style="color:#ff5252;">Server Error</p>

            <MButton
                Href="/getting-started/installation"
                Color="#ff5252"
                Outlined>
                Get me out of here!
            </MButton>
        </MCol>
    </MRow>
</MContainer>