<MContainer Class="text-center fill-height" Style="height: calc(100vh - 58px)">
    <MRow Align="AlignTypes.Center">
        <MCol>
            <h1 class="text-h3 primary--text">
                Whoops, 404
            </h1>

            <p>The page you were looking for does not exist</p>

            <MButton Href="/getting-started/installation"
                     Color="primary"
                     Outlined>
                Get me out of here!
            </MButton>
        </MCol>
    </MRow>
</MContainer>