<div class="text-center">
    <MDialog
        @bind-Value="dialog"
        Width="500">
        <ActivatorContent>
            <MButton
                Color="red lighten-2"
                Dark
                @attributes="@context.Attrs">
                Click Me
            </MButton>
        </ActivatorContent>

        <ChildContent>
            <MCard>
                <MCardTitle Class="text-h5 grey lighten-2">
                    Privacy Policy
                </MCardTitle>

                <MCardText>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </MCardText>

                <MDivider></MDivider>

                <MCardActions>
                    <MSpacer></MSpacer>
                    <MButton
                        Color="primary"
                        Text
                        OnClick="() => dialog = false">
                        I accept
                    </MButton>
                </MCardActions>
            </MCard>
        </ChildContent>
    </MDialog>
</div>

@code {

    bool dialog;

}