<MEmptyState Image="_content/Masa.Docs.Shared/img/left.svg">
    <TitleContent>
        <div class="text-subtitle-2 mt-8">
            Manage your inventory transfers
        </div>
    </TitleContent>

    <TextContent>
        <div class="text-caption">
            Track and receive your incoming inventory from suppliers
        </div>
    </TextContent>

    <ActionsContent>
        <MButton
            Class="text-none rounded-lg"
            Color="white"
            Elevation="1"
            Small
            Width="96">
            Learn more
        </MButton>
        <MButton
            Class="text-none rounded-lg"
            Elevation="1"
            Small
            Width="96">
            Add transfer
        </MButton>
    </ActionsContent>
</MEmptyState>