@page "/"
@using Masa.Blazor.Maui.Plugin.Badger;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="OnIncrementClicked">Add One</button>

@code{
	int count;
	private void OnIncrementClicked()
	{
		count++;
		
		MasaMauiBadgerService.SetNotificationCount(count);
	}
}