<MRow Align="AlignTypes.Center" Justify="JustifyTypes.Center">
    <MContainer Fluid>
        <MCard Height="200" Img="https://cdn.vuetifyjs.com/images/home/vuetify_layout1.svg">
            <MSystemBar Color="orange" Height="30">
                <MIcon>mdi-message</MIcon>
                <span>10 unread messages</span>
                <MSpacer></MSpacer>
                <MIcon>mdi-wifi-strength-4</MIcon>
                <MIcon>mdi-signal-cellular-outline</MIcon>
                <MIcon>mdi-battery</MIcon>
                <span>12:30</span>
            </MSystemBar>
        </MCard>
    </MContainer>
</MRow>

