<MCheckbox @bind-Value="@autoHeight" HideDetails="@true" Label="AutoHeight"></MCheckbox>

<MSwiper AutoHeight="@autoHeight" @key="@autoHeight">
    <MSwiperSlide Style="height: 200px;"
                  Class="d-flex align-center justify-center surface-container-highest">
        <h3> Slide 1 </h3>
    </MSwiperSlide>
    <MSwiperSlide Style="height: 300px;"
                  Class="d-flex align-center justify-center surface-container-highest">
        <h3> Slide 2 </h3>
    </MSwiperSlide>
    <MSwiperSlide Style="height: 200px;"
                  Class="d-flex align-center justify-center surface-container-highest">
        <h3> Slide 3 </h3>
    </MSwiperSlide>
</MSwiper>

@code {

    private bool autoHeight = true;
}
