<MSwiper Height="300">
    <MSwiperSlide Class="d-flex align-center justify-center surface-container-highest">
        <h3> Slide 1 </h3>
    </MSwiperSlide>
    <MSwiperSlide Class="d-flex align-center justify-center surface-container-highest">
        <h3> Slide 2 </h3>
    </MSwiperSlide>
    <MSwiperSlide Class="d-flex align-center justify-center surface-container-highest">
        <h3> Slide 3 </h3>
    </MSwiperSlide>
</MSwiper>
