<MContainer>
    <MItemGroup>
        <MRow>
            @foreach (var i in Enumerable.Range(0, 3))
            {
                <MCol Cols="4" @key="i">
                    <MItem>
                        @{
                            <MCard Class="d-flex align-center"
                                   Color="@(context.Active ? "primary white--text" : "")"
                                   OnClick="context.Toggle"
                                   Height="200">
                                <div class="text-h3 flex-grow-1 text-center">
                                    @(context.Active ? "Selected": "Click Me!")
                                </div>
                            </MCard>
                        }
                    </MItem>
                </MCol>
            }
        </MRow>
    </MItemGroup>
</MContainer>
