<MCard Flat>
    <MContainer Fluid>
      <MRow Class="child-flex">
        <div>
          <MToolbar>
            <MButton
              Icon
              Class="hidden-xs-only"
            >
              <MIcon>mdi-arrow-left</MIcon>
            </MButton>

            <MToolbarTitle>Title</MToolbarTitle>

            <MSpacer></MSpacer>

            <MButton
              Icon
              Class="hidden-xs-only"
            >
              <MIcon>mdi-magnify</MIcon>
            </MButton>
          </MToolbar>
        </div>

        <div style="flex-basis: 20%">
          <MToolbar Dark>
            <MSpacer></MSpacer>

            <MButton Icon>
              <MIcon>mdi-reply</MIcon>
            </MButton>

            <MButton Icon>
              <MIcon>mdi-dots-vertical</MIcon>
            </MButton>
          </MToolbar>
        </div>
      </MRow>
    </MContainer>
  </MCard>