<MToolbar Color="purple" Dark>
    <MToolbarTitle>Title</MToolbarTitle>

    <MDivider Vertical Class="mx-4"></MDivider>

    <span class="subheading">My Home</span>

    <MSpacer></MSpacer>

    <MToolbarItems Class="hidden-sm-and-down">
        <MButton Text>News</MButton>

        <MDivider Vertical></MDivider>

        <MButton Text>Blog</MButton>

        <MDivider Vertical></MDivider>

        <MButton Text>Music</MButton>

        <MDivider Vertical></MDivider>
    </MToolbarItems>

    <MAppBarNavIcon></MAppBarNavIcon>
</MToolbar>
