@page "/counter"

<iframe src='https://view.xdocin.com/xdoc?_xdoc=https://img-cdn.lonsid.cn/download/1682266221.doc' width='1366px' height='623px' frameborder='0'>This is an embedded
    <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by
    <a target='_blank' href='http://office.com/webapps'>Office Online</a>.
</iframe>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
