<style>
    .parent {
        background-color: #eee;
        min-height: 40px;
        padding: 5px 0 10px 0
    }

    .item {
        margin: 5px;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        border: 1px solid rgba(0,0,0,.125);
    }

    .white-color {
        background-color: #ffffff;
    }
</style>
<MContainer>
    <MRow>
        <MCol Cols=12>
            <MDragZone OnConfigure=SetOptions Class="parent">
                <MDragItem>
                    <div class="white-color item">item1.1</div>
                </MDragItem>
                <MDragItem>
                    <div class="white-color item">item1.2</div>
                </MDragItem>
                <MDragItem>
                    <div class="white-color item">item1.3</div>
                </MDragItem>
                <MDragItem>
                    <div class="white-color item">item1.4</div>
                </MDragItem>
                <MDragItem>
                    <div class="white-color item">item1.5</div>
                </MDragItem>
            </MDragZone>
        </MCol>
    </MRow>
</MContainer>
@code {
    private void SetOptions(SorttableOptions options)
    {
        options.Group = "group_info";
    }
}