<div>
    <MAlert Color="#2A3B4D"
            Dark
            Icon="@("mdi-firework")"
            Dense>
        Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi. Vivamus quis mi. Quisque ut nisi. Maecenas malesuada.
    </MAlert>
    <MAlert Color="#C51162"
            Dark
            Icon="@("mdi-material-design")"
            Border="Borders.Right">
        Phasellus blandit leo ut odio. Morbi mattis ullamcorper velit. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. In ut quam vitae odio lacinia tincidunt.
    </MAlert>
    <MAlert Color="primary"
            Dark
            Icon="@("mi-masa")"
            Border="Borders.Left"
            Prominent>
        Praesent congue erat at massa. Nullam vel sem. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Curabitur at lacus ac velit ornare lobortis.
    </MAlert>
</div>