@if (!Disabled)
{
    <a herf="@FormattedHref" class="text-decoration-none text-right text-md-left" @onclick="OnClick"> # </a>
}

@Title


@code {

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    [EditorRequired]
    public string Title { get; set; }

    private string FormattedHref => $"#{Href ?? Title.ToLower()}";

}