@inherits LayoutComponentBase
@layout MainLayout

<div class="m-responsive mx-auto overflow-visible">
    <div class="m-responsive__content">
        <div class="markdown-body">
            @Body
        </div>
    </div>
</div>