@inherits LayoutComponentBase
@layout MainLayout

<MContainer
    Class="pa-4 pa-sm-6 pa-md-8"
    Fluid
    Tag="section">
    <MResponsive
        MaxWidth="1368"
        Class="mx-auto overflow-visible">
        <div class="markdown-body">
            @Body
        </div>
    </MResponsive>
</MContainer>