<div class="text-center">
    <PMobileDateTimePicker @bind-Value="_dateTime">
        <ActivatorContent>
            <MButton Color="primary" Class="text-capitalize" Text @attributes="@context.Attrs">
                @(_dateTime == default ? "Please select" : _dateTime)
            </MButton>
        </ActivatorContent>
    </PMobileDateTimePicker>
</div>

@code {

    private DateTime _dateTime;

}
