@inject I18n I18n

<section id="ready-for-more"
         class="my-12">
    <AppHeading Level="2" Content="@I18n.T("Components.ReadyForMore")"></AppHeading>

    <RelatedPages Related="Related"></RelatedPages>
</section>

@code {

    [Parameter]
    public IEnumerable<string>? Related { get; set; }

}
