<div>
    <MForm Model="_order" EnableDataAnnotationsValidation>
        <MTextField @bind-Value="_order.Title"
                    Label="Main input"
                    HideDetails="@("auto")"></MTextField>
        <MTextField @bind-Value="_order.Price"
                    Label="Another input"></MTextField>
    </MForm>
</div>

@code{
    private Order _order =new Order();
    public class Order
    {
        public int? Id { get; set; }
        [System.ComponentModel.DataAnnotations.Required]
        public string Title { get; set; }
        [System.ComponentModel.DataAnnotations.Range(0,25.00)]
        public decimal? Price { get; set; }
    }
}