<MContainer Fluid
            Class="text-center">
    <MRow Class="flex"
          Justify="JustifyTypes.SpaceBetween">
        <MCol Cols="12">
            <MButton OnClick="() => show = !show">
                toggle
            </MButton>
        </MCol>

        <MCol Cols="12" Class="mt-12">
            <MTooltip @bind-Value="show" Top>
                <ActivatorContent>
                    <MButton Icon @attributes="@context.Attrs">
                        <MIcon Color="grey lighten-1">mdi-cart</MIcon>
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <span>Programmatic tooltip</span>
                </ChildContent>
            </MTooltip>
        </MCol>
    </MRow>
</MContainer>

@code
{
    private bool show;
}