<MCard Class="mx-auto" MaxWidth="@Width" Elevation="@Elevation">
    @if (!HideLogo)
    {
        <MCardTitle Class="justify-center pt-9">
            <MIcon Large Left Color="purple">fas fa-seedling</MIcon>
            Masa.Test
        </MCardTitle>
    }

    <MCardTitle Class="pt-3 text-h5"> Forgot Password? 🔒</MCardTitle>
    <MCardSubtitle Class="pt-2 mb-2 text-subtitle-1">
        Enter your email and we'll send you instructions to reset your
        password
    </MCardSubtitle>

    <MCardText>
        <MTextField TValue="string" Class="mt-2" Label="Email" Placeholder="john@example.com" Outlined Dense>
        </MTextField>

        <MButton Color="#7367f0" Dark Block OnClick="SendResetClick"> Send reset link </MButton>
        <MRow NoGutters Justify="JustifyTypes.Center" Class="mt-5">
            <a style="color:#7367f0;text-decoration:none;"
               onclick="@(()=>Navigation.NavigateTo(Navigation.BaseUri+SignInRoute))">
                @("<") &nbsp;Back to login
            </a>
        </MRow>

    </MCardText>
</MCard>

@code {
    [Inject]
    public NavigationManager Navigation { get; set; } = default!;

    [Parameter]
    public bool HideLogo { get; set; }

    [Parameter]
    public double Width { get; set; } = 410;

    [Parameter]
    public StringNumber? Elevation { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> SendResetClick { get; set; }

    [Parameter]
    public string SignInRoute { get; set; } = $"pages/authentication/login-v1";
        }