<MCard Class="elevation-16 mx-auto" Width="300">
    <MCardTitle Class="text-h5">
        Rate Our Framework
    </MCardTitle>
    <MCardText>
        If you enjoy using MASA Blazor, please take a few seconds to rate your experience with the framework. It really helps!

        <div class="text-center mt-12">
            <MRating @bind-Value="_rating" Color="yellow darken-3" BackgroundColor="grey darken-1" EmptyIcon="mdi-star" HalfIncrements Hover Large></MRating>
        </div>
    </MCardText>
    <MDivider></MDivider>
    <MCardActions Class="justify-space-between">
        <MButton Text>
            No Thanks
        </MButton>
        <MButton Color="primary" Text>
            Rate Now
        </MButton>
    </MCardActions>
</MCard>

@code
{
    private double _rating = 4.5;
}