<div style="text-align:center">
	<MMenu OpenOnHover>
		<Slot>
			<MButton Color="primary">DROPDOWN</MButton>
		</Slot>

		<ChildContent>
			<MList>
				@foreach (var item in titles)
					{
	<MListItem>
	 <MListItemContent>
	  <MListItemTitle>
							@item
	  </MListItemTitle>
	 </MListItemContent>
	</MListItem>
				}
			</MList>
		</ChildContent>
	</MMenu>
</div>

@code {
	string[] titles = {
	"Click Me",
	"Click Me",
	"Click Me",
	"Click Me 2",
	};
}