<div style="text-align:center">
    <MCheckbox @bind-Checked="close" Label="close on content click"></MCheckbox>
    <MMenu CloseOnContentClick="close">
        <Activator>
            <MButton Color="primary">DROPDOWN</MButton>
        </Activator>

        <ChildContent>
            <MList>
                <MListItemGroup>
                    @foreach (var item in titles)
                        {
                    <MListItem>
                        <MListItemContent>
                            <MListItemTitle>
                                @item
                            </MListItemTitle>
                        </MListItemContent>
                    </MListItem>
                    }
                </MListItemGroup>
            </MList>
        </ChildContent>
    </MMenu>
</div>

@code {
    string[] titles = {
    "Click Me",
    "Click Me",
    "Click Me",
    "Click Me 2",
    };

    bool close = true;
}