<div>
    <MChip Close="true" Click="HandleClick">111</MChip>
    <MChip Close="true">222</MChip>
    <MChip Close="true">333</MChip>
</div>

@code{
    public void HandleClick()
    {
        
    }
}