<MRow Justify="JustifyTypes.Center">
    <MCol Cols="12" Sm="8">
        <MCard>
            <MCardTitle Class="cyan darken-1">
                <span class="text-h5 white--text">Sarah Mcbeal</span>

                <MSpacer></MSpacer>

                <MButton Dark Icon>
                    <MIcon>mdi-chevron-left</MIcon>
                </MButton>

                <MButton Dark Icon>
                    <MIcon>mdi-pencil</MIcon>
                </MButton>

                <MButton Dark Icon>
                    <MIcon>mdi-dots-vertical</MIcon>
                </MButton>
            </MCardTitle>

            <MList>
                <MListItem>
                    <MListItemAction>
                        <MIcon>mdi-phone</MIcon>
                    </MListItemAction>

                    <MListItemContent>
                        <MListItemTitle>(650) 555-1234</MListItemTitle>
                    </MListItemContent>

                    <MListItemAction>
                        <MIcon>mdi-message-text</MIcon>
                    </MListItemAction>
                </MListItem>

                <MDivider Inset></MDivider>

                <MListItem>
                    <MListItemAction>
                        <MIcon>mdi-phone</MIcon>
                    </MListItemAction>

                    <MListItemContent>
                        <MListItemTitle>(323) 555-6789</MListItemTitle>
                    </MListItemContent>

                    <MListItemAction>
                        <MIcon>mdi-message-text</MIcon>
                    </MListItemAction>
                </MListItem>

                <MDivider Inset></MDivider>

                <MListItem>
                    <MListItemAction>
                        <MIcon>mdi-email</MIcon>
                    </MListItemAction>

                    <MListItemContent>
                        <MListItemTitle>mcbeal@example.com</MListItemTitle>
                    </MListItemContent>
                </MListItem>

                <MDivider Inset></MDivider>

                <MListItem>
                    <MListItemAction>
                        <MIcon>mdi-map-marker</MIcon>
                    </MListItemAction>

                    <MListItemContent>
                        <MListItemTitle>Orlando, FL 79938</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MList>

            <MImage Src="https://picsum.photos/700?image=996" Height="200"></MImage>
        </MCard>
    </MCol>
</MRow>