<div>
    <MContainer Class="grey lighten-5">
        <MRow Class="mb-6"
              NoGutters>
            <MCol Sm="5" 
                  Md="6">
                <MCard Class="pa-2"
                       Outlined
                       tite>
                    .col-sm-5 .col-md-6
                </MCard>
            </MCol>
            <MCol 
                Sm="5" 
                OffsetSm="2" 
                Md="6"
                OffsetMd="0">
                <MCard Class="pa-2"
                       Outlined
                       tite>
                    .col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0
                </MCard>
            </MCol>
        </MRow>
        <MRow NoGutters>
            <MCol Sm="6"
                  Md="5"
                  Lg="6">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-sm-6 .col-md-5 .col-lg-6
                </MCard>
            </MCol>
            <MCol Sm="6"
                  Md="5"
                  OffsetMd="2"
                  Lg="6"
                  OffsetLg="0">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0
                </MCard>
            </MCol>
        </MRow>
    </MContainer>
</div>