<MHover>
    <MCard @attributes="context.Attrs" Class="@($"mx-auto {context.Class}")" Color="grey lighten-4" MaxWidth="600">
        <MImage Src="https://cdn.vuetifyjs.com/images/cards/kitchen.png" AspectRatio="@(16/9)">
            <ExpandTransition>
                <Element If="@context.Hover" class="d-flex transition-fast-in-fast-out orange darken-2 text-h2 white--text"
                         Style="@("height:100%; width: 100%; align-items: center; bottom: 0; justify-content: center;opacity: .5; position: absolute;")">
                    $14.99
                </Element>
            </ExpandTransition>
        </MImage>
        <MCardText Class="pt-6" Style="position:relative;">
            <MButton Absolute Color="orange" Class="white--text" Fab Large Right Top>
                <MIcon>mdi-cart</MIcon>
            </MButton>
            <div class="font-weight-light grey--text text-h6 mb-2">
                For the perfect meal
            </div>
            <h3 class="text-h4 font-weight-light orange--text mb-2">
                QW cooking utensils
            </h3>
            <div class="font-weight-light text-h6 mb-2">
                Our Vintage kitchen utensils delight any chef.<br>
                Made of bamboo by hand
            </div>
        </MCardText>
    </MCard>
</MHover>