<div class="surface-container-high" style="height: 100%; max-width: 380px; margin: 0 auto;">
    <MCellGroup Outlined>
        <MCell Title="Storage" Href="/blazor/mobiles/cell#storage"></MCell>
        <MCell Title="Text Size" Href="/blazor/mobiles/cell#text-size"></MCell>
        <MCell Title="Photos, Videos, Files & Calls" Href="/blazor/mobiles/cell#miscs"></MCell>
        <MCell Title="Listen" Href="/blazor/mobiles/cell#listen"></MCell>
    </MCellGroup>
</div>
