<MContainer>
	<MRow Align="AlignTypes.Center" Justify="JustifyTypes.Center">
		<MBadge OverLap Bordered Color="error" Icon="mdi-lock">
			<ChildContent>
				<MButton Class="white--text" Color="error" Depressed>Lock Account
				</MButton>
			</ChildContent>
		</MBadge>
		<div class="mx-3">
		</div>
		<MBadge Bordered Bottom Color="deep-purple accent-4" Dot OffsetX="10" OffsetY="10">
			<ChildContent>
				<MAvatar Size="40">
					<MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/lists/2.png">
					</MImage>
				</MAvatar>
			</ChildContent>
		</MBadge>
		<div class="mx-3">
		</div>
		<MBadge Avatar Bordered OverLap>
			<BadgeContent>
				<MAvatar>
					<MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/logos/b.svg">
					</MImage>
				</MAvatar>
			</BadgeContent>
			<ChildContent>
				<MAvatar Size="40">
					<MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/jack.png">
					</MImage>
				</MAvatar>
			</ChildContent>
		</MBadge>
	</MRow>
</MContainer>