<MContainer>
	<MRow Justify="JustifyTypes.SpaceAround">
		<div>
			<MButton Class="mx-1" Color="primary" OnClick="Send">Send Message
			</MButton>
			<MButton Class="mx-1" Color="error" OnClick="Clear">Clear Notifications
			</MButton>
		</div>
		<MBadge Content="_message" Value="_message != 0" Color="green"
		OverLap>
			<ChildContent>
				<MIcon Large>mi-masa</MIcon>
			</ChildContent>
		</MBadge>
	</MRow>
</MContainer>

@code
{
    private int _message = 0;

    private void Send() => _message++;

    private void Clear() => _message = 0;
}