<div>
    <MRow>
        <MCol Span="24">MCol-24</MCol>   
    </MRow>
    <MRow>
        <MCol Span="12">MCol-12</MCol>
        <MCol Span="12">MCol-12</MCol>
    </MRow>
    <MRow>
        <MCol Span="8">MCol-8</MCol>
        <MCol Span="8">MCol-8</MCol>
        <MCol Span="8">MCol-8</MCol>
    </MRow>
    <MRow>
        <MCol Span="6">MCol-6</MCol>
        <MCol Span="6">MCol-6</MCol>
        <MCol Span="6">MCol-6</MCol>
        <MCol Span="6">MCol-6</MCol>
    </MRow>
</div>
