<div class="ma-5 pa-5">
    <MContainer Class="grey lighten-5">
        <MRow>
            <MCol Md="4">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-md-4
                </MCard>
            </MCol>
            <MCol Md="4"
                  Class="ml-auto">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-md-4 .ml-auto
                </MCard>
            </MCol>
        </MRow>
        <MRow>
            <MCol Md="3"
                  Class="ml-md-auto">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-md-3 .ml-md-auto
                </MCard>
            </MCol>
            <MCol Md="3"
                  Class="ml-md-auto">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-md-3 .ml-md-auto
                </MCard>
            </MCol>
        </MRow>
        <MRow>
            <MCol Class="mr-auto" Cols="@("auto")"> 
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-auto .mr-auto
                </MCard>
            </MCol>
            <MCol Cols="@("auto")">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    .col-auto
                </MCard>
            </MCol>
        </MRow>
    </MContainer>
</div>
