<div>
    <MContainer Class="grey lighten-5">
        <MRow NoGutters>
            <MCol Order="@("last")">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    First, but last
                </MCard>
            </MCol>
            <MCol>
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    Second, but unordered
                </MCard>
            </MCol>
            <MCol Order="@("first")">
                <MCard Class="pa-2"
                       Outlined
                       tile>
                    Third, but first
                </MCard>
            </MCol>
        </MRow>
    </MContainer>
</div>