<div>
    <div class="d-flex">
        <MCheckbox @bind-Value="_readonly" Label="Readonly"></MCheckbox>
    </div>

    <MExpansionPanels @bind-Values="panel" Readonly="_readonly" Multiple>
        <MExpansionPanel>
            <MExpansionPanelHeader>Panel 1</MExpansionPanelHeader>
            <MExpansionPanelContent>
                Some content
            </MExpansionPanelContent>
        </MExpansionPanel>

        <MExpansionPanel>
            <MExpansionPanelHeader>Panel 2</MExpansionPanelHeader>
            <MExpansionPanelContent>
                Some content
            </MExpansionPanelContent>
        </MExpansionPanel>

        <MExpansionPanel>
            <MExpansionPanelHeader>Panel 3</MExpansionPanelHeader>
            <MExpansionPanelContent>
                Some content
            </MExpansionPanelContent>
        </MExpansionPanel>
    </MExpansionPanels>
</div>


@code {
    List<StringNumber> panel = new() {0, 1};

    bool _readonly;
}