<MSwiper Height="300"
         SpaceBetween="24">
    <MSwiperSlide Style="background-color: #ebedf0" Class="d-flex align-center justify-center">
        <h3> Slide 1 </h3>
    </MSwiperSlide>
    <MSwiperSlide Style="background-color: #ebedf0" Class="d-flex align-center justify-center">
        <h3> Slide 2 </h3>
    </MSwiperSlide>
    <MSwiperSlide Style="background-color: #ebedf0" Class="d-flex align-center justify-center">
        <h3> Slide 3 </h3>
    </MSwiperSlide>
</MSwiper>
