<div>
    <MToolbar Dark
              Prominent
              Src="/_content/Masa.Blazor.Docs/img/bg-2.png">
        <MAppBarNavIcon></MAppBarNavIcon>

        <MToolbarTitle>MASA Blazor</MToolbarTitle>

        <MSpacer></MSpacer>

        <MButton Icon>
            <MIcon>mdi-export</MIcon>
        </MButton>
    </MToolbar>
</div>