<div>
    <MToolbar Dark
               Prominent
               Src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
        <MAppBarNavIcon></MAppBarNavIcon>

        <MToolbarTitle>Vuetify</MToolbarTitle>

        <MSpacer></MSpacer>

        <MButton Icon>
            <MIcon>mdi-export</MIcon>
        </MButton>
    </MToolbar>
</div>