<div>
    <MToolbar Dark
               Prominent
               Src="https://cdn.masastack.com/stack/images/website/masa-blazor/backgrounds/banner.png">
        <MAppBarNavIcon></MAppBarNavIcon>

        <MToolbarTitle>MASA Blazor</MToolbarTitle>

        <MSpacer></MSpacer>

        <MButton Icon>
            <MIcon>mdi-export</MIcon>
        </MButton>
    </MToolbar>
</div>