<div class="text-center">
    <MChip Class="ma-2"
           Color="success"
           Outlined>
        <MIcon Left>
            mdi-server-plus
        </MIcon>
        Server Status
    </MChip>

    <MChip Class="ma-2"
           Color="primary"
           Outlined>
        User Account
        <MIcon Right>
            mdi-account-outline
        </MIcon>
    </MChip>

    <MChip Class="ma-2"
           Color="deep-purple accent-4"
           Outlined>
        <MIcon Left>
            mdi-wrench
        </MIcon>
        Update Settings
    </MChip>

    <MChip Class="ma-2"
           Close
           Color="indigo darken-3"
           Outlined>
        <MIcon Left>
            mdi-fire
        </MIcon>
        New Posts Available
    </MChip>
</div>