<div class="text-center">
    <MBottomSheet @bind-Value="sheet">
        <ActivatorContent>
            <MButton Color="purple" Dark @attributes="@context.Attrs">Open Playground</MButton>
        </ActivatorContent>
        <ChildContent>
            <MSheet Class="text-center" Height="200">
                <MButton Class="mt-6" Color="error" OnClick="() => sheet = !sheet">Close</MButton>
            </MSheet>
        </ChildContent>
    </MBottomSheet>
</div>

@code {

    bool sheet;

}