<MRow>
    <MCol Cols="12"
          Sm="6">
        <MDatePicker @bind-Value="_dates"
                     Multiple>
        </MDatePicker>
    </MCol>
    <MCol Cols="12"
          Sm="6">
        @if (_dates.Any())
        {
            foreach (var date in _dates)
            {
                <MChip Class="ma-1">@date</MChip>
            }
        }
        else
        {
            <span>Please select a date...</span>
        }
    </MCol>
</MRow>

@code {

    private IList<DateOnly> _dates = new List<DateOnly>
    {
        new DateOnly(2018, 9, 15),
        new DateOnly(2018, 9, 20)
    };

}
