name: pr

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: 

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
    - name: git pull
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - run: git submodule foreach git checkout main
    - name: setting dotnet 
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true
    - name: setting tools
      run: dotnet workload install wasm-tools
    - name: build
      run: dotnet build src