<div>
    <MIcon OnClick="e=>visible = !visible">mdi-chevron-right</MIcon>
    <MIcon OnClick="e=>UpdateIcon()">@icon</MIcon>
    <MIcon OnClick="e=>visible = !visible" Disabled>mdi-chevron-right</MIcon>
    <MAlert @bind-Visible="visible"
            Border="AlertBorder.Left"
            Color="deep-purple accent-4"
            Dark>
        点击图标显示隐藏
    </MAlert>
</div>

@code {
    bool visible = false;
    string icon = "home";

    private void UpdateIcon()
    {
        icon = "mdi-email";
    }
}
