<MRow Justify="JustifyTypes.SpaceAround">
	<MAvatar Color="indigo">
		<MIcon Dark>mdi-account-circle</MIcon>
	</MAvatar>

	<MAvatar>
		<MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/jack.png" Alt="Jack"></MImage>
	</MAvatar>

	<MAvatar Color="red">
		<span class="white--text text-h5">CJ</span>
	</MAvatar>
</MRow>